
  <!-- START TEMPLATE MANAGER -->
 <lucid-modal showmodal="$root.templateModal" ng-init="$root.templateModal = true;" width="800" height="400" title="Select Document Type">
 	<div>

 	<div class="search">
          <input  id="template-manager-search-box" ng-model="q" placeholder="Search Document Types" type="text" class="ng-pristine ng-valid ng-touched">
          <svg id="search" width="18" height="18" xmlns="http://www.w3.org/2000/svg"><path d="M3.5 7.5C3.5 5.5 5 4 7 4c2 0 3.5 1.5 3.5 3.5S9 11 7 11c-2 0-3.5-1.6-3.5-3.5zm12 7.4L11 10.3c.6-.8 1-1.8 1-3 0-2.7-2.2-5-5-5s-5 2.3-5 5c0 2.8 2.2 5 5 5 1 0 2-.3 3-1l4.5 4.6 1-1z" fill="#5A5A5A" fill-rule="evenodd" class="primary"></path></svg>
        </div>

	    <lucid-finger-tabs>
	        <lucid-finger-tab>
	            <div ng-repeat="template in templates | filter:q as results" class="image__cell is-collapsed" ng-class="{'is-expanded': expanded == true}" click-outside="expanded=false;" ng-hide='!q.length' >
                          <div class="image--basic">
                            <a href="#expand-jump-1" ng-click="expanded = !expanded" style="display: inline-block; position: relative; background: #e6e6e6; border-radius: 4px; height: 89px; width: 100%;">
                              <div class="title">{{template.name}}</div>
                              <div style="height: 40px; width: 50px; margin: 10px auto; background:url({{template.preview}});  background-repeat: no-repeat; background-size:contain; background-position: center center;"></div>
                               <div class="recommended" ng-if="template.recommended == 'true'">Recommended</div>
                            </a>
                            <div class="arrow--up"></div>
                             
                          </div>
                         
                          <div class="image--expand">
                            <a href="#close-jump-1" class="expand__close" ng-click="expanded=false;"></a>

                              <div class="exampleShapeSection" style="width:60%; display: inline-block; background: #e6e6e6; padding: 15px; float: left;">

                              	<div class="toggle" style="text-align: center; margin: 0 auto; padding-bottom: 10px;" ng-init="example = true;">
	                                <a ng-click="example = true; shape=false;" ng-class="{'active': example == true}" class="lucid-white" icon="components/0.0/icon/img/html-white.svg" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">Examples</a>
	                                <a ng-click="example = false; shape=true;" ng-class="{'active': shape == true}" class="lucid-white" icon="components/0.0/icon/img/html-white.svg" style="margin-left: -4px; border-bottom-left-radius: 0px; border-top-left-radius: 0px;">Shapes</a>
	                                
                                </div>
                                <div class="examples" ng-show="example == true;">
	                                <div class="mainPreview" ng-mouseenter="showLink = true;" ng-mouseleave="showLink = false" ng-init="mainImage = template.example1" style="background:url({{mainImage}}); background-repeat: no-repeat; min-height: 150px; width: 100%; border-radius: 4px; background-size: contain; background-position: center center; background-color: white;display: inline-block; position: relative">
	                                	
	                                </div>
	                               
	                                <div class="smallPreviewWrapper" style="display: block;">
	                                  <div class="smallPreview" ng-mouseenter="mainImage = template.example1" ng-mouseleave="mainImage = template.example1" style="background:url({{template.example1}}); background-repeat: no-repeat; min-height: 50px; width: 20%; margin: 10px 5px 0px 5px; background-size: contain; background-position: center center; background-color: white; display: inline-block;"></div>
	                                   <div class="smallPreview" ng-mouseenter="mainImage = template.example2" ng-mouseleave="mainImage = template.example1" style="background:url({{template.example2}}); background-repeat: no-repeat; min-height: 50px; width: 20%;  margin: 10px 5px 0px 5px; background-size: contain; background-position: center center; background-color: white; display: inline-block;"></div>
	                                   <div class="smallPreview" ng-mouseenter="mainImage = template.example3" ng-mouseleave="mainImage = template.example1" style="background:url({{template.example3}}); background-repeat: no-repeat; min-height: 50px; width: 20%;  margin: 10px 5px 0px 5px; background-size: contain; background-position: center center; background-color: white; display: inline-block;"></div>
	                                   <div class="smallPreview" ng-mouseenter="mainImage = template.example4" ng-mouseleave="mainImage = template.example1" style="background:url({{template.example4}}); background-repeat: no-repeat; min-height: 50px; width: 20%; margin: 10px 5px 0px 5px; background-size: contain; background-position: center center; background-color: white; display: inline-block;"></div>
	                                </div>
                                </div>

                                <div class="shapes" ng-show="shape == true;" style="overflow: scroll; max-height: 250px; min-height: 250px;">

                                    <li ng-repeat="shapegroup in lucidGroups"
                                        class="lucid-shape-group-wrapper manager"
                                        ng-class="{'no-transition': !loadingshapes}"
                                        ng-if="shapegroup.lucidgroup == template.name || shapegroup.groupname == template.name">
                                        <!-- START SHAPE GROUP INSIDE MANAGER -->
                                        <div class="lucid-shape-group" ng-class="{ 'custom-library' : shapegroup.custom, 'disabled' : $root.draggingshape && !shapegroup.custom,'lucid-hide-shapes': hideshapes, 'dragging-shape' : $root.draggingshape && shapegroup.custom }">
                                          <div class="lucid-hide-shapes-icon" ng-click="hideshapes = !hideshapes">
                                       
                                          </div>
                                          <div class="shape-group-top" ng-class="{'shapegroup-pinned': shapegroup.pinned}">
                                            <span class="shape-group-name">{{shapegroup.groupname}}</span>
                                          </div>
                                          
                                          <div class="slide-toggle" ng-hide="hideshapes">
                                              <ul class="shapes-wrapper"

                                                dnd-list="shapegroup.shapes"
                                                dnd-allowed-types="[shapegroup.custom]"
                                                dnd-horizontal-list="true"
                                                dnd-external-sources="false"
                                                dnd-dragover="dragoverCallback(event, index, external, type)"
                                                dnd-drop="dropCallback(event, index, item, external, type, 'itemType')"
                                                dnd-inserted="logEvent('Element was inserted at position ' + index, event)">

                                                <li ng-repeat="shape in shapegroup.shapes track by $index"
                                                    dnd-draggable="shape"
                                                    dnd-type="'custom'"
                                                    dnd-effect-allowed="copyMove"
                                                    dnd-dragstart="logEvent('Started to drag an item', event); $root.draggingshape = true"
                                                    dnd-moved="shapegroups.shapes.splice($index, 1); logEvent('Item moved', event)"
                                                    dnd-copied="logEvent('Item copied', event)"
                                                    dnd-canceled="logEvent('Drag operation canceled', event)"
                                                    dnd-dragend="logEvent('Drag operation ended', event); $root.draggingshape = false"

                                                    class="lucid-shape repeat-animation lucid-animate">  
                                                    <div ng-bind-html="shape.svg | sanitize"> </div>
                                                </li>
                                            </ul>
                                              
                                          </div>
                                      </div>
                                        <!-- END SHAPE GROUP INSIDE MANAGER -->
                                        
                                    </li>
                             


                                </div>




                              </div>
                              <div class="information" style="display: inline-block; width: 30%; padding: 15px 8px; ">
                                <div style="padding-bottom: 10px; font-size: 16px;">{{template.name}}</div>
                                <div style="padding-bottom: 10px; font-size: 12px; line-height: 15px;">{{template.details}}<a href="https://www.lucidchart.com/pages/process-mapping" target="_blank" style="text-align: center; color: rgb(41,170,225)"> Learn More</a></div>
                                
                                <button style="font-size: 12px" ng-click="$root.showtemplatemanager = false; loadDiagram(template);" class="lucid-button lucid-blue">Create {{template.name}}</button>
                               

                              </div>

                              </div>
                          </div>

                          <p style="text-align: center; color: black;" ng-hide="results.length"> No matching searches. What were you looking for?</p>
            <p style="text-align: center; color: black;" ng-show = "!q.length">Type in the box to the left to begin searching</p>
	        </lucid-finger-tab>

	        <lucid-finger-tab name="All" selected>
	                   <div ng-repeat="template in templates" class="image__cell is-collapsed" ng-class="{'is-expanded': expanded == true}" click-outside="expanded=false;" >
                          <div class="image--basic">
                            <a href="#expand-jump-1" ng-click="expanded = !expanded; toggleClass('example1', template);" style="display: inline-block; position: relative; background: #e6e6e6; border-radius: 4px; height: 89px; width: 100%;">
                              <div class="title">{{template.name}}</div>
                              <div style="height: 40px; width: 50px; margin: 10px auto; background:url({{template.preview}});  background-repeat: no-repeat; background-size:contain; background-position: center center;"></div>
                               <div class="recommended" ng-if="template.recommended == 'true'">Recommended</div>
                            </a>
                            <div class="arrow--up"></div>
                             
                          </div>
                         
                          <div class="image--expand">
                            <a href="#close-jump-1" class="expand__close" ng-click="expanded=false;"></a>

                              <div class="exampleShapeSection" style="width:55%; display: inline-block; background: #e6e6e6; padding: 15px; float: left;">

                              	<div class="toggle" style="text-align: center; margin: 0 auto; padding-bottom: 10px;" ng-init="example = true;">
	                                <a ng-click="example = true; shape=false;" ng-class="{'active': example == true}" class="lucid-white" icon="components/0.0/icon/img/html-white.svg" style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">Examples</a>
	                                <a ng-click="example = false; shape=true;" ng-class="{'active': shape == true}" class="lucid-white" icon="components/0.0/icon/img/html-white.svg" style="margin-left: -4px; border-bottom-left-radius: 0px; border-top-left-radius: 0px;">Shapes</a>
	                                
                                </div>
                                <div class="examples" ng-show="example == true;">
	                                <div class="mainPreview" ng-mouseenter="showButton = true;" ng-mouseleave="showButton = false" ng-init="mainImage = template.example1" style="background:url({{mainImage}}); background-repeat: no-repeat; min-height: 150px; width: 100%; border-radius: 4px; background-size: contain; background-position: center center; background-color: white;display: inline-block; position: relative">


	                                 <div class="mainPreviewButton" ng-show="showButton" style="background: gray; width: 100%; position: absolute; bottom: 0; left: 0; z-index: 1000; border-radius: 0px 0px 4px 4px;">
	                                 <button style="font-size: 12px; margin: 5px;" ng-click="$root.templateModal = false; $root.canvasImage=true; $root.canvasImageURL = currentExample;" class="lucid-button lucid-blue">Create {{template.name}}</button>

	                                </div>
	                                	
	                                </div>
	                                <div class="smallPreviewWrapper" style="display: block;" ng-init="toggleClass('example1',template);">
	                                  <div class="smallPreview" ng-click="toggleClass('example1', template);" ng-mouseenter="mainImage = template.example1" ng-mouseleave="mainImage = currentExample;" style="background:url({{template.example1}}); background-repeat: no-repeat; background-size: contain; background-position: center center; background-color: white; display: inline-block; margin-left: 0px;">
	                                  	<div class="previewCheck" ng-show="example1"><img src="images/check.svg"></div>
	                                  </div>
	                                   <div class="smallPreview" ng-click="toggleClass('example2', template);" ng-mouseenter="mainImage = template.example2" ng-mouseleave="mainImage = currentExample" style="background:url({{template.example2}}); background-repeat: no-repeat; background-size: contain; background-position: center center; background-color: white; display: inline-block;">
	                                   		<div class="previewCheck" ng-show="example2"><img src="images/check.svg"></div>
	                                   </div>
	                                   <div class="smallPreview" ng-click="toggleClass('example3', template);" ng-mouseenter="mainImage = template.example3" ng-mouseleave="mainImage = currentExample" style="background:url({{template.example3}}); background-repeat: no-repeat; background-size: contain; background-position: center center; background-color: white; display: inline-block;">
	                                   	<div class="previewCheck" ng-show="example3"><img src="images/check.svg"></div>
	                                   </div>
	                                   <div class="smallPreview" ng-click="toggleClass('example4', template);" ng-mouseenter="mainImage = template.example4" ng-mouseleave="mainImage = currentExample" style="background:url({{template.example4}}); background-repeat: no-repeat; background-size: contain; background-position: center center; background-color: white; display: inline-block;">
	                                   	<div class="previewCheck" ng-show="example4"><img src="images/check.svg"></div>
	                                   </div>
	                                   <div ng-click="toggleClass('example5', template);" class="smallPreview" ng-mouseenter="mainImage = template.example4" ng-mouseleave="mainImage = currentExample" style="background:url({{template.example4}}); background-repeat: no-repeat; background-size: contain; background-position: center center; background-color: white; display: inline-block; margin-right: 0px;">
	                                   	<div class="previewCheck" ng-show="example5"><img src="images/check.svg"></div>
	                                   </div>
	                                </div>
                                </div>
                                <div class="shapes" ng-show="shape == true;" style="overflow: scroll; max-height: 250px; min-height: 250px;">

                                    <li ng-repeat="shapegroup in lucidGroups"
                                        class="lucid-shape-group-wrapper manager"
                                        ng-class="{'no-transition': !loadingshapes}"
                                        ng-if="shapegroup.lucidgroup == template.name || shapegroup.groupname == template.name">
                                        <!-- START SHAPE GROUP INSIDE MANAGER -->
                                        <div class="lucid-shape-group" ng-class="{ 'custom-library' : shapegroup.custom, 'disabled' : $root.draggingshape && !shapegroup.custom,'lucid-hide-shapes': hideshapes, 'dragging-shape' : $root.draggingshape && shapegroup.custom }">
                                          <div class="lucid-hide-shapes-icon" ng-click="hideshapes = !hideshapes">
                                       
                                          </div>
                                          <div class="shape-group-top" ng-class="{'shapegroup-pinned': shapegroup.pinned}">
                                            <span class="shape-group-name">{{shapegroup.groupname}}</span>
                                          </div>
                                          
                                          <div class="slide-toggle" ng-hide="hideshapes">
                                              <ul class="shapes-wrapper"

                                                dnd-list="shapegroup.shapes"
                                                dnd-allowed-types="[shapegroup.custom]"
                                                dnd-horizontal-list="true"
                                                dnd-external-sources="false"
                                                dnd-dragover="dragoverCallback(event, index, external, type)"
                                                dnd-drop="dropCallback(event, index, item, external, type, 'itemType')"
                                                dnd-inserted="logEvent('Element was inserted at position ' + index, event)">

                                                <li ng-repeat="shape in shapegroup.shapes track by $index"
                                                    dnd-draggable="shape"
                                                    dnd-type="'custom'"
                                                    dnd-effect-allowed="copyMove"
                                                    dnd-dragstart="logEvent('Started to drag an item', event); $root.draggingshape = true"
                                                    dnd-moved="shapegroups.shapes.splice($index, 1); logEvent('Item moved', event)"
                                                    dnd-copied="logEvent('Item copied', event)"
                                                    dnd-canceled="logEvent('Drag operation canceled', event)"
                                                    dnd-dragend="logEvent('Drag operation ended', event); $root.draggingshape = false"

                                                    class="lucid-shape repeat-animation lucid-animate">  
                                                    <div ng-bind-html="shape.svg | sanitize"> </div>
                                                </li>
                                            </ul>
                                              
                                          </div>
                                      </div>
                                        <!-- END SHAPE GROUP INSIDE MANAGER -->
                                    </li>
                             



                                </div>
                              </div>
                              <div class="information" style="display: inline-block; width: 30%; padding: 15px 8px; ">
                                <div style="padding-bottom: 10px; font-size: 16px;">{{template.name}}</div>
                                <div style="padding-bottom: 10px; font-size: 12px; line-height: 15px;">{{template.details}}<a href="https://www.lucidchart.com/pages/process-mapping" target="_blank" style="text-align: center; color: rgb(41,170,225)"> Learn More</a></div>
                                
                                <button style="font-size: 12px" ng-click="$root.templateModal = false;" class="lucid-button lucid-blue">Create {{template.name}}</button>
                               

                              </div>

                              </div>
                          </div>
	        </lucid-finger-tab>
	        <lucid-finger-tab name="Popular">
	            Tab 3
	        </lucid-finger-tab>
	        <lucid-finger-tab name="Recent">
	            Tab 3
	        </lucid-finger-tab>
	         <lucid-finger-tab name="IT / Engineering" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-person-22px.svg">
	            Tab 3
	        </lucid-finger-tab>
	         <lucid-finger-tab name="Business" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-person-22px.svg">
	            Tab 3
	        </lucid-finger-tab>
	         <lucid-finger-tab name="Education" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-person-22px.svg">
	            Tab 3
	        </lucid-finger-tab>
	         <lucid-finger-tab name="Design" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-person-22px.svg">
	            Tab 3
	        </lucid-finger-tab>
	    </lucid-finger-tabs>
	</div>
</lucid-modal>