<div id="right-dock" ng-controller="RightDockCtrl" ng-class="{ open: rightDock, 'manage-shapes': $root.manageshapes }">
    <!-- RIGHT DOCK ICONS -->
    <ng-include 
        class="close-arrows" 
        src="'http://particle.golucid.co/components/3.0/icon/icons/icon-double-arrow-18px.svg'" 
        ng-click="closeRightDock();"></ng-include>
    <div 
        class="icon-wrapper input-label" 
        ng-class="{active: openTab == 'pageSettings'}" 
        ng-click="$root.setTab('pageSettings');">
        <div class="icon share">
            <img src="http://particle.golucid.co/components/3.0/icon/icons/icon-page-outline-22px.svg" class="full" />
        </div>
        <span>Settings</span>
    </div>
    <div 
        class="icon-wrapper input-label" 
        ng-class="{active: openTab == 'layers'}" 
        ng-click="$root.setTab('layers');">
        <div class="icon share"><img src="http://particle.golucid.co/components/3.0/icon/icons/icon-layers-22px.svg" class="full" /></div><span>Layers</span>
    </div>
    <div class="icon-wrapper input-label" ng-class="{active: openTab == 'comments'}" ng-click="$root.setTab('comments');">
        <div class="icon share"><img src="http://particle.golucid.co/components/3.0/icon/icons/icon-comment-22px.svg" class="full" /></div><span>Comment</span>
    </div>
    <div 
        class="icon-wrapper input-label lucid-animate" 
        ng-class="{active: openTab == 'present'}" 
        ng-click="$root.setTab('present'); showTooltipPresent=false">
        <div class="icon share"><img src="http://particle.golucid.co/components/3.0/icon/icons/icon-present-22px.svg" class="full" /></div><span>Present</span>
    </div>
    <div class="icon-wrapper input-label lucid-animate" ng-class="{active: openTab == 'history'}" ng-click="$root.setTab('history'); showTooltipHistory=false;">
        <div class="icon share"><img src="http://particle.golucid.co/components/3.0/icon/icons/icon-clock-fill-22px.svg" class="full" /></div><span>History</span>
    </div>
    <!-- END RIGHT DOCK ICONS -->
    <!-- RIGHT DOCK PANEL CONTENT -->
    <div class="right-panel">
        <div id="pageSettings" class="container" ng-show="openTab === 'pageSettings'">
            <header>Page Settings</header>
            <div style="padding: 15px 15px 15px 16px;">
                <lucid-collapse-bar title="Page">
                    <ul class="page-settings">
                        <li>
                            <lucid-buttcon icon="http://particle.golucid.co/components/0.1/icon/img/colorpicker-solid-22px.svg" label="color"></lucid-buttcon>
                        </li>
                        <li class="no-padding">
                            <lucid-select class="condensed" width="165" label="page size" options="[ 'Letter (8.5x11.0)', 'Legal (8.5x14.0)', 'Executive (7.3x10.5)', 'A3 (11.7x16.5)', 'A4 (8.3x11.7)', 'A5 (5.8x8.3)', 'Tabloid (11.0x17.0)', 'Folio (8.5x13.0)', 'Statement (5.5x8.5)', 'Custom...']">
                            </lucid-select>
                        </li>
                        <li class="no-padding">
                            <lucid-toggle activetext="AUTO" label="page tiling" width="52" toggle="true"></lucid-toggle>
                        </li>
                        <li class="no-padding">
                            <lucid-input-stepper label="scale" number="100" unit="%" width="70" class="condensed"></lucid-input-stepper>
                        </li>
                        <li class="no-padding">
                            <lucid-buttcon icon="http://particle.golucid.co/components/3.0/icon/icons/icon-page-fit-22px.svg" label="fit"></lucid-buttcon>
                        </li>
                    </ul>
                </lucid-collapse-bar>
                <lucid-collapse-bar title="Line Options" closed="true">
                    <img style="width:184px;padding-top:10px;padding-left:5px;" src="assets/placeholder-pagelineoptions-Snyder.png">
                </lucid-collapse-bar>
                <lucid-collapse-bar title="Guides" closed="true">
                    <ul class="page-settings">
                        <li>
                            <lucid-toggle label="GUIDES" toggle="true"></lucid-toggle>
                        </li>
                        <li>
                            <lucid-toggle label="SNAP" toggle="false"></lucid-toggle>
                        </li>
                        <li>
                            <lucid-buttcon icon="http://particle.golucid.co/components/0.0/icon/img/add-comment-dark.svg" label="reset" class="condensed"></lucid-buttcon>
                        </li>
                    </ul>
                </lucid-collapse-bar>
                <lucid-collapse-bar title="Grid" closed="true">
                    <ul class="page-settings">
                        <li>
                            <lucid-toggle label="GRID" toggle="true"></lucid-toggle>
                        </li>
                        <li>
                            <lucid-toggle label="SNAP" toggle="false"></lucid-toggle>
                        </li>
                        <li>
                            <lucid-input-stepper label="size" number=".125" step=".125" unit="in" width="70" class="condensed"></lucid-input-stepper>
                        </li>
                    </ul>
                </lucid-collapse-bar>
                <lucid-collapse-bar title="Margin" closed="true">
                    <ul class="page-settings">
                        <li>
                            <lucid-toggle label="MARGIN" toggle="true"></lucid-toggle>
                        </li>
                        <li>
                            <lucid-input-stepper label="size" number=".125" step=".125" unit="in" width="70" class="condensed"></lucid-input-stepper>
                        </li>
                    </ul>
                </lucid-collapse-bar>
                <lucid-collapse-bar title="Rulers" closed="true">
                    <ul class="page-settings">
                        <li>
                            <lucid-toggle label="Rulers" toggle="true"></lucid-toggle>
                        </li>
                        <li>
                            <lucid-select class="condensed" width="80" label="Units" options="['inches', 'cm', 'mm', 'pts']">
                                <lucid-select>
                        </li>
                    </ul>
                </lucid-collapse-bar>
            </div>
        </div>
        <div id="interact" class="container" ng-show="openTab === 'layers'">
            <header>Layers</header><img src="assets/placeholder-layers-v4.png" />
        </div>
        <div id="comments" class="container" ng-show="openTab === 'comments'">
            <header>Comments</header><img src="assets/placeholder-comments-v4.png" />
        </div>
        <div id="present" class="container" ng-show="openTab === 'present'">
            <header>Present</header><img src="assets/placeholder-present-v4.png" />
            <footer id="present-trigger"><img src="assets/placeholder-present-2-v4.png" /></footer>
        </div>
        <div id="history" class="container" ng-show="openTab === 'history'">
            <header>History</header><img src="assets/placeholder-history-top-v4.png" />
            <footer><img src="assets/placeholder-history-bottom-v4.png"></footer>
        </div>
    </div>
    <div class="hover-handle" ng-mouseenter="enterRightPanel()" ng-mouseleave="cancelHover()" ng-if="canvasmode !== 0"></div>
</div>