<div class="lucid-shapes-panel-wrapper" selected=selectedBlock>
    <div class="lucid-shapes-panel" ng-class="{ 'lucid-managing-shapes': $root.manageshapes }">
        <div class="lucid-pinned-shapes-panel">
            <header class="lucid-shapes-header">
                <span ng-click="$root.manageshapes=!$root.manageshapes">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-gear-bluesteel.svg" class="lucid-icon-22 lucid-shapes-gear">
                <span class="lucid-more-shapes">Shapes</span>
                </span>
                <img src="https://lucidsoftware.github.io/particle/components/0.0/icon/img/search-dark.svg" ng-hide="$root.manageshapes" class="lucid-icon-22 lucid-shapes-search">
            </header>
            <div id="left-panel-shapes" class="lucid-shapes-scroll">
                <div id="left-panel-shapes-scroll" class="lucid-scroll-inner-wrap">
                    <ul dnd-list="shapegroups"
                        dnd-allowed-types="['containerType']"
                        dnd-external-sources="true"
                        dnd-dragover="dragoverCallback(event, index, external, type)"
                        dnd-drop="dropCallback(event, index, item, external, type, 'containerType')"
                        class="lucid-group-drop-area">
                        <li ng-repeat="shapegroup in shapegroups | filter:{pinned:'true'} | orderBy:'pinnedOrder'"
                            dnd-draggable="shapegroup"
                            dnd-type="'containerType'"
                            dnd-effect-allowed="move"
                            dnd-moved="pinnedgroups.splice($index, 1)"
                            class="lucid-shape-group-wrapper left-panel repeat-animation lucid-animate">

                        	<lucid-shape-group shapes="shapegroup.shapes" name="{{shapegroup.groupname}}" custom="{{shapegroup.custom}}"></lucid-shape-group>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div ng-drag-clone="" class="ng-binding" draggable="false">
                <div ng-bind-html="clonedData.svg | sanitize"></div>
            </div> -->
            <lucid-import-options ng-show="!$root.manageshapes"></lucid-import-options>
            <div class="overflow-message lucid-animate" ng-show="overflowMessage">"{{overflowMessageTitle}}" Pinned</div>
        </div>
        <div class="lucid-shape-manager lucid-manage-shapes lucid-animate" ng-show="$root.manageshapes">
            <div class="lucid-shape-manager-top-bar">
                <div class="top-bar-inner" ng-show="$root.manageshapes">
                    <button id="new-shapegroup" class="lucid-new-library lucid-button" ng-click="newCustomGroup()">+ Custom Group</button>
                    <div class="lucid-search-container">
                        <input type="text" placeholder="Search Shapes" ng-model="searchShapes">
                        <img class="lucid-search-icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-search-white.svg">
                    </div>
                    <img ng-click="$root.manageshapes=false" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-close-white.svg" class="lucid-close-icon">
                </div>
            </div>

            <div class="lucid-shapes-scroll lucid-animate" ng-show="$root.manageshapes">
                <div class="lucid-scroll-inner-wrap">
                    <div class="lucid-shapes-manager-divider">
                        <div class="divider-inner">
                            <div class="divider-title">
                                CUSTOM SHAPE GROUPS {{scroll}}
                            </div>
                            <div class="divider-line"></div>
                        </div>
                    </div>
                    <ul dnd-list="shapegroups"
                        dnd-allowed-types="['containerType']"
                        dnd-external-sources="true"
                        dnd-dragover="dragoverCallback(event, index, external, type)"
                        dnd-drop="dropCallback(event, index, item, external, type, 'containerType')"
                        class="lucid-shapegroup-columns"
                        scroll-position="scroll">
                        <li ng-repeat="shapegroup in shapegroups | filter:searchShapes"
                            dnd-draggable="shapegroup"
                            dnd-type="'containerType'"
                            dnd-effect-allowed="move"
                            dnd-moved="shapegroups.splice($index, 1)"
                            class="lucid-shape-group-wrapper lucid-animate"
                            ng-class-odd="'odd'"
                            ng-class-even="'even'"
                            ng-if="shapegroup.custom">

                            <lucid-shape-group-manage shapes="shapegroup.shapes" name="{{shapegroup.groupname}}" custom="{{shapegroup.custom}}"></lucid-shape-group>

                        </li>
                    </ul>
                    <div class="lucid-shapes-manager-divider">
                        <div class="divider-inner">
                            <div class="divider-title">
                                LUCIDCHART SHAPE GROUPS {{scroll}}
                            </div>
                            <div class="divider-line"></div>
                        </div>
                    </div>
                    <ul dnd-external-sources="true"
                        dnd-dragover="dragoverCallback(event, index, external, type)"
                        dnd-drop="dropCallback(event, index, item, external, type, 'containerType')"
                        class="lucid-shapegroup-columns">
                        <li ng-repeat="shapegroup in shapegroups | filter:searchShapes | orderBy:'groupname' | limitTo:5"
                            dnd-draggable="shapegroup"
                            dnd-type="'containerType'"
                            dnd-effect-allowed="copy"
                            dnd-moved="shapegroups.splice($index, 1)"
                            class="lucid-shape-group-wrapper"
                            ng-class-odd="'odd'"
                            ng-class-even="'even'">

                            <lucid-shape-group-manage shapes="shapegroup.shapes" name="{{shapegroup.groupname}}" custom="{{shapegroup.custom}}"></lucid-shape-group>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>