<footer class="settings-drawer">
    <div class="settings-drawer-top">
    	<lucid-button icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-wrench-white.svg" color="blue" ng-click="showdrawer = !showdrawer">Page Settings</lucid-button>
        <img class="chat-img" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/placeholder-chat.png" class="right" />
    </div>
    <div class="settings-drawer-content lucid-animate" ng-show="showdrawer">
        <img width="918" style="max-width: 918px;" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/page-settings-drawer-1.png">
    </div>
</footer>