<button class="lucid-button lucid-blue" ng-click="showPaywall=true"> Show Paywall</button>
<lucid-paywall showpaywall="showPaywall" banner="PREMIUM" title="Premium Feature" subtitle="Collaborate on Documents" confirm="Upgrade to unlock" cancel='Share documents as "view only"' >
    <!-- Insert modal content here -->
    <img width="300" height="200" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/paywall-collaboration%402x.png">
    <p></p>
    <p>You're currently on a free account, which means you can't invite others to edit your document.</p>
    <p></p>
    <p></p>
</lucid-paywall>