<lucid-buttcon-popover icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-gear-bluesteel.svg" width="332">
    <div style="padding:15px 15px 10px 15px;">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/text-options-top.png">
    </div>
    <lucid-more-drawer height="95" showdrawer="'true'" class="hide-drawer-handle">
        <div style="padding: 5px 6.5px 0 6.5px">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/text-options-bottom.png">
        </div>
    </lucid-more-drawer>
</lucid-buttcon-popover>