h1 {
	font-size: 24px;
	font-weight: bold;
	line-height: 28px;
}

h2 {
	font-size: 18px;
	font-weight: bold;
	line-height: 22px;
	letter-spacing: .25px;
}
p {
	font-size: 16px;
	line-height: 22px;
	margin: 24px 0;
	&.large-body {
		font-size: 16px;
		line-height: 22px;
		margin: 12px 0;
	}
	&.small-body {
		font-size: 14px;
		line-height: 18px;
		margin: 12px 0;
	}
}


.reversed-text {
	font-weight: 300;
	letter-spacing: .5px;
}


.reversed-header {
	font-weight: 600;
	letter-spacing: .5px;
}