<ion-view view-title="{{currentDocument.name}}" can-swipe-back="false">
    <ion-nav-buttons side="right">
    <button ng-click="" class="button buttons button-clear header-item"><i class="icon material-icons">content_copy</i></button>
        <button ng-click="" class="button buttons button-clear header-item"><i class="icon ion-android-more-vertical"></i></button>
    </ion-nav-buttons>
    <ion-content scroll="false">
        <div class="canvas">
            <ng-include src="'templates/canvas/canvas.html'"></ng-include>
        </div>
    </ion-content>
    <div class="ng-hide bottom-up" ng-controller="shapeManagerCtrl" ng-show="$root.openShapeLibrary">
        <div class="small-navigation">
            <div class="bar-light" >
                <i class="icon material-icons" ng-click="$root.openShapeLibrary = false">close</i>
                Shapes
                <span class="float-right" ng-click="$event.stopPropagation(); showShapeManager();">Manage</span>
            </div>
            <ion-content class="fill-height">
                <ion-list 
                    ng-class="{'zero-state-height': shapegroup.custom && shapegroup.shapes.length == 0}"
                    ng-drop="true"
                    ng-drop-success="dropFromCanvas($data, $event, shapegroup);"

                    dnd-list="shapegroup.shapes"
                    dnd-allowed-types="[shapegroup.custom]"
                    dnd-horizontal-list="true"
                    dnd-external-sources="false"
                    dnd-dragover="dragoverCallback(event, index, external, type)"
                    dnd-drop="dropCallback(event, index, item, external, type, 'itemType')"
                    dnd-inserted="logEvent('Element was inserted at position ' + index, event)">
                    <div ng-repeat="shapegroup in pinnedShapeGroups" ng-if="shapegroup.pinned">
                        <ion-item class="item-icon-right" ng-class="{'rotate-icon': shapegroup.open}" ng-click="shapegroup.open = !shapegroup.open">
                            {{shapegroup.groupname}}
                            <i class="icon ion-ios-arrow-forward"></i>
                        </ion-item>
                        <div class="slide-toggle" ng-show="shapegroup.open">
                            <div ng-drag="true" ng-drag-data="shape" ng-drag-success="onDragComplete($data,$event)" ng-center-anchor="true" ng-repeat="shape in shapegroup.shapes" ng-bind-html="shape.svg | sanitize"> </div>
                        </div>
                    </div>
                </ion-list>
            </ion-content>
        </div>
    </div>
    <div class="ng-hide bottom-up" ng-controller="shapeManagerCtrl" ng-show="$root.openStyleShape && $root.selectedType != 'nothing';">
        <lucid-top-tabs>
            <lucid-top-tab name="Styles" selected>
                <ion-content class="fill-height">
                    <ion-list>
                    stuff
                    </ion-list>
                </ion-content>
            </lucid-top-tab>
            <lucid-top-tab name="Shape">
                <ion-content class="fill-height">
                    <ion-list>
                    stuff
                    </ion-list>
                </ion-content>
            </lucid-top-tab>
            <lucid-top-tab name="Line">
                <ion-content class="fill-height">
                    <ion-list>
                    stuff
                    </ion-list>
                </ion-content>
            </lucid-top-tab>
            <lucid-top-tab name="Text">
                <ion-content class="fill-height">
                    <ion-list>
                    stuff
                    </ion-list>
                </ion-content>
            </lucid-top-tab>
        </lucid-top-tabs>
    </div>
    <ion-footer-bar align-title="left" class="bar-stable">
        <div class="buttons col-20">
            <button class="button"><i class="icon material-icons">delete</i></button>
        </div>
        <div class="buttons col-20" ng-click="doSomething()">
            <button class="button"><i class="icon material-icons">undo</i></button>
        </div>
        <div class="buttons col-20" ng-click="$root.openStyleShape = true">
            <button class="button"><i class="icon material-icons">format_shapes</i></button>
        </div>
        <div class="buttons col-20" ng-click="doSomething()">
            <button class="button"><i class="icon material-icons">settings</i></button>
        </div>
        <div class="buttons col-20" ng-click="$root.openShapeLibrary = true">
            <button class="button"><i class="icon material-icons">add</i></button>
        </div>
    </ion-footer-bar>
</ion-view>