<div id="shape-manager" ng-controller="shapeManagerCtrl">
  	<ul ng-sortable="pinnedGroupsSort"
        class="lucid-group-drop-area">
        <li ng-repeat="shapegroup in pinnedShapeGroups track by shapegroup.id"

            class="lucid-shape-group-wrapper left-panel repeat-animation"
            ng-class="{'no-transition': $root.draggingShapeGroup}">
            <!-- START LEFT SHAPE GROUP -->
            <div class="lucid-shape-group" ng-class="{ 'custom-library' : shapegroup.custom, 'disabled' : $root.draggingshape && !shapegroup.custom && $root.mouseInLeftPanel || $root.draggingshape && !shapegroup.custom && $root.manageshapes,'lucid-hide-shapes': hideshapes, 'dragging-shape' : $root.draggingshape && shapegroup.custom }">
              <div class="lucid-hide-shapes-icon" ng-click="hideshapes = !hideshapes">
                <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                  <g id="z" stroke="none" sketch:type="MSArtboardGroup" fill="#4A4A4A">
                      <path d="M15,8 L11,14 L7,8 L15,8 Z"></path>
                  </g>
                </svg>
              </div>
              <div class="shape-group-top">
                <span class="shape-group-name"> {{shapegroup.groupname}}</span>
                <span class="lucid-close-icon" ng-show="$root.manageshapes" ng-click="unPinGroup(shapegroup)"><ng-include src="'http://particle.golucid.co/components/3.0/icon/icons/icon-x-18px.svg'"></ng-include></span>
              </div>
              <div class="slide-toggle lucid-animate" ng-hide="hideshapes">
                <div class="zero-state" ng-if="shapegroup.custom && shapegroup.shapes.length == 0">
                    <!-- <img style="width:99px;padding-top:12px;" src="assets/placeholder-drag.png"> -->
                    <span class="lucid-save-shapes-hint">Drop shapes to save</span>
                </div>
                <ul class="shapes-wrapper"
                    ng-class="{'zero-state-height': shapegroup.custom && shapegroup.shapes.length == 0}"
                    ng-drop="true"
                    ng-drop-success="dropFromCanvas($data, $event, shapegroup);"

                    dnd-list="shapegroup.shapes"
                    dnd-allowed-types="[shapegroup.custom]"
                    dnd-horizontal-list="true"
                    dnd-external-sources="false"
                    dnd-dragover="dragoverCallback(event, index, external, type)"
                    dnd-drop="dropCallback(event, index, item, external, type, 'itemType')"
                    dnd-inserted="logEvent('Element was inserted at position ' + index, event)">

                    <li ng-repeat="shape in shapegroup.shapes track by $index"
                        dnd-draggable="shape"
                        dnd-type="'custom'"
                        dnd-effect-allowed="{{copy(shapegroup.custom)}}"
                        dnd-dragstart="logEvent('Started to drag an item', event); $root.draggingshape = true"
                        dnd-moved="shapegroup.shapes.splice($index, 1); logEvent('Item moved', event)"
                        dnd-copied="logEvent('Item copied', event)"
                        dnd-canceled="logEvent('Drag operation canceled', event)"
                        dnd-dragend="logEvent('Drag operation ended', event); $root.draggingshape = false"

                        
                        ng-drag-data="shape"

                        class="lucid-shape repeat-animation lucid-animate">  
                        <div ng-bind-html="shape.svg | sanitize"> </div>
                    </li>
                </ul>
              </div>
            </div>
            <!-- END LEFT SHAPE GROUP -->
        </li>
        <li class="clearfix"></li>
    </ul>
  </div>