<lucid-modal showmodal="$root.showShareModal" width="810" height="645" title="Share" class="share-modal">
        <!-- Insert modal content here -->
        <lucid-finger-tabs>
            <lucid-finger-tab name="Collaborate" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-stalker-22px.svg" selected>
                <img src="assets/share-placeholder-collaborate.png">
            </lucid-finger-tab>
            <lucid-finger-tab name="Publish" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-link-22px.svg">
                <img src="assets/share-placeholder-publish.png">
            </lucid-finger-tab>
            <lucid-finger-tab name="Facebook" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-share-22px.svg">
                <img src="assets/share-placeholder-social.png">
            </lucid-finger-tab>
            <lucid-finger-tab name="Embed" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-html-22px.svg">
                <img src="assets/share-placeholder-embed.png">
            </lucid-finger-tab>
        </lucid-finger-tabs>
    </lucid-modal>
    <lucid-modal showmodal="$root.showImportModal" width="590" height="460" title="Import Files" confirm="Import" cancel="Nevermind">
        <lucid-finger-tabs>
            <lucid-finger-tab name="On your computer" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-computer-desktop-22px.svg" selected>
                Import SVG, Visio, and other files from your computer.
            </lucid-finger-tab>
            <lucid-finger-tab name="Dropbox" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-dropbox-22px.svg">
                Import SVG, Visio, and other files from your computer.
            </lucid-finger-tab>
            <lucid-finger-tab name="Google Drive" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-google-drive-22px.svg">
                Import SVG, Visio, and other files from your computer.
            </lucid-finger-tab>
        </lucid-finger-tabs>
    </lucid-modal>
    <lucid-modal showmodal="$root.shareModal" width="590" height="460" title="Share" confirm="Import" cancel="Nevermind">
        Share with your team modal.
    </lucid-modal>