<lucid-modal showmodal="$root.showShareModal" width="810" height="645" title="Share" class="share-modal">
        <!-- Insert modal content here -->
        <lucid-finger-tabs>
            <lucid-finger-tab name="Collaborate" icon=" http://particle.golucid.co/components/0.0/icon/img/share-dark.svg" selected>
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/share-placeholder-collaborate.png">
            </lucid-finger-tab>
            <lucid-finger-tab name="Publish" icon=" http://particle.golucid.co/components/0.0/icon/img/link-dark.svg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/share-placeholder-publish.png">
            </lucid-finger-tab>
            <lucid-finger-tab name="Facebook" icon="http://particle.golucid.co/components/0.0/icon/img/share-dark.svg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/share-placeholder-social.png">
            </lucid-finger-tab>
            <lucid-finger-tab name="Embed" icon=" http://particle.golucid.co/components/0.0/icon/img/html-dark.svg">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/share-placeholder-embed.png">
            </lucid-finger-tab>
        </lucid-finger-tabs>
    </lucid-modal>
    <!-- ADD ONS MODAL -->
    <lucid-modal showmodal="$root.addOnsModal.show" width="746" height="600" title="Lucidchart Add Ons" confirm="Done">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/add-ons-header-tabs.png">
        <ul class="add-ons">
            <li class="green">
                <img class="thumbnail" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/add-ons-present.png" />
                <footer class="reversed-text">
                    <h4>Presentation Mode</h4><img class="stars" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/add-ons-stars.png"><span class="users">2,167 users</span>
                    <lucid-button icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-add-white-18px.svg" class="lucid-button lucid-blue" ng-click="$parent.$parent.addOnPresent=!$parent.$parent.addOnPresent;">Add to Lucidchart</lucid-button>
                </footer>
            </li>
            <li class="steel">
                <img class="thumbnail" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/add-ons-history.png" />
                <footer class="reversed-text">
                    <h4>History Tool</h4><img class="stars" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/add-ons-stars.png"><span class="users">2,167 users</span>
                    <lucid-button icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-add-white-18px.svg" class="lucid-button lucid-blue" ng-click="$parent.$parent.addOnHistory=!$parent.$parent.addOnHistory;">Add to Lucidchart</lucid-button>
                </footer>
            </li>
            <li class="teal">
                <img class="thumbnail" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/add-ons-mockups.png" />
                <footer class="reversed-text">
                    <h4>Mockups</h4><img class="stars" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/add-ons-stars.png"><span class="users">2,167 users</span>
                    <lucid-button icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-add-white-18px.svg" class="lucid-button lucid-blue">Add to Lucidchart</lucid-button>
                </footer>
            </li>
            <li class="blue">
                <img class="thumbnail" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/add-ons-themes.png" />
                <footer class="reversed-text">
                    <h4>Diagram Themes</h4><img class="stars" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/add-ons-stars.png"><span class="users">2,167 users</span>
                    <lucid-button icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-add-white-18px.svg" class="lucid-button lucid-blue">Add to Lucidchart</lucid-button>
                </footer>
            </li>
            <li class="red">
                <img class="thumbnail" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/add-ons-hangouts.png" />
                <footer class="reversed-text">
                    <h4>Google Chat</h4><img class="stars" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/add-ons-stars.png"><span class="users">2,167 users</span>
                    <lucid-button icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-add-white-18px.svg" class="lucid-button lucid-blue">Add to Lucidchart</lucid-button>
                </footer>
            </li>
            <li class="steel">
                <img class="thumbnail" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/add-ons-navigator.png" />
                <footer class="reversed-text">
                    <h4>Navigator Tool</h4><img class="stars" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/add-ons-stars.png"><span class="users">2,167 users</span>
                    <lucid-button icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-add-white-18px.svg" class="lucid-button lucid-blue">Add to Lucidchart</lucid-button>
                </footer>
            </li>
        </ul>
    </lucid-modal>
    <!-- END ADD ONS MODAL -->
    <lucid-modal showmodal="$root.showImportModal" width="590" height="460" title="Import Files" confirm="Import" cancel="Nevermind">
        <lucid-finger-tabs>
            <lucid-finger-tab name="On your computer" icon="http://particle.golucid.co/components/0.0/icon/img/icon-computer-bluesteel-22px.svg" selected>
                Import SVG, Visio, and other files from your computer.
            </lucid-finger-tab>
            <lucid-finger-tab name="Dropbox" icon="http://particle.golucid.co/components/0.0/icon/img/icon-dropbox-bluesteel-22px.svg">
                Import SVG, Visio, and other files from your computer.
            </lucid-finger-tab>
            <lucid-finger-tab name="Google Drive" icon="http://particle.golucid.co/components/0.0/icon/img/icon-googledrive-bluesteel-22px.svg">
                Import SVG, Visio, and other files from your computer.
            </lucid-finger-tab>
        </lucid-finger-tabs>
    </lucid-modal>
    <lucid-modal showmodal="$root.shareModal" width="590" height="460" title="Share" confirm="Import" cancel="Nevermind">
        Share with your team modal.
    </lucid-modal>