/*Lucid Particle Components

*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,400italic,300);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #5a5a5a;
}
img {
  max-width: 100%;
}
input {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
}
.lucid-input {
  background: transparent;
  padding: 0;
  border: none;
  border-bottom: 1px solid #77818C;
  box-sizing: border-box;
  font-size: 14px;
  height: 28px;
  color: #3d4752;
  width: 100%;
  outline: none;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-transition: background 0.15s ease-in-out;
          transition: background 0.15s ease-in-out;
}
.lucid-input-stepper {
  position: relative;
  font-size: 14px;
  box-sizing: border-box;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  vertical-align: top;
}
.lucid-input-stepper .lucid-input {
  padding-right: 28px;
  text-align: right;
}
.lucid-input-stepper .lucid-input-unit {
  position: absolute;
  top: 6px;
  right: 13px;
  font-size: 14px;
  color: #3d4752;
}
.lucid-input-stepper .lucid-up,
.lucid-input-stepper .lucid-down {
  position: absolute;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/component-spinner-handle.svg) center center no-repeat;
  width: 10px;
  height: 14px;
  right: 0px;
  cursor: pointer;
  opacity: .5;
}
.lucid-input-stepper .lucid-up:hover,
.lucid-input-stepper .lucid-down:hover {
  opacity: 1;
}
.lucid-input-stepper .lucid-up {
  top: 1px;
}
.lucid-input-stepper .lucid-down {
  bottom: 1px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.lucid-popover-menu .lucid-input {
  background: #F1F1F1;
  border-bottom: none;
  padding: 0 7px;
  border-radius: 3px;
}
.lucid-popover-menu .lucid-input:hover {
  background: #fff;
}
.lucid-popover-menu .lucid-input-stepper .lucid-input {
  padding-right: 26px;
}
.lucid-popover-menu .lucid-input-stepper:hover .lucid-input {
  background: #FFF;
}
.lucid-popover-menu .lucid-input-stepper .lucid-up,
.lucid-popover-menu .lucid-input-stepper .lucid-down {
  right: 2px;
}
.lucid-drawer-wrapper .lucid-wrapper-overflow-hidden {
  overflow: hidden;
}
.lucid-drawer-wrapper .lucid-show-more-drawer-button {
  position: relative;
  background-color: #66737f;
  border-radius: 0 0 5px 5px;
  text-align: center;
  cursor: pointer;
}
.lucid-drawer-wrapper .lucid-show-more-drawer-button .lucid-drawer-center-text {
  display: inline-block;
  position: relative;
  padding-right: 13px;
}
.lucid-drawer-wrapper .lucid-show-more-drawer-button .lucid-drawer-button-text {
  font-size: 14px;
  color: #fff;
  text-align: center;
  height: 25px;
  line-height: 25px;
}
.lucid-drawer-wrapper .lucid-show-more-drawer-button .lucid-drawer-more-icon {
  position: absolute;
  top: 10px;
  right: 0;
  -webkit-transition: 0.25s ease-in-out all;
          transition: 0.25s ease-in-out all;
  font-size: 0;
}
.lucid-drawer-wrapper .lucid-show-more-drawer-button .lucid-drawer-more-icon g {
  fill: #fff;
}
.lucid-drawer-wrapper .lucid-show-more-drawer-button .lucid-drawer-more-icon.lucid-drawer-open {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.lucid-drawer-wrapper .lucid-popover-menu-drawer {
  padding: 10px;
  background: #e5e5e5;
  box-sizing: border-box;
  opacity: 1;
  margin-top: 0;
  -webkit-transition: 0.35s ease-in-out all;
          transition: 0.35s ease-in-out all;
}
.lucid-drawer-wrapper .lucid-popover-menu-drawer.lucid-drawer-open {
  margin-top: 0px !important;
}
.lucid-drawer-wrapper .lucid-popover-menu-drawer.ng-hide {
  opacity: 0;
}
.lucid-drawer-wrapper .lucid-popover-menu-drawer.ng-hide.top-handle-height {
  height: 0 !important;
  padding: 0;
}
.lucid-drawer-wrapper .lucid-popover-menu-drawer.ng-animate {
  -webkit-transition: 0.35s ease-in-out all;
          transition: 0.35s ease-in-out all;
}
.lucid-drawer-wrapper.top-handle .lucid-show-more-drawer-button {
  border-radius: 0;
}
.lucid-drawer-wrapper.top-handle .lucid-show-more-drawer-button .lucid-drawer-more-icon {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.lucid-drawer-wrapper.top-handle .lucid-show-more-drawer-button .lucid-drawer-more-icon.lucid-drawer-open {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.hide-drawer-handle.lucid-drawer-wrapper .lucid-show-more-drawer-button {
  display: none;
}
.lucid-popover-menu {
  background-color: #f1f1f1;
  border-radius: 4px;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: 10;
  top: 55px;
  margin-top: 0;
  opacity: 1;
  text-align: left;
}
.lucid-popover-menu:after {
  content: '';
  border-bottom: 10px #f1f1f1 solid;
  border-left: 8.5px transparent solid;
  border-right: 8.5px transparent solid;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -8.5px;
}
.lucid-popover-menu.ng-hide {
  opacity: 0;
  margin-top: -7px;
}
.lucid-popover-menu.ng-animate {
  -webkit-transition: .1s all linear;
          transition: .1s all linear;
}
.lucid-popover-menu ul {
  padding: 0;
  margin: 0;
}
.lucid-popover-menu .lucid-wrapper-overflow-hidden {
  overflow: hidden;
  border-radius: 3px;
}
.lucid-popover-menu .lucid-buttcon.active {
  background-color: #fff;
}
.lucid-saved-styles .lucid-popover-menu {
  padding: 10px;
}
.lucid-buttcon-wrapper {
  position: relative;
  display: inline-block;
}
.lucid-buttcon {
  width: 32px;
  height: 32px;
  background: transparent;
  display: block;
  cursor: pointer;
  border-radius: 3px;
  position: relative;
  font-size: 0;
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
}
.lucid-buttcon img,
.lucid-buttcon svg {
  max-width: 100%;
}
.lucid-text-alignment .lucid-popover-menu .lucid-buttcon,
.lucid-path-style .lucid-popover-menu .lucid-buttcon {
  border-radius: 0;
}
.lucid-color-picker .lucid-popover-menu {
  background-color: #e5e5e5;
  font-size: 0;
  box-sizing: border-box;
}
.lucid-color-picker .lucid-popover-menu:after {
  border-bottom: 10px #DCDCDC solid;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-top {
  padding: 10px;
  background-color: #DCDCDC;
  border-radius: 5px 5px 0 0;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-top .lucid-swatch {
  float: right;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-top .lucid-swatch.active {
  background: #FFF;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-top .lucid-buttcon {
  background: #F1F1F1;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-top .lucid-buttcon:hover {
  background: #fff;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-top .lucid-swatch-toggle {
  position: relative;
  height: 32px;
  font-size: 14px;
  line-height: 26px;
  padding: 0 10px;
  box-sizing: border-box;
  display: inline-block;
  background-color: #F1F1F1;
  cursor: pointer;
  border-left: 1px solid #DCDCDC;
  width: 33%;
  text-align: center;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-top .lucid-swatch-toggle.lucid-fill {
  border-radius: 3px 0 0 3px;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-top .lucid-swatch-toggle:last-child {
  border-radius: 0 3px 3px 0;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-top .lucid-swatch-toggle.active {
  background-color: #fff;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-top .lucid-swatch-toggle:hover {
  background-color: #fff;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-top .lucid-swatch-toggle .swatch {
  height: 6px;
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: 2px;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-top .lucid-swatch-toggle .swatch.lucid-transparent-swatch {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-transparent-grid.svg) #FFF !important;
  background-size: 6px !important;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-top .make-default-swatch {
  float: right;
  display: none;
}
.lucid-color-picker .lucid-popover-menu .swatch-colors {
  text-align: left;
  padding: 10px;
  position: relative;
  background: #F1F1F1;
  z-index: 1;
}
.lucid-color-picker .lucid-popover-menu ul.lucid-grayscale-colors {
  margin-bottom: 10px;
}
.lucid-color-picker .lucid-popover-menu ul.lucid-recent-colors {
  background-color: #fff;
  display: none;
}
.lucid-color-picker .lucid-popover-menu ul.lucid-colorpicker-colors {
  margin-bottom: 0;
}
.lucid-color-picker .lucid-popover-menu .on-canvas-title {
  font-size: 14px;
  padding-bottom: 5px;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-square {
  width: 36px;
  height: 36px;
  position: relative;
  background: rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 3px;
  box-sizing: border-box;
  display: inline-block;
  -webkit-transition: 0.1s ease-in-out background;
          transition: 0.1s ease-in-out background;
  vertical-align: top;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-square .lucid-swatch-check {
  position: absolute;
  right: -4px;
  top: -4px;
  width: 14px;
  height: 14px;
  z-index: 3;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-square .lucid-swatch-check img {
  -webkit-transform: scale(0.01);
      -ms-transform: scale(0.01);
          transform: scale(0.01);
  opacity: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.1s ease-in-out all;
          transition: 0.1s ease-in-out all;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-square:hover {
  background: rgba(0, 0, 0, 0.05);
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-square.lucid-selected {
  background: rgba(0, 0, 0, 0.1);
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-square.lucid-selected .lucid-swatch-check img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-square.lucid-swatch-plus {
  padding: 2px;
  cursor: pointer;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-square.lucid-swatch-plus img {
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 2px;
  border-radius: 3px;
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-square.lucid-swatch-shadow .lucid-selected-swatch {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.lucid-color-picker .lucid-popover-menu .lucid-swatch-square .lucid-selected-swatch {
  width: 30px;
  height: 30px;
  line-height: 25px;
  font-size: 18px;
  border: 2px solid;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.lucid-color-picker .lucid-popover-menu .lucid-square {
  height: 24px;
  width: 24px;
  display: inline-block;
  cursor: pointer;
  position: relative;
}
.lucid-color-picker .lucid-popover-menu .lucid-square.lucid-transparent {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-transparent-grid.svg) repeat #FFF;
}
.lucid-color-picker .lucid-popover-menu .lucid-square.blank {
  cursor: auto;
}
.lucid-color-picker .lucid-popover-menu .lucid-square:hover .lucid-selected-color {
  opacity: .8;
}
.lucid-color-picker .lucid-popover-menu .lucid-square .lucid-selected-color {
  border: 2px solid #fff;
  width: 24px;
  height: 24px;
  left: 0px;
  top: 0px;
  box-sizing: border-box;
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  opacity: 0;
}
.lucid-color-picker .lucid-popover-menu .lucid-square .lucid-selected-color .lucid-inset-shadow {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
}
.lucid-color-picker .lucid-popover-menu .lucid-square .lucid-selected-color.lucid-selected {
  width: 28px;
  height: 28px;
  left: -2px;
  top: -2px;
  z-index: 2;
  opacity: 1;
  -webkit-transition: all 0.1s ease-in-out;
          transition: all 0.1s ease-in-out;
}
.lucid-color-picker .lucid-popover-menu .lucid-color-inputs {
  text-align: center;
}
.lucid-color-picker .lucid-popover-menu .lucid-color-inputs li {
  display: inline-block;
  vertical-align: top;
}
.lucid-color-picker .lucid-popover-menu .lucid-hex {
  width: 75px;
  display: inline-block;
  text-transform: uppercase;
  float: left;
}
.lucid-color-picker .lucid-popover-menu .lucid-opacity {
  float: right;
}
.lucid-color-picker .lucid-popover-menu .lucid-opacity-title,
.lucid-color-picker .lucid-popover-menu .lucid-hex-title {
  font-size: 14px;
  display: inline-block;
  line-height: 28px;
  padding-right: 5px;
}
.lucid-color-picker .lucid-popover-menu .lucid-advanced-color {
  margin: 0 7px;
  border-radius: 16px;
  height: 32px;
  line-height: 32px;
  cursor: pointer;
  background-color: #F1F1F1;
}
.lucid-color-picker .lucid-popover-menu .lucid-advanced-color:hover {
  background-color: #FFF;
}
.lucid-color-picker .lucid-popover-menu .clear {
  clear: both;
}
.lucid-color-picker .lucid-popover-menu .spacer-10 {
  height: 10px;
}
.lucid-color-picker .lucid-popover-menu .lucid-drawer-wrapper .lucid-wrapper-overflow-hidden {
  overflow: visible;
}
.lucid-color-picker .lucid-popover-menu .lucid-drawer-wrapper .lucid-wrapper-overflow-hidden .lucid-select-wrapper {
  margin-top: 10px;
  width: 100%;
}
.lucid-color-picker .lucid-popover-menu .lucid-drawer-wrapper .lucid-wrapper-overflow-hidden .lucid-select-dropdown {
  width: 100%;
  top: 28px;
}
.lucid-shape-group {
  position: relative;
  display: inline-block;
  width: 100%;
  -webkit-transition: 0.3s ease-in-out background, 0.2s ease-out margin, 0.3s ease-in-out opacity;
          transition: 0.3s ease-in-out background, 0.2s ease-out margin, 0.3s ease-in-out opacity;
  text-align: left;
  opacity: 1;
}
.lucid-shape-group.disabled {
  opacity: .5;
}
.lucid-shape-group.custom-library {
  opacity: 1;
  -webkit-transition: 0.25s ease-in-out opacity;
          transition: 0.25s ease-in-out opacity;
}
.lucid-shape-group.custom-library .dndDraggingSource {
  opacity: 0;
}
.lucid-shape-group.custom-library ul > li.lucid-shape:first-child {
  display: none;
}
.lucid-shape-group.custom-library.dragging-shape ul {
  position: relative;
  z-index: 1;
}
.lucid-shape-group .slide-toggle {
  overflow: hidden;
  -webkit-transition: all .5s;
          transition: all .5s;
  width: 100%;
}
.lucid-shape-group .slide-toggle > ul {
  min-height: 44px;
}
.lucid-shape-group .lucid-hide-shapes-icon {
  z-index: 1;
  position: absolute;
  height: 30px;
  padding: 5px 2px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
}
.lucid-shape-group .lucid-hide-shapes-icon svg g {
  -webkit-transform: rotateZ(0);
          transform: rotateZ(0);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
}
.lucid-shape-group.lucid-hide-shapes .lucid-hide-shapes-icon svg g {
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
}
.lucid-shape-group .lucid-drop-area {
  -webkit-transition: all 0.25s ease-in-out;
          transition: all 0.25s ease-in-out;
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid transparent;
}
.lucid-shape-group .lucid-drop-area .lucid-save-shapes-hint {
  font-style: italic;
  color: #777;
  text-align: center;
  display: block;
  padding: 10px;
}
.lucid-shape-group .shape-group-top {
  background-color: #C1C1C1;
  padding: 7px 10px;
  position: relative;
  color: #555;
  -webkit-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
  box-sizing: border-box;
  height: 30px;
  text-align: left;
}
.lucid-shape-group:hover .lucid-shape-group-top-right-icons {
  opacity: 1;
}
.lucid-shape-group .shape-group-name {
  line-height: 16px;
  font-size: 16px;
  font-weight: 500;
  padding-left: 15px;
  display: inline-block;
}
.lucid-shape-group .lucid-close-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 8px;
  top: 11px;
  cursor: pointer;
  opacity: 1;
  margin-top: 0;
}
.lucid-shape-group .lucid-close-icon.ng-hide {
  opacity: 0;
  top: 9px;
}
.lucid-shape-group .lucid-close-icon.ng-animate {
  -webkit-transition: 0.3s all ease-in-out;
          transition: 0.3s all ease-in-out;
}
.lucid-shape-group .lucid-shape,
.lucid-shape-group .dndPlaceholder {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 7px 7.9px;
  position: relative;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  vertical-align: top;
  text-align: center;
}
.lucid-shape-group .lucid-shape.ng-enter,
.lucid-shape-group .dndPlaceholder.ng-enter {
  -webkit-transform: scale(0.01);
      -ms-transform: scale(0.01);
          transform: scale(0.01);
  opacity: 0;
}
.lucid-shape-group .lucid-shape.ng-enter-active,
.lucid-shape-group .dndPlaceholder.ng-enter-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.lucid-shape-group .lucid-shape.ng-animate,
.lucid-shape-group .dndPlaceholder.ng-animate {
  -webkit-transition: .25s;
          transition: .25s;
}
.lucid-shape-group .lucid-shape.ng-leave-active,
.lucid-shape-group .dndPlaceholder.ng-leave-active {
  -webkit-transition: none;
          transition: none;
}
.lucid-shape-group .lucid-shape svg,
.lucid-shape-group .dndPlaceholder svg {
  vertical-align: -webkit-baseline-middle;
  width: 28px;
  height: 28px;
  fill: #333;
}
.lucid-modal-wrapper {
  position: relative;
  z-index: 1;
}
.lucid-modal-wrapper.ng-hide {
  opacity: 0;
}
.lucid-modal-wrapper.ng-animate {
  -webkit-transition: 0.35s ease-in-out;
          transition: 0.35s ease-in-out;
}
.lucid-modal-wrapper .lucid-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 4px 5px 7px rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.lucid-modal-wrapper .lucid-modal.ng-hide {
  -webkit-transform: translateY(10px);
      -ms-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
}
.lucid-modal-wrapper .lucid-modal.ng-animate {
  -webkit-transition: 0.35s ease-in-out;
          transition: 0.35s ease-in-out;
}
.lucid-modal-wrapper .lucid-modal > header {
  background: #3d4752;
  height: 42px;
  width: 100%;
  text-align: left;
  display: inline-block;
  padding: 10px 15px;
}
.lucid-modal-wrapper .lucid-modal > header .lucid-modal-title {
  color: #fff;
  line-height: 22px;
  font-size: 14px;
  font-weight: 200;
}
.lucid-modal-wrapper .lucid-modal > header .lucid-close-modal {
  width: 22px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.lucid-modal-wrapper .lucid-modal > footer {
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 45px;
  background: #EEEEEE;
  padding: 8px 10px;
  box-sizing: border-box;
  white-space: nowrap;
  font-size: 0;
}
.lucid-modal-wrapper .lucid-modal > footer .lucid-button {
  margin-left: 10px;
}
.lucid-modal-wrapper .lucid-modal-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(90, 90, 90, 0.5);
  z-index: 1;
  opacity: 1;
}
.lucid-finger-tabs-wrapper {
  position: relative;
  height: 100%;
}
.lucid-finger-tabs {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 240px;
  position: absolute;
  top: 0;
  bottom: 0;
  border-right: 1px solid #d2d2d2;
}
.lucid-finger-tabs .lucid-finger-tab {
  text-align: left;
  cursor: pointer;
  position: relative;
  color: #3d4752;
  background-color: #fff;
  border-bottom: 1px solid #d2d2d2;
  height: 44px;
  font-size: 16px;
  padding: 0 15px;
  line-height: 44px;
  white-space: nowrap;
  font-weight: 300;
}
.lucid-finger-tabs .lucid-finger-tab.selected {
  color: #fff;
  background-color: #77818C;
}
.lucid-finger-tabs .lucid-finger-tab.selected:after {
  position: absolute;
  content: " ";
  right: -1px;
  top: 11px;
  border-right: 10px solid #fff;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.lucid-finger-tabs .lucid-finger-tab .lucid-icon-22 {
  margin: 10px 10px 0 0;
  vertical-align: top;
}
.lucid-tab-content {
  position: absolute;
  left: 240px;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 40px;
  overflow: auto;
}
.finger-tabs-blue .finger-tab {
  cursor: pointer;
  position: relative;
  color: #2c84b5;
  background-color: #fff;
  border-bottom: 1px solid #d2d2d2;
}
.lucid-button {
  padding: 0 15px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 200;
  font-family: 'Source Sans Pro', sans-serif;
  cursor: pointer;
  outline: none;
  display: inline-block;
  box-sizing: border-box;
  height: 28px;
  whitespace: nowrap;
  -webkit-transition: 0.15s ease-in-out background-color;
          transition: 0.15s ease-in-out background-color;
}
.lucid-button.lucid-blue {
  background-color: #29AAE1;
  color: #fff;
}
.lucid-button.lucid-blue:hover {
  background-color: #3cb9e5;
}
.lucid-button.lucid-green {
  background-color: #8BC326;
  color: #fff;
}
.lucid-button.lucid-yellow {
  background-color: #ffaf46;
  color: #fff;
}
.lucid-button.lucid-red {
  background-color: #ed6058;
  color: #fff;
}
.lucid-button.lucid-red:hover {
  background-color: #f18079;
}
.lucid-button.lucid-cancel {
  background-color: #A5A5A5;
  color: #fff;
}
.lucid-button.lucid-cancel:hover {
  background-color: #B5B5B5;
}
.lucid-button.lucid-button-icon {
  padding-left: 10px;
}
.lucid-button.lucid-button-icon .lucid-icon-14 {
  vertical-align: top;
  margin-top: 2px;
  margin-right: 5px;
}
.lucid-icon-14 {
  width: 14px;
  height: 14px;
}
.lucid-icon-22 {
  width: 22px;
  height: 22px;
  vertical-align: top;
}
.lucid-notification {
  padding: 20px 15px 20px 48px;
  position: relative;
  line-height: 22px;
  color: #5a5a5a;
  text-align: left;
}
.lucid-notification .notification-icon {
  width: 22px;
  height: 22px;
  position: absolute;
  left: 15px;
  top: 20px;
}
.lucid-notification.lucid-notification-information {
  background-color: #d6e9f1;
}
.lucid-notification.lucid-notification-information .notification-icon {
  background: url(icon/img/info-circle-blue.svg) center center no-repeat;
}
.lucid-notification.lucid-notification-information button {
  background-color: #29AAE1;
}
.lucid-notification.lucid-notification-complete {
  background-color: #e9f2d9;
}
.lucid-notification.lucid-notification-complete .notification-icon {
  background: url(icon/img/check-circle-green.svg) center center no-repeat;
}
.lucid-notification.lucid-notification-complete button {
  background-color: #8BC326;
}
.lucid-notification.lucid-notification-alert {
  background-color: #fff3e1;
}
.lucid-notification.lucid-notification-alert .notification-icon {
  background: url(icon/img/alert-triangle-yellow.svg) center center no-repeat;
}
.lucid-notification.lucid-notification-alert button {
  background-color: #ffaf46;
}
.lucid-notification.lucid-notification-error {
  background-color: #fbdcda;
}
.lucid-notification.lucid-notification-error .notification-icon {
  background: url(icon/img/error-triangle-red.svg) center center no-repeat;
}
.lucid-notification.lucid-notification-error button {
  background-color: #ed6058;
}
.lucid-notification button {
  position: absolute;
  right: 15px;
  top: 20px;
  color: #fff;
}
.lucid-select-wrapper {
  position: relative;
  display: inline-block;
  font-size: 14px;
  vertical-align: top;
}
.lucid-select-wrapper .selected-option-wrapper {
  height: 28px;
  overflow: hidden;
  position: relative;
}
.lucid-select-wrapper .selected-option-wrapper .select-dropdown-arrow {
  position: absolute;
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/component-spinner-handle.svg) center center no-repeat;
  width: 10px;
  height: 14px;
  right: 0px;
  cursor: pointer;
  top: 10px;
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.lucid-select-wrapper .lucid-selected-option {
  text-align: left;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #77818C;
  padding: 8px 18px 5px 0;
}
.lucid-select-wrapper .lucid-select-dropdown {
  display: inline-block;
  position: absolute;
  z-index: 1;
  top: 32px;
  left: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  padding: 6px 0;
  background: #fff;
  min-width: 200px;
}
.lucid-select-wrapper .lucid-select-dropdown .lucid-select-option {
  cursor: pointer;
  padding: 5px 20px;
  text-align: left;
}
.lucid-select-wrapper .lucid-select-dropdown .lucid-select-option:hover {
  background: #F5F5F5;
}
.lucid-select-wrapper .lucid-select-dropdown .lucid-select-option.active {
  background: #77818C;
  color: #fff;
}
.lucid-select-wrapper .lucid-select-dropdown .lucid-select-option.active:hover {
  opacity: .9;
}
.lucid-popover-menu .lucid-select-wrapper {
  padding: 0 5px 0 8px;
  background: #f1f1f1;
  border-radius: 3px;
  -webkit-transition: background 0.2s ease-in-out;
          transition: background 0.2s ease-in-out;
}
.lucid-popover-menu .lucid-select-wrapper:hover {
  background: #fff;
}
.lucid-popover-menu .lucid-selected-option {
  border: none;
}
.lucid-canvas {
  width: 900px;
  height: 690px;
  position: absolute;
  top: 0;
  left: 0;
  background-size: 904px;
  z-index: 0;
}
.lucid-canvas .lucid-canvas-layer {
  width: 100%;
  height: 100%;
  position: absolute;
}
.lucid-canvas > ul {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.lucid-canvas > ul > li {
  position: absolute;
}
.lucid-saved-styles .lucid-dropdown-title {
  font-size: 14px;
  padding-bottom: 5px;
}
.lucid-saved-styles .swatch-colors > ul {
  font-size: 0;
}
.lucid-saved-styles .lucid-swatch-square {
  width: 36px;
  height: 36px;
  position: relative;
  background: rgba(0, 0, 0, 0);
  border-radius: 4px;
  padding: 3px;
  box-sizing: border-box;
  display: inline-block;
  -webkit-transition: 0.1s ease-in-out background;
          transition: 0.1s ease-in-out background;
  vertical-align: top;
}
.lucid-saved-styles .lucid-swatch-square.ng-enter {
  margin-right: -36px;
}
.lucid-saved-styles .lucid-swatch-square.ng-enter-active {
  margin-right: 0;
}
.lucid-saved-styles .lucid-swatch-square.ng-animate {
  -webkit-transition: margin 0.4s ease-in-out;
          transition: margin 0.4s ease-in-out;
}
.lucid-saved-styles .lucid-swatch-square .lucid-swatch-check {
  position: absolute;
  right: -4px;
  top: -4px;
  width: 14px;
  height: 14px;
  z-index: 3;
}
.lucid-saved-styles .lucid-swatch-square .lucid-swatch-check img {
  -webkit-transform: scale(0.01);
      -ms-transform: scale(0.01);
          transform: scale(0.01);
  opacity: 0;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  -webkit-transition: 0.1s ease-in-out all;
          transition: 0.1s ease-in-out all;
}
.lucid-saved-styles .lucid-swatch-square:hover {
  background: rgba(0, 0, 0, 0.05);
}
.lucid-saved-styles .lucid-swatch-square.lucid-selected {
  background: rgba(0, 0, 0, 0.1);
}
.lucid-saved-styles .lucid-swatch-square.lucid-selected .lucid-swatch-check img {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}
.lucid-saved-styles .lucid-swatch-square.lucid-swatch-plus {
  padding: 2px;
  cursor: pointer;
}
.lucid-saved-styles .lucid-swatch-square.lucid-swatch-plus img {
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 2px;
  border-radius: 3px;
}
.lucid-saved-styles .lucid-swatch-square.lucid-swatch-shadow .lucid-selected-swatch {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.lucid-saved-styles .lucid-swatch-square .lucid-selected-swatch {
  width: 30px;
  height: 30px;
  line-height: 25px;
  font-size: 18px;
  border: 2px solid;
  text-align: center;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
.lucid-chart-block {
  position: absolute;
  border: 1px solid;
  box-sizing: border-box;
  cursor: pointer;
}
.lucid-chart-block .lucid-svg-background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background: transparent;
  border: none;
}
.lucid-chart-block .lucid-outer-block-table {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
}
.lucid-chart-block .lucid-inner-block {
  display: table-cell;
}
.lucid-chart-block img.lucid-block-comment {
  width: 25px;
  position: absolute;
  top: -5px;
  right: -40px;
  margin-left: 0;
  opacity: 1;
  z-index: 1;
  -webkit-transition: all ease-in-out 0.1s;
          transition: all ease-in-out 0.1s;
}
.lucid-chart-block img.lucid-block-comment.ng-hide {
  right: -35px;
  opacity: 0;
}
.lucid-chart-block .lucid-selected-block {
  position: absolute;
  top: -8px;
  left: -8px;
  bottom: -8px;
  right: -8px;
  border: #F98D00 1px solid;
  z-index: 0;
}
.lucid-chart-block .lucid-selected-block .lucid-corner-drag {
  border: #F98D00 1px solid;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: rgba(249, 141, 0, 0.5);
}
.lucid-chart-block .lucid-selected-block .lucid-corner-drag.lucid-top-left {
  top: -6px;
  left: -6px;
}
.lucid-chart-block .lucid-selected-block .lucid-corner-drag.lucid-top-right {
  top: -6px;
  right: -6px;
}
.lucid-chart-block .lucid-selected-block .lucid-corner-drag.lucid-bottom-right {
  bottom: -6px;
  right: -6px;
}
.lucid-chart-block .lucid-selected-block .lucid-corner-drag.lucid-bottom-left {
  bottom: -6px;
  left: -6px;
}
.lucid-chart-block.ng-enter {
  -webkit-transform: scaleX(0.25) scaleY(0.667);
      -ms-transform: scaleX(0.25) scaleY(0.667);
          transform: scaleX(0.25) scaleY(0.667);
}
.lucid-chart-block.ng-enter-active {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.lucid-chart-block.ng-animate {
  -webkit-transition: .25s;
          transition: .25s;
}
[lucid-context-menu] {
  cursor: pointer;
}
.lucid-context-menu {
  position: fixed;
  background: #fff;
  padding: 5px 0;
  min-width: 200px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  z-index: 10;
  text-align: left;
  color: #3d4752;
  /* Hide Dropdowns by Default */
  /* Display Dropdowns on Hover */
  /* Fisrt Tier Dropdown */
  /* Second, Third and more Tiers */
  /* Change this in order to change the Dropdown symbol */
}
.lucid-context-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}
.lucid-context-menu ul li {
  display: inline-block;
  line-height: 20px;
  font-size: 14px;
  padding: 2px 12px;
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
.lucid-context-menu ul li:hover {
  background: #f1f1f1;
}
.lucid-context-menu ul li.context-divider {
  background: #e5e5e5;
  height: 1px;
  margin: 5px 0;
  padding: 0;
}
.lucid-context-menu ul li a {
  display: block;
  padding: 0 10px;
  color: #FFF;
  text-decoration: none;
}
.lucid-context-menu ul li a.saving {
  color: #ccc;
}
.lucid-context-menu ul li span.hotkey {
  position: absolute;
  right: 7px;
  top: 0;
  bottom: 0;
  color: #999;
}
.lucid-context-menu ul li li {
  background: #fff;
}
.lucid-context-menu ul li li.dropdown-divider {
  border-bottom: 1px solid #f1f1f1;
}
.lucid-context-menu ul li li a {
  color: #3d4752;
}
.lucid-context-menu ul li li a:hover {
  background-color: #f1f1f1;
}
.lucid-context-menu ul ul {
  display: none;
  position: absolute;
  padding: 5px 0;
  background: #FFF;
  top: - 5px;
  left: 200px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}
.lucid-context-menu ul li:hover > ul {
  display: inherit;
  top: -5px;
}
.lucid-context-menu ul li {
  width: 200px;
  float: none;
  display: list-item;
  position: relative;
}
.lucid-context-menu ul ul ul {
  position: absolute;
  top: 0px;
  left: 200px;
  z-index: -1;
}
.lucid-context-menu ul li.lucid-context-more:after {
  font-family: FontAwesome;
  content: "\f0da";
  position: absolute;
  right: 6px;
}
.lucid-shapes-panel {
  background: #D6D6D6;
  width: 250px;
  position: relative;
  top: 0;
  height: 100%;
  border-right: 1px solid #999;
  -webkit-transition: 0.35s ease-in-out background, 0.35s ease-in-out width;
          transition: 0.35s ease-in-out background, 0.35s ease-in-out width;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
  z-index: 6;
  opacity: 1;
}
.lucid-shapes-panel .lucid-shapes-header {
  padding: 18px 15px;
  background: #e8e9ea;
  height: 60px;
  box-sizing: border-box;
  border-bottom: 1px solid #b7b7b7;
  text-align: left;
}
.lucid-shapes-panel .lucid-shapes-header .lucid-more-shapes {
  line-height: 22px;
  cursor: pointer;
}
.lucid-shapes-panel .lucid-shapes-header .manage-shapes-button {
  cursor: pointer;
}
.lucid-shapes-panel .lucid-shapes-header .lucid-shapes-gear,
.lucid-shapes-panel .lucid-shapes-header .lucid-shapes-search {
  vertical-align: top;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.5s ease-out;
          transition: transform 0.5s ease-out;
}
.lucid-shapes-panel .lucid-shapes-header .lucid-shapes-search {
  float: right;
  opacity: 1;
}
.lucid-shapes-panel .lucid-shapes-header .lucid-shapes-search.ng-hide {
  opacity: 0;
}
.lucid-shapes-panel .lucid-shapes-header .lucid-shapes-search.ng-animate {
  -webkit-transition: 0.3s all ease-in-out;
          transition: 0.3s all ease-in-out;
}
.lucid-shapes-panel .lucid-shapes-scroll {
  background: #D6D6D6;
  height: calc(100vh - 114px);
  overflow-y: scroll;
  -webkit-transition: padding 0.25s ease-in-out;
          transition: padding 0.25s ease-in-out;
  -webkit-transition-delay: .35s;
          transition-delay: .35s;
  padding-bottom: 50px;
}
.lucid-shapes-panel .lucid-shapes-scroll::-webkit-scrollbar {
  display: none;
}
.lucid-shapes-panel .lucid-scroll-inner-wrap {
  padding: 10px;
  -webkit-transition: 0.25s ease-in-out;
          transition: 0.25s ease-in-out;
}
.lucid-shapes-panel .lucid-group-drop-area {
  min-height: calc(100vh - 160px);
}
.lucid-shapes-panel .lucid-shape-group-wrapper {
  margin-bottom: 10px;
}
.lucid-shapes-panel .lucid-shape-group-wrapper.left-panel {
  z-index: 1;
}
.overflow-message {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #29AAE1;
  padding: 0 20px;
  z-index: 1;
  color: #fff;
}
.overflow-message.ng-hide {
  bottom: -50px;
}
.overflow-message.ng-animate {
  -webkit-transition: bottom 0.3s ease-in-out;
          transition: bottom 0.3s ease-in-out;
}
.lucid-managing-shapes,
.lucid-manage-shapes {
  background: #B2B2B2;
  border-right: none;
  width: 250px;
}
.lucid-managing-shapes .lucid-shape-group-wrapper,
.lucid-manage-shapes .lucid-shape-group-wrapper {
  margin-bottom: 10px;
  position: relative;
}
.lucid-managing-shapes .lucid-shape-group-wrapper.ng-enter,
.lucid-manage-shapes .lucid-shape-group-wrapper.ng-enter {
  margin-top: -84px;
  opacity: 0;
}
.lucid-managing-shapes .lucid-shape-group-wrapper.ng-enter-active,
.lucid-manage-shapes .lucid-shape-group-wrapper.ng-enter-active {
  margin-top: 0;
  opacity: 1;
}
.lucid-managing-shapes .lucid-shape-group-wrapper.ng-leave,
.lucid-manage-shapes .lucid-shape-group-wrapper.ng-leave {
  margin-top: 0;
  opacity: 1;
}
.lucid-managing-shapes .lucid-shape-group-wrapper.ng-leave-active,
.lucid-manage-shapes .lucid-shape-group-wrapper.ng-leave-active {
  margin-top: -84px;
  opacity: 0;
}
.lucid-managing-shapes .lucid-shape-group-wrapper.repeat-animation.ng-enter-stagger,
.lucid-manage-shapes .lucid-shape-group-wrapper.repeat-animation.ng-enter-stagger {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
}
.lucid-managing-shapes .lucid-shape-group-wrapper.ng-animate,
.lucid-manage-shapes .lucid-shape-group-wrapper.ng-animate {
  -webkit-transition: .25s;
          transition: .25s;
  z-index: 0;
}
.lucid-managing-shapes .lucid-shape-group,
.lucid-manage-shapes .lucid-shape-group {
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: #D8D8D8;
}
.lucid-managing-shapes .lucid-shape-group .lucid-hide-shapes-icon,
.lucid-manage-shapes .lucid-shape-group .lucid-hide-shapes-icon {
  padding: 10px 2px;
  height: 40px;
}
.lucid-managing-shapes .lucid-shape-group .lucid-hide-shapes-icon svg g,
.lucid-manage-shapes .lucid-shape-group .lucid-hide-shapes-icon svg g {
  fill: #fff;
}
.lucid-managing-shapes .lucid-shape-group .shape-group-name,
.lucid-manage-shapes .lucid-shape-group .shape-group-name {
  font-weight: 300;
}
.lucid-managing-shapes .lucid-shapes-scroll,
.lucid-manage-shapes .lucid-shapes-scroll {
  background: #B2B2B2;
  padding-bottom: 0;
}
.lucid-managing-shapes .pin-library,
.lucid-manage-shapes .pin-library {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 6px 0;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px 0 0 0;
  width: 34px;
  height: 40px;
  cursor: pointer;
}
.lucid-managing-shapes .pin-library .lucid-icon-22,
.lucid-manage-shapes .pin-library .lucid-icon-22 {
  -webkit-transition: 0.25s ease-out -webkit-transform;
          transition: 0.25s ease-out transform;
}
.lucid-managing-shapes .pin-library.pinned,
.lucid-manage-shapes .pin-library.pinned {
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: 0.25s ease-in-out background;
          transition: 0.25s ease-in-out background;
}
.lucid-managing-shapes .pin-library.pinned .lucid-icon-22,
.lucid-manage-shapes .pin-library.pinned .lucid-icon-22 {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
}
.lucid-managing-shapes .shape-group-top,
.lucid-manage-shapes .shape-group-top {
  cursor: move;
  padding: 12px 10px;
  height: 40px;
  background: #77818C;
  color: #FFF;
  border-radius: 4px 4px 0 0;
}
.lucid-managing-shapes .shape-group-top input,
.lucid-manage-shapes .shape-group-top input {
  font-style: italic;
  padding: 0;
  margin-left: 35px;
  line-height: 16px;
  background: transparent;
  color: #fff;
  border: none;
  outline: none;
  width: 180px;
  font-size: 16px;
}
.lucid-managing-shapes .lucid-drop-area,
.lucid-manage-shapes .lucid-drop-area {
  top: 40px;
}
.lucid-managing-shapes .lucid-hide-shapes .shape-group-top,
.lucid-manage-shapes .lucid-hide-shapes .shape-group-top {
  border-radius: 4px;
}
.lucid-managing-shapes .lucid-shape-group:hover .shape-group-top,
.lucid-manage-shapes .lucid-shape-group:hover .shape-group-top {
  background: #858e98;
}
.lucid-managing-shapes .lucid-shapes-gear,
.lucid-manage-shapes .lucid-shapes-gear {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}
.lucid-managing-shapes .lucid-shape-group-top-right-icons,
.lucid-manage-shapes .lucid-shape-group-top-right-icons {
  float: right;
}
.lucid-managing-shapes .lucid-shape-group-top-right-icons .pipe-right,
.lucid-manage-shapes .lucid-shape-group-top-right-icons .pipe-right {
  font-size: 14px;
  font-weight: 300;
  border-right: 1px solid #95A8BA;
  padding-right: 10px;
  margin-right: 10px;
  vertical-align: top;
}
.lucid-managing-shapes .lucid-shape-group-top-right-icons .lucid-icon-22,
.lucid-manage-shapes .lucid-shape-group-top-right-icons .lucid-icon-22 {
  width: 18px;
  cursor: pointer;
  position: relative;
  top: -5px;
}
.lucid-shape-manager {
  position: absolute;
  top: 0;
  width: calc(100vw - 250px );
  bottom: 0;
  left: 250px;
  background: rgba(61, 71, 82, 0.95);
  z-index: -1;
  margin-left: 0;
}
.lucid-shape-manager .lucid-shape-manager-top-bar {
  background: #77818C;
  height: 59px;
  padding: 15px 20px;
  box-sizing: border-box;
  text-align: left;
}
.lucid-shape-manager .lucid-shape-manager-top-bar .lucid-new-library {
  float: left;
  background: #29AAE1;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  line-height: 29px;
  padding: 0 10px;
  vertical-align: top;
  height: 29px;
  cursor: pointer;
}
.lucid-shape-manager .lucid-shape-manager-top-bar .lucid-search-container {
  display: inline-block;
  width: 200px;
  position: relative;
  margin-left: 10px;
  float: left;
}
.lucid-shape-manager .lucid-shape-manager-top-bar .lucid-search-container input {
  width: 100%;
  height: 29px;
  line-height: 29px;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
  box-sizing: border-box;
  color: #FFF;
  background: rgba(255, 255, 255, 0.3);
}
.lucid-shape-manager .lucid-shape-manager-top-bar .lucid-search-container input::-webkit-input-placeholder {
  color: #fff;
}
.lucid-shape-manager .lucid-shape-manager-top-bar .lucid-search-container .lucid-search-icon {
  width: 18px;
  position: absolute;
  top: 5px;
  right: 7px;
}
.lucid-shape-manager .lucid-shape-manager-top-bar .lucid-close-icon {
  float: right;
  margin-top: 2px;
  cursor: pointer;
}
.lucid-shape-manager .top-bar-inner {
  opacity: 1;
}
.lucid-shape-manager .top-bar-inner.ng-hide {
  opacity: 0;
}
.lucid-shape-manager .top-bar-inner.ng-animate {
  -webkit-transition: 0.25s ease-in-out all;
          transition: 0.25s ease-in-out all;
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}
.lucid-shape-manager .lucid-shapes-scroll {
  background: transparent;
  opacity: 1;
  -webkit-transition: 0.25s ease-in-out all;
          transition: 0.25s ease-in-out all;
}
.lucid-shape-manager .lucid-shapes-scroll.ng-hide {
  opacity: 0;
}
.lucid-shape-manager .lucid-shapes-scroll.ng-animate {
  -webkit-transition: 0.25s ease-in-out opacity;
          transition: 0.25s ease-in-out opacity;
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}
.lucid-shape-manager .lucid-scroll-inner-wrap {
  padding: 20px;
  height: 10000px;
}
.lucid-shape-manager .scrollable .scrollable-slider {
  background: #333;
}
.lucid-shape-manager .lucid-shapes-manager-divider {
  position: relative;
  width: 100%;
  padding-bottom: 20px;
  float: left;
}
.lucid-shape-manager .lucid-shapes-manager-divider .divider-inner {
  position: relative;
  height: 14px;
  display: table;
  width: 100%;
}
.lucid-shape-manager .lucid-shapes-manager-divider .divider-title {
  display: table-cell;
  color: #77818C;
  text-transform: uppercase;
  text-align: left;
  line-height: 14px;
  white-space: nowrap;
  padding-right: 20px;
  font-size: 14px;
}
.lucid-shape-manager .lucid-shapes-manager-divider .divider-line {
  display: table-cell;
  width: 100%;
  position: relative;
}
.lucid-shape-manager .lucid-shapes-manager-divider .divider-line:after {
  position: absolute;
  left: 0;
  top: 7px;
  content: '';
  height: 1px;
  width: 100%;
  background: #77818C;
}
.lucid-shape-manager .lucid-shape-group-wrapper.ng-animate {
  -webkit-transition: .5s;
          transition: .5s;
  z-index: 0;
}
.lucid-shape-manager .lucid-shape-group-wrapper {
  margin-bottom: 0px;
  width: calc(50% - 10px);
}
.lucid-shape-manager .lucid-shape-group-wrapper.even {
  float: right;
}
.lucid-shape-manager .lucid-shape-group-wrapper.odd {
  float: left;
}
.lucid-shape-manager .lucid-shape-group {
  margin-bottom: 20px;
}
.lucid-shape-manager .lucid-shape-group .shapes-wrapper {
  max-height: 162px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
  padding: 15px;
}
.lucid-shape-manager .lucid-shape-group .shapes-wrapper.lucid-drawer-open {
  max-height: 600px;
}
.lucid-shape-manager .lucid-shape-group .shape-group-top .shape-group-name {
  padding-left: 35px;
}
.lucid-shape-manager .lucid-shape-group .shape-group-top .selected-option-wrapper {
  overflow: visible;
}
.lucid-shape-manager .lucid-shape-group .shape-group-top .gear-dropdown,
.lucid-shape-manager .lucid-shape-group .shape-group-top .import-dropdown {
  position: relative;
  cursor: pointer;
}
.lucid-shape-manager .lucid-shape-group .shape-group-top .gear-dropdown .lucid-select-dropdown,
.lucid-shape-manager .lucid-shape-group .shape-group-top .import-dropdown .lucid-select-dropdown {
  position: absolute;
  right: 0;
  width: 145px;
  min-width: 145px;
  left: inherit;
  color: #5a5a5a;
}
.lucid-shape-manager .lucid-shape-group .shape-group-top .gear-dropdown .lucid-select-dropdown .lucid-select-option,
.lucid-shape-manager .lucid-shape-group .shape-group-top .import-dropdown .lucid-select-dropdown .lucid-select-option {
  line-height: 30px;
  font-size: 14px;
  padding: 0 13px;
}
.lucid-shape-manager .lucid-shape-group .shape-group-top .gear-dropdown .lucid-select-dropdown > ul > li > img,
.lucid-shape-manager .lucid-shape-group .shape-group-top .import-dropdown .lucid-select-dropdown > ul > li > img {
  cursor: pointer;
  top: 3px;
  left: -3px;
  width: 22px;
  height: 22px;
}
.lucid-shape-manager .lucid-shape-group .shape-group-top .gear-dropdown .lucid-select-dropdown > ul > li .hidden-file-upload,
.lucid-shape-manager .lucid-shape-group .shape-group-top .import-dropdown .lucid-select-dropdown > ul > li .hidden-file-upload {
  width: 100%;
  height: 30px;
  position: absolute;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
}
.lucid-shape-manager .lucid-shape-group .shape-group-top .gear-dropdown .lucid-select-dropdown > ul > li .hidden-file-upload::-webkit-file-upload-button,
.lucid-shape-manager .lucid-shape-group .shape-group-top .import-dropdown .lucid-select-dropdown > ul > li .hidden-file-upload::-webkit-file-upload-button {
  cursor: pointer;
}
.lucid-shape-manager .lucid-shape-group .shape-group-top .gear-dropdown .lucid-select-dropdown {
  width: 110px;
  min-width: 110px;
}
.lucid-shape-manager .lucid-drawer-wrapper .lucid-show-more-drawer-button {
  background-color: #BFBFBF;
}
.lucid-shape-manager .lucid-drawer-wrapper .lucid-show-more-drawer-button .lucid-drawer-button-text {
  color: #5A5A5A;
}
.lucid-shape-manager .lucid-drawer-wrapper .lucid-show-more-drawer-button svg g {
  fill: #5A5A5A;
}
.lucid-shape-manager.ng-hide {
  margin-left: -100vw;
  opacity: 0;
}
.lucid-shape-manager.ng-animate {
  -webkit-transition: 0.5s ease-out all;
          transition: 0.5s ease-out all;
}
.lucid-shape-manager.ng-animate.ng-hide-remove {
  -webkit-transition: 0.5s ease-out all;
          transition: 0.5s ease-out all;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}
.import-options {
  position: absolute;
  bottom: 0px;
  left: 0;
  border-top: 1px solid #B7B7B7;
  width: 100%;
  background: #E8E9EA;
  z-index: 1;
  height: 50px;
  overflow: hidden;
  text-align: center;
}
.import-options.ng-hide {
  bottom: -50px;
}
.import-options.ng-animate {
  -webkit-transition: 0.25s ease-in-out all;
          transition: 0.25s ease-in-out all;
}
.import-options .import-to-canvas {
  padding: 14px;
  line-height: 22px;
  cursor: pointer;
  position: absolute;
  width: 250px;
  left: 0;
  top: 0;
}
.import-options .import-to-canvas > span {
  padding-left: 5px;
}
.import-options .import-to-canvas.ng-hide {
  left: -250px;
}
.import-options .import-to-canvas.ng-animate {
  -webkit-transition: 0.5s ease-in-out all;
          transition: 0.5s ease-in-out all;
}
.import-options .show-import-options {
  position: absolute;
  width: 250px;
  left: 0;
  top: 0;
}
.import-options .show-import-options.ng-hide {
  left: 250px;
}
.import-options .show-import-options.ng-animate {
  -webkit-transition: 0.5s ease-in-out all;
          transition: 0.5s ease-in-out all;
}
.import-options .show-import-options > ul {
  text-align: center;
  font-size: 0;
}
.import-options .show-import-options > ul > li {
  position: relative;
  padding: 14px 10px;
  display: inline-block;
  cursor: pointer;
}
.import-options .show-import-options > ul > li .hidden-file-upload {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 50px;
  opacity: 0;
  overflow: hidden;
  cursor: pointer;
}
.import-options .show-import-options > ul > li .hidden-file-upload::-webkit-file-upload-button {
  cursor: pointer;
}
.lucid-themes-drawer {
  margin-top: 17px;
  left: -15px;
  width: 100vw;
  background-color: #DDDDDD;
  position: absolute;
  z-index: 10;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.lucid-themes-drawer.ng-hide {
  -webkit-transition: .25s;
          transition: .25s;
}
.lucid-themes-drawer .lucid-themes-drawer-slide {
  padding: 10px;
  text-align: left;
  margin: 0;
}
.lucid-themes-drawer .lucid-themes-drawer-slide.ng-hide {
  margin-top: -166px;
}
.lucid-themes-drawer .lucid-themes-drawer-slide.ng-animate {
  -webkit-transition: margin ease-in-out 0.25s;
          transition: margin ease-in-out 0.25s;
}
.lucid-themes-drawer .theme-group {
  display: inline-block;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  color: #828282;
  -webkit-transition: 0.1s ease-in-out all;
          transition: 0.1s ease-in-out all;
}
.lucid-themes-drawer .theme-group .lucid-image {
  display: block;
  margin-bottom: 5px;
}
.lucid-themes-drawer .theme-group.lucid-new-theme:hover {
  background: transparent;
}
.lucid-themes-drawer .theme-group.lucid-new-theme .lucid-image {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-plus-large.svg) center center no-repeat;
  width: 100px;
  height: 75px;
  border: 2px dashed #999;
  margin-bottom: 10px;
  box-sizing: border-box;
}
.lucid-themes-drawer .theme-group .lucid-theme-title {
  font-size: 14px;
}
.lucid-themes-drawer .theme-group:hover,
.lucid-themes-drawer .theme-group.active {
  background-color: #A5AEB7;
  color: #fff;
}
.lucid-chart-block,
.lucid-canvas {
  -webkit-transition: 0.2s ease-in-out background-color, 0.2s ease-in-out color, 0.2s ease-in-out border;
          transition: 0.2s ease-in-out background-color, 0.2s ease-in-out color, 0.2s ease-in-out border;
}
.lucid-slide {
  position: absolute;
  color: orange;
  border: 1px solid;
  z-index: 2;
  opacity: 1;
  -webkit-transition: all ease-in-out 0.1s;
          transition: all ease-in-out 0.1s;
}
.lucid-slide.ng-hide {
  opacity: 0;
}
.lucid-slide .lucid-slide-corner {
  width: 8px;
  height: 8px;
  border: 2px solid;
  position: absolute;
}
.lucid-slide .lucid-top-left {
  border-bottom: none;
  border-right: none;
  left: 0;
  top: 0;
}
.lucid-slide .lucid-top-right {
  top: 0;
  right: 0;
  border-bottom: none;
  border-left: none;
}
.lucid-slide .lucid-bottom-right {
  bottom: 0;
  right: 0;
  border-top: none;
  border-left: none;
}
.lucid-slide .lucid-bottom-left {
  bottom: 0;
  left: 0;
  border-top: none;
  border-right: none;
}
.settings-drawer {
  position: fixed;
  bottom: 0;
  left: 250px;
  width: calc(100vw - 250px);
  z-index: 1;
}
.settings-drawer .settings-drawer-top {
  background: #3d4752;
  color: #fff;
  height: 32px;
  position: relative;
}
.settings-drawer .settings-drawer-top .lucid-button-icon {
  background: transparent;
  left: 0;
  position: absolute;
  top: 2px;
}
.settings-drawer .settings-drawer-top .lucid-button-icon .lucid-icon-14 {
  width: 18px;
  height: 18px;
  margin-top: 0;
}
.settings-drawer .settings-drawer-top .chat-img {
  height: 32px;
  position: absolute;
  right: 70px;
  top: 0;
}
.settings-drawer .settings-drawer-content {
  text-align: left;
  background: #EEEEEE;
  margin-bottom: 0;
}
.settings-drawer .settings-drawer-content.ng-hide {
  margin-bottom: -144px;
}
.settings-drawer .settings-drawer-content.ng-animate {
  -webkit-transition: all 0.35s ease-in-out;
          transition: all 0.35s ease-in-out;
}
.pages {
  height: 200px;
}
.pages > li {
  float: left;
}
.lucid-page {
  display: inline-block;
  cursor: pointer;
  text-align: center;
  width: 170px;
  height: 158px;
  vertical-align: top;
  border-radius: 4px;
  -webkit-transition: background .2s;
          transition: background .2s;
}
.lucid-page.current-page {
  background: #AFB7BF;
}
.lucid-page.current-page .master-icon {
  background: url(https://lucidsoftware.github.io/particle/components/0.0/icon/img/icon-master-white-22px.svg) no-repeat left center;
  background-size: 22px;
}
.lucid-page.current-page h4 {
  color: #fff;
}
.lucid-page .center-image {
  display: table;
  height: 135px;
}
.lucid-page .center-image .center-image-container {
  display: table-cell;
  vertical-align: middle;
  width: 170px;
}
.lucid-page .image-container {
  padding: 10px;
  position: relative;
  display: inline-block;
}
.lucid-page .page-thumb-wrapper {
  position: relative;
  overflow: hidden;
  width: 150px;
  max-height: 120px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: top 0.2s, box-shadow 0.2s;
          transition: top 0.2s, box-shadow 0.2s;
  margin: 0 auto;
}
.lucid-page:hover .page-thumb-wrapper {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}
.lucid-page:hover .page-x {
  opacity: 1;
}
.lucid-page .blank-page {
  height: 100px;
}
.lucid-page .page-x {
  width: 18px;
  height: 18px;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-close-dark-filled.svg');
  background-position: center center;
  position: absolute;
  top: 3px;
  right: 2px;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.lucid-page .master-page {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 32px;
  background: rgba(41, 170, 225, 0.3);
  top: 0;
}
.lucid-page .master-page .master-applied-icon {
  background: url(https://lucidsoftware.github.io/particle/components/0.0/icon/img/icon-master-2bluesteel-22px.svg) no-repeat right top;
  position: absolute;
  top: 5px;
  left: 10px;
  width: 22px;
  height: 22px;
  background-size: 22px;
}
.lucid-page .master-page > span {
  color: #77818C;
  line-height: 32px;
  font-size: 14px;
  font-weight: 300;
}
.lucid-page .master-page.ng-hide {
  top: -32px;
}
.lucid-page .master-page.ng-animate {
  -webkit-transition: 0.35s ease-in-out all;
          transition: 0.35s ease-in-out all;
}
.lucid-page h4 {
  display: inline-block;
  margin: 0 auto 10px;
  max-width: 150px;
  font-size: 12px;
  line-height: 1.4;
  color: #828282;
  -webkit-transition: color .1s;
  transition: color .1s;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.lucid-page h4:hover {
  color: #5a5a5a;
}
.lucid-page .rename-page-modal-content {
  padding: 15px;
  text-align: left;
}
.lucid-page .rename-page-modal-content span {
  font-size: 14px;
}
.lucid-page .rename-page-modal-content input {
  margin-top: 10px;
  width: 100%;
}
.lucid-pages .lucid-pages-wrapper {
  padding: 20px;
  background: #C4C4C4;
  display: block;
}
.lucid-pages .lucid-pages-wrapper > ul > li,
.lucid-pages .lucid-pages-wrapper .add-new-page {
  float: left;
  cursor: pointer;
  text-align: center;
  width: 170px;
  min-height: 152px;
  vertical-align: top;
  border-radius: 4px;
  -webkit-transition: background .2s;
          transition: background .2s;
  position: relative;
}
.lucid-pages .lucid-pages-wrapper > ul > li.sortable-ghost,
.lucid-pages .lucid-pages-wrapper .add-new-page.sortable-ghost {
  opacity: .5 !important;
}
.lucid-pages .lucid-pages-wrapper > ul > li.ng-enter,
.lucid-pages .lucid-pages-wrapper .add-new-page.ng-enter {
  -webkit-animation: PageAnimation 0.4s ease-out;
          animation: PageAnimation 0.4s ease-out;
}
.lucid-pages .lucid-pages-wrapper > ul > li.ng-enter h4,
.lucid-pages .lucid-pages-wrapper .add-new-page.ng-enter h4 {
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
}
.lucid-pages .lucid-pages-wrapper > ul > li.ng-enter-active,
.lucid-pages .lucid-pages-wrapper .add-new-page.ng-enter-active {
  -webkit-animation: PageAnimation 0.4s ease-out;
          animation: PageAnimation 0.4s ease-out;
}
.lucid-pages .lucid-pages-wrapper > ul > li.ng-enter-active h4,
.lucid-pages .lucid-pages-wrapper .add-new-page.ng-enter-active h4 {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}
.lucid-pages .lucid-pages-wrapper > ul > li.ng-leave-active,
.lucid-pages .lucid-pages-wrapper .add-new-page.ng-leave-active,
.lucid-pages .lucid-pages-wrapper > ul > li .ng-leave,
.lucid-pages .lucid-pages-wrapper .add-new-page .ng-leave {
  -webkit-animation: PageAnimation 0.4s ease-in-out;
          animation: PageAnimation 0.4s ease-in-out;
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
}
.lucid-pages .lucid-pages-wrapper > ul > li.ng-leave-active h4,
.lucid-pages .lucid-pages-wrapper .add-new-page.ng-leave-active h4,
.lucid-pages .lucid-pages-wrapper > ul > li .ng-leave h4,
.lucid-pages .lucid-pages-wrapper .add-new-page .ng-leave h4 {
  -webkit-transform: translateX(-40px);
      -ms-transform: translateX(-40px);
          transform: translateX(-40px);
}
.lucid-pages .lucid-pages-wrapper > ul > li.ng-animate h4,
.lucid-pages .lucid-pages-wrapper .add-new-page.ng-animate h4 {
  -webkit-transition: 0.4s ease-in-out all;
          transition: 0.4s ease-in-out all;
}
@-webkit-keyframes PageAnimation {
  0% {
    margin-right: -170px;
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
@keyframes PageAnimation {
  0% {
    margin-right: -170px;
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    margin-right: 0;
    opacity: 1;
  }
}
.lucid-pages .lucid-pages-wrapper .plus-container {
  width: 150px;
  height: 100px;
  margin: 20px 10px;
  background: none;
  border: 2px dashed #999;
  box-shadow: none;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-plus-large.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 30%;
  -webkit-transition: background-size 0.2s;
  transition: background-size 0.2s;
}
.lucid-pages .lucid-pages-wrapper:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
}
