<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content drag-content="false">
        <ion-nav-bar class="bar-stable fix-left-align">
            <ion-nav-back-button class="button-clear no-transition button-icon" ng-show="!search.show">
                <i class="icon"><icon-svg src="img/icons/back.svg"></icon-svg></i>
            </ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button ng-show="!search.show" class="button button-icon button-clear no-transition" menu-toggle="left">
                    <icon-svg src="img/icons/menu.svg"></icon-svg>
                </button>
                <button ng-show="search.show" class="ng-hide button buttons button-icon button-clear header-item no-transition" ng-click="$root.search = ''; search.show = false; "><i class="icon"><icon-svg src="img/icons/back.svg"></icon-svg></i></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button ng-show="!search.show" class="button button-clear button-icon header-item button-primary no-transition button-icon" style="transition:none" ng-click="search.show = true"><i class="icon active"><icon-svg src="img/icons/search.svg"></icon-svg></i></button>
                <input class="header-search" select-on-load ng-model="$root.search" placeholder="Search" ng-if="search.show">
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
        <!-- <ng-include src="'templates/fab.html'"></ng-include> -->
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-balanced">
            <img src="img/logo.svg" style="margin-left: 17px;">
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item class="item-icon-left" menu-close href="#/app/documents/" ng-class="getClass('/app/documents/')">
                    <i class="icon" ng-if="getClass('/app/documents/') !== 'active'"><icon-svg src="img/icons/folder.svg"></icon-svg></i>
                    <i class="icon active" ng-if="getClass('/app/documents/') == 'active'"><icon-svg src="img/icons/folder-solid.svg"></icon-svg></i> My Documents
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/documents/shared with me" ng-class="getClass('/app/documents/shared with me')">
                    <i class="icon" ng-if="getClass('/app/documents/shared with me') !== 'active'"><icon-svg src="img/icons/folder-shared.svg"></icon-svg></i>
                    <i class="icon active" ng-if="getClass('/app/documents/shared with me') == 'active'"><icon-svg src="img/icons/folder-shared-solid.svg"></icon-svg></i> Shared with me
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/documents/recent" ng-class="getClass('/app/documents/recent')">
                    <i class="icon" ng-if="getClass('/app/documents/recent') !== 'active'"><icon-svg src="img/icons/recent.svg"></icon-svg></i>
                    <i class="icon active" ng-if="getClass('/app/documents/recent') == 'active'"><icon-svg src="img/icons/recent-solid.svg"></icon-svg></i> Recent
                </ion-item>
                <div class="item-divider"></div>
                <ion-item class="item-icon-left" menu-close href="#/app/documents">
                    <i class="icon"><icon-svg src="img/icons/person.svg"></icon-svg></i>My Account
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/documents">
                    <i class="icon"><icon-svg src="img/icons/notifications.svg"></icon-svg></i>Notifications
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/documents">
                    <i class="icon"><icon-svg src="img/icons/trash.svg"></icon-svg></i>Recover from trash
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/documents">
                    <i class="icon"><icon-svg src="img/icons/support.svg"></icon-svg></i>Get Support
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/documents">
                    <i class="icon"><icon-svg src="img/icons/feedback.svg"></icon-svg></i>Send Feedback
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/documents">
                    <i class="icon"><icon-svg src="img/icons/info-outline.svg"></icon-svg></i>Privacy Policy
                </ion-item>
                <ion-item class="item-icon-left" menu-close href="#/app/documents">
                    <i class="icon"><icon-svg src="img/icons/person.svg"></icon-svg></i>Logout
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>