<ion-modal-view>
    <ion-header-bar class="bar bar-header bar-light">
        <div class="buttons buttons-left header-item" ng-show="!search.show">
            <button class="button button-clear button-primary button-icon" ng-click="close()"><i class="icon active"><icon-svg src="img/icons/close.svg"></icon-svg></i></button>
        </div>
        <h1 class="title">Pages</h1>
        <div class="buttons buttons-right">
            <span class="right-buttons">
                <button class="button button-clear button-primary no-transition" ng-show="!edit.show" ng-click="edit.show = true">Edit</button>
                <button class="button button-clear button-primary no-transition" ng-show="edit.show" ng-click="$root.filter = ''; edit.show = false; ">Done</button>
            </span>
        </div>
    </ion-header-bar>
    <ion-content>
        <ion-list show-delete="edit.show" show-reorder="edit.show" can-swipe="listCanSwipe" class="pages-list">
            <ion-item ng-repeat="page in pages track by $index" class="item-thumbnail-left" ng-click="$root.currentPage = page; close()">
                <img ng-src="{{page.img}}" ng-class="{'active-page' : page == $root.currentPage}">
                <h2>{{page.name}}</h2>
                <ion-delete-button ng-click="$parent.$parent.selectedPage = page" ng-class="{'selected-page': $parent.$parent.selectedPage == page}">
                    <i class="icon no-transition checkmark checked"><icon-svg src="img/icons/multiselect-active.svg"></icon-svg></i>
                    <i class="icon no-transition checkmark"><icon-svg src="img/icons/radio.svg"></icon-svg></i>
                </ion-delete-button>
                <ion-reorder-button class="ion-navicon" on-reorder="reorderItem(page, $fromIndex, $toIndex)">
                </ion-reorder-button>
            </ion-item>
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-light pages-footer">
        <div class="row">
            <div class="col" ng-show="edit.show">
                <button class="button button-clear">Delete</button>
            </div>
            <div class="col" ng-show="edit.show" ng-click="doSomething()">
                <button class="button button-clear">Rename</button>
            </div>
            <div class="col" ng-show="edit.show" ng-click="">
                <button class="button button-clear">Duplicate</button>
            </div>
        </div>
        <button ng-show="!edit.show" class="button button-clear plus-icon" style="font-size: 37px" ng-click="addPage()">
            <i class="ion ion-ios-plus-empty"></i>
        </button>
    </ion-footer-bar>
</ion-modal-view>