*,
*:before,
*:after {
  box-sizing: border-box;
}
body,
html {
  height: 100vh;
  overflow: hidden;
}
body {
  font-family: "Source Sans Pro", sans-serif;
  background: #3d4752;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
#wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  box-shadow: -10px 0 30px rgba(0, 0, 0, 0.25);
  -webkit-transition: margin .3s;
  transition: margin .3s;
}
#wrapper.with-mega-menu {
  margin-left: 200px;
}
#wrapper.with-mega-menu #main-container {
  opacity: .5;
}
#wrapper.with-mega-menu #left-bar,
#wrapper.with-mega-menu #option-bar,
#wrapper.with-mega-menu #right-dock,
#wrapper.with-mega-menu #main-footer,
#wrapper.with-mega-menu .ruler {
  opacity: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.reversed-text {
  font-weight: 300;
  letter-spacing: .5px;
}
.add-ons {
  padding: 10px;
}
.add-ons li {
  width: 222px;
  height: 178px;
  position: relative;
  float: left;
  margin: 10px;
  cursor: pointer;
  overflow: hidden;
}
.add-ons li .thumb {
  width: 100%;
}
.add-ons li.teal {
  border: 1px solid #64b9cc;
}
.add-ons li.teal footer {
  background: #64b9cc;
}
.add-ons li.teal footer button {
  background: #2e8099;
}
.add-ons li.teal footer button:hover {
  background: #145766;
}
.add-ons li.blue {
  border: 1px solid #2e8099;
}
.add-ons li.blue footer {
  background: #2e8099;
}
.add-ons li.blue footer button {
  background: #145766;
}
.add-ons li.blue footer button:hover {
  background: #0f414c;
}
.add-ons li.red {
  border: 1px solid #ed6058;
}
.add-ons li.red footer {
  background: #ed6058;
}
.add-ons li.red footer button {
  background: #b2403d;
}
.add-ons li.red footer button:hover {
  background: #993636;
}
.add-ons li.steel {
  border: 1px solid #505d68;
}
.add-ons li.steel footer {
  background: #505d68;
}
.add-ons li.steel footer button {
  background: #3d4752;
}
.add-ons li.steel footer button:hover {
  background: #272e35;
}
.add-ons li.green {
  border: 1px solid #8cbf3f;
}
.add-ons li.green footer {
  background: #8cbf3f;
}
.add-ons li.green footer button {
  background: #619900;
}
.add-ons li.green footer button:hover {
  background: #517f00;
}
.add-ons li footer {
  background: #999;
  color: #fff;
  height: 94px;
  position: absolute;
  bottom: -40px;
  width: 100%;
  -webkit-transition: bottom 0.2s ease-in-out;
  transition: bottom 0.2s ease-in-out;
}
.add-ons li footer h4 {
  text-align: left;
  padding: 8px 10px;
}
.add-ons li footer .stars {
  position: absolute;
  bottom: 48px;
  left: 8px;
}
.add-ons li footer span {
  float: right;
  margin-right: 10px;
}
.add-ons li footer button {
  display: block;
  margin: auto;
  clear: both;
  position: relative;
  top: 10px;
  letter-spacing: .5px;
}
.add-ons li:hover footer {
  bottom: 0;
}
#share section {
  padding: 15px;
}
#share .add-button {
  float: left;
  font-size: 14px;
  cursor: pointer;
}
#share .add-button img {
  width: 18px !important;
  display: inline;
  margin-right: 5px;
  position: relative;
  vertical-align: middle;
  top: -2px;
}
#share .group {
  position: relative;
}
#share .add-popup {
  position: absolute;
  top: 30px;
  padding: 10px;
  background: #f0f0f0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  width: 200px;
  z-index: 10;
}
#share .add-popup:after {
  content: '';
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  position: absolute;
  top: -10px;
  left: 10px;
}
#share .add-popup input {
  width: 100%;
  text-indent: 5px;
  margin-bottom: 5px;
}
#share .add-popup select {
  float: left;
}
#share .add-popup #push {
  color: #2C84B5;
  font-size: 14px;
  float: right;
  margin-top: 2px;
  margin-right: 3px;
  cursor: pointer;
}
#share .options {
  float: right;
  font-size: 14px;
  color: #2C84B5;
  cursor: pointer;
}
#share ul.collaborators {
  margin-top: 15px;
}
#share ul.collaborators > li {
  height: 30px;
  background: white;
  text-align: left;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 10px;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  cursor: pointer;
}
#share ul.collaborators > li.ng-enter {
  opacity: 0;
  height: 0;
}
#share ul.collaborators > li.ng-enter-active {
  opacity: 1;
  height: 30px;
}
#share ul.collaborators > li.ng-leave {
  opacity: 1;
  height: 30px;
}
#share ul.collaborators > li.ng-leave-active {
  opacity: 0;
  height: 0;
}
#share ul.collaborators > li .image-container {
  float: left;
  width: 30px !important;
  height: 30px;
  background: #77818C;
  border-radius: 4px 0 0 4px;
  overflow: hidden;
}
#share ul.collaborators > li .image-container img {
  border-radius: 4px 0 0 4px;
}
#share ul.collaborators > li .pencil,
#share ul.collaborators > li .avatar,
#share ul.collaborators > li .delete {
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
#share ul.collaborators > li .pencil,
#share ul.collaborators > li .delete {
  position: absolute;
  top: 3px;
  width: 22px !important;
  opacity: 0;
}
#share ul.collaborators > li .avatar {
  opacity: 1;
}
#share ul.collaborators > li .delete {
  right: 3px;
  opacity: 0;
}
#share ul.collaborators > li .pencil {
  left: 5px;
}
#share ul.collaborators > li:hover .avatar {
  opacity: 0;
}
#share ul.collaborators > li:hover .pencil,
#share ul.collaborators > li:hover .delete {
  opacity: 1;
}
#share ul.collaborators > li span {
  display: inline-block;
  margin: 7px 0 0 10px;
}
#share .permissions {
  position: absolute;
  top: 40px;
  left: -35px;
  background: #f0f0f0;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  z-index: 11;
}
#share .permissions li {
  margin-bottom: 5px;
  padding-left: 15px;
  position: relative;
}
#share .permissions li.active:before {
  content: '';
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/component-checkmark-bluesteel.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 1px;
  left: -2px;
  width: 14px;
  display: block;
  height: 22px;
}
#share .permissions:after {
  content: '';
  width: 0;
  height: 0;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #ccc;
  position: absolute;
  top: -10px;
  left: 40px;
}
.lucid-shapes-header > span {
  cursor: pointer;
}
li.lucid-select-option {
  display: block !important;
}
.lucid-shape-manager {
  z-index: -1;
}
.lucid-shapes-scroll {
  background: #D6D6D6;
  overflow-y: scroll;
}
.lucid-manage-shapes .lucid-shapes-scroll {
  background: #B2B2B2;
}
.lucid-shape-manager .lucid-shapes-scroll {
  background: transparent;
}
.show-shapes .shape-manager {
  width: 100%;
  opacity: 1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.show-shapes .shape-manager > header {
  margin-left: 0;
  -webkit-transition: all .6s;
  transition: all .6s;
}
.show-shapes .shape-manager .inner-content {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out 0.3s;
  transition: opacity 0.3s ease-in-out 0.3s;
}
.show-shapes #left-bar,
.show-shapes #left-bar #shapes {
  background: #B2B2B2;
}
.show-shapes #left-bar #shapes li {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}
.show-shapes #left-bar #shapes li:hover header {
  background: #858e98;
}
.show-shapes #left-bar #shapes li section {
  background: #D8D8D8;
}
.show-shapes #left-bar #shapes li section header {
  background-color: #77818C;
  padding-top: 10px;
  padding-bottom: 10px;
}
.show-shapes #left-bar #shapes li section header h3 {
  color: #fff;
  font-weight: 300;
}
.show-shapes #left-bar #shapes li section header .close {
  float: right;
  display: inline;
  width: 18px;
}
.show-shapes #left-bar #shapes li section header .pin {
  display: none;
}
.show-shapes #left-bar #shapes li section header .content {
  padding: 5px;
}
.show-shapes #more-shapes img {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.shape-manager {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 250px;
  width: 0;
  opacity: 0;
  height: 100%;
  background: rgba(61, 71, 82, 0.95);
  z-index: 6;
  -webkit-transition: all 0.3s 0.1s ease-in-out;
  transition: all 0.3s 0.1s ease-in-out;
}
.shape-manager .right {
  float: right;
}
.shape-manager > header {
  height: 60px;
  background: #77818C;
  border-bottom: 1px solid #3d4752;
  line-height: 59px;
  color: #fff;
  padding: 0 30px;
  text-align: center;
  margin-left: -200px;
  -webkit-transition: all .1s .5s;
  transition: all .1s .5s;
}
.shape-manager > header .search-container {
  position: relative;
  display: inline-block;
}
.shape-manager > header .search-container img {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 18px;
}
.shape-manager > header input {
  border: none;
  border-radius: 4px;
  height: 28px;
  font-size: 14px;
  font-family: "Source Sans Pro", sans-serif;
  text-indent: 10px;
  margin: 15px;
  width: 180px;
}
.shape-manager > header button {
  float: left;
  border: 0;
  height: 28px;
  background: #29AAE1;
  border-radius: 4px;
  font-family: 'Source Sans Pro', sans-serif;
  color: #fff;
  font-size: 14px;
  padding: 0 15px;
  margin-top: 15px;
}
.shape-manager > header h3 {
  display: inline-block;
}
.shape-manager > header .right img {
  cursor: pointer;
  vertical-align: middle;
}
.shape-manager .inner-content {
  opacity: 0;
  -webkit-transition: opacity 0.1s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  height: 100%;
}
.shape-manager .inner-content .wrapper {
  padding: 40px 25px 25px;
  overflow: scroll;
  height: 100%;
  padding-bottom: 60px;
}
.shape-manager .inner-content .wrapper > section > ul {
  -webkit-column-width: 300px;
     -moz-column-width: 300px;
          column-width: 300px;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}
.shape-manager .inner-content .wrapper > section > ul > li {
  background: #D8D8D8;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0 20px 40px;
  overflow: hidden;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  page-break-inside: avoid;
}
.shape-manager .inner-content .wrapper > section > ul > li.sortable-ghost {
  opacity: .5 !important;
}
.shape-manager .inner-content .wrapper > section > ul > li.pinned header .pin {
  background-color: #29AAE1;
}
.shape-manager .inner-content .wrapper > section > ul > li header {
  padding: 10px 10px 10px 15px;
  background: #77818C;
  border-radius: 4px 4px 0 0;
  color: #fff;
  min-width: 150px;
  -webkit-transition: background .1s;
  transition: background .1s;
}
.shape-manager .inner-content .wrapper > section > ul > li header .shape-count {
  background: #3d4752;
  width: 24px;
  height: 20px;
  border-radius: 4px;
  margin-right: 10px;
  display: inline-block;
  text-align: center;
  font-weight: 300;
  font-size: 14px;
  vertical-align: middle;
  padding-top: 2px;
}
.shape-manager .inner-content .wrapper > section > ul > li header h3 {
  font-weight: 300;
  display: inline-block;
}
.shape-manager .inner-content .wrapper > section > ul > li header .pin {
  width: 22px;
  height: 22px;
  background: #3d4752;
  border-radius: 4px;
  margin-top: -3px;
  -webkit-transition: background .2s;
  transition: background .2s;
}
.shape-manager .inner-content .wrapper > section > ul > li header .close {
  display: none;
}
.shape-manager .inner-content .wrapper > section > ul > li .content {
  padding: 5px;
}
.shape-manager .inner-content .wrapper > section > ul > li .image-container {
  display: inline-block;
  margin: 5px;
}
#main-header {
  z-index: 1;
  height: 54px;
  background: #3d4752;
  color: #fff;
  position: absolute;
  text-align: center;
  top: 0;
  width: 100%;
  -webkit-transition: top .3s;
  transition: top .3s;
}
#main-header .dd-arrow {
  position: relative;
  padding-right: 17px;
}
#main-header .dd-arrow:after {
  display: inline-block;
  width: 0;
  height: 0;
  content: '';
  border-top: 5px solid white;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  top: 6px;
  right: 0;
}
#main-header .help {
  background: #b7b7b7;
  width: 20px;
  height: 20px;
  padding-top: 2px;
  text-align: center;
  color: #3d4752;
  border-radius: 999px;
  font-weight: bold;
  vertical-align: middle;
  cursor: pointer;
  display: inline-block;
}
#main-header .left {
  width: 33%;
  float: left;
  padding-left: 70px;
  margin-top: 15px;
  text-align: left;
}
#main-header .center {
  width: 33%;
  float: left;
  text-align: center;
  padding-top: 15px;
}
#main-header .right {
  float: left;
  width: 33%;
  text-align: right;
  margin-top: 10px;
  padding-right: 10px;
}
#main-header #documents {
  display: inline-block;
  background: #F78D1E;
  height: 54px;
  width: 54px;
  vertical-align: middle;
  margin-right: 15px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
}
#main-header #documents img {
  width: 100%;
}
#main-header #documents span {
  font-size: 10px;
  letter-spacing: 1px;
  position: relative;
  top: -6px;
}
#main-header .document-name {
  color: #fff;
  vertical-align: middle;
  height: 20px;
}
#main-header .present {
  display: none;
}
#main-header span.line {
  display: inline-block;
  width: 1px;
  height: 29px;
  margin: 0 20px;
  background: rgba(255, 255, 255, 0.25);
  vertical-align: middle;
}
#main-header .account {
  font-size: 14px;
  vertical-align: middle;
  position: relative;
}
#main-header .account .lucid-context-menu {
  top: 40px;
  right: 30px;
}
#main-header .page-name {
  height: 20px;
  vertical-align: middle;
  padding: 0 10px;
}
#main-header .page-name span {
  max-width: 200px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;
  vertical-align: middle;
}
#main-header .page-count {
  display: inline-block;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-page-dark.svg');
  color: white;
  padding-top: 6px;
  width: 18px;
  height: 22px;
  font-size: 12px;
  margin: -2px 10px 0;
  vertical-align: middle;
}
#main-header .master-page-compass {
  vertical-align: top;
  margin-top: -5px;
  margin-left: 0;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
}
#main-header .master-page-compass.ng-hide {
  margin-left: -32px;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}
#main-header .master-page-compass.ng-animate {
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
}
#main-header .master-page-compass .lucid-popover-menu {
  top: 50px;
}
#main-header .master-page-compass .lucid-popover-menu::after {
  border-bottom-color: #fff;
}
#main-header .master-page-compass .lucid-popover-menu .lucid-context-menu {
  border-radius: 3px;
  box-shadow: none;
  position: relative;
}
#main-header .master-page-compass .lucid-popover-menu .lucid-context-menu > div {
  text-align: center;
}
#main-header .master-page-text {
  color: #77818C;
  font-weight: 300;
  line-height: 20px;
  vertical-align: top;
  position: fixed;
  opacity: 1;
}
#main-header .master-page-text.ng-hide {
  opacity: 0;
}
#main-header .master-page-text.ng-animate {
  -webkit-transition: 0.5s ease-in-out opacity;
  transition: 0.5s ease-in-out opacity;
}
#main-header .status {
  font-size: 14px;
  color: #707E8D;
}
#main-header .bell {
  vertical-align: middle;
  margin-left: 20px;
  display: inline-block;
  position: relative;
}
#main-header .bell .bubble {
  background: #29AAE1;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 14px;
  text-align: center;
  text-indent: 1px;
  position: absolute;
  bottom: -5px;
  right: -7px;
  -webkit-transition: all .2s;
  transition: all .2s;
}
#main-header .bell .bubble.ng-hide {
  opacity: 0;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
#main-header .bell header {
  background: #77818C;
  height: 44px;
  line-height: 44px;
  padding: 0 15px;
  font-weight: 600;
  letter-spacing: .5px;
  border-radius: 4px 4px 0 0;
}
#main-header .bell header img {
  float: right;
  margin-top: 12px;
}
#main-header .bell .notifications {
  margin-bottom: 100px;
  border-bottom: 1px solid #D2D2D2;
  cursor: pointer;
}
#main-header .bell .lucid-popover-menu {
  background: white;
}
#main-header .bell .lucid-popover-menu:after {
  border-bottom-color: #77818C;
}
#main-container {
  z-index: 0;
  height: calc(100% - 54px);
  width: 100%;
  display: inline-block;
  margin-top: 54px;
  position: relative;
  -webkit-transition: all .3s;
  transition: all .3s;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/grid-bg-new.png') 17px 0;
}
#main-container .page-container {
  position: absolute;
  top: 108px;
  left: 294px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.25);
  background: #fff;
  height: 694px;
  min-width: 904px;
}
#main-container .page {
  display: none;
}
#mega-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
}
#mega-menu ul li {
  line-height: 53px;
  color: #fff;
  padding-left: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  cursor: pointer;
  background: transparent;
  -webkit-transition: background .1s;
  transition: background .1s;
}
#mega-menu ul li:hover {
  background: rgba(255, 255, 255, 0.15);
}
#mega-menu ul li img {
  vertical-align: middle;
  width: 22px;
  margin-right: 10px;
  margin-bottom: 4px;
}
.ruler {
  position: absolute;
  background: #c4c4c4;
  opacity: 1;
  -webkit-transition: opacity 0.3s, left 0.3s ease-in-out;
  transition: opacity 0.3s, left 0.3s ease-in-out;
}
#ruler-vert {
  top: 60px;
  left: 250px;
  height: 100%;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.4);
}
#ruler-vert img {
  width: 26px;
}
#ruler-hor {
  top: 60px;
  left: 250px;
  width: 100%;
  box-shadow: 28px 3px 10px rgba(0, 0, 0, 0.4);
}
#ruler-hor img {
  height: 26px;
}
.parent {
  position: relative;
}
.parent .submenu {
  position: absolute;
  right: 0;
  top: 17px;
  background: white;
  width: 175px;
  margin-top: 8px;
  padding: 6px 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  z-index: 20;
  display: none;
}
.parent .submenu li {
  color: #5a5a5a;
  width: 100%;
  padding: 6px 14px;
  padding-left: 18px;
  font-weight: 400;
  margin: 0;
  font-size: 14px;
  -webkit-transition: background .1s;
  transition: background .1s;
}
.parent .submenu li:hover {
  background: rgba(230, 230, 230, 0.5);
}
#left-bar {
  background: #c4c4c4;
  width: 250px;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 7;
  -webkit-transition: opacity 0.3s, left 0.3s ease-in-out;
  transition: opacity 0.3s, left 0.3s ease-in-out;
  border-right: 1px solid #b7b7b7;
}
.left-panel-hidden #left-bar {
  left: -250px;
  opacity: 0;
}
.left-panel-hidden #option-bar > ul {
  margin-left: 10px;
}
.left-panel-hidden #main-footer {
  padding-left: 0;
}
.left-panel-hidden #ruler-vert,
.left-panel-hidden #ruler-hor {
  left: 0;
}
.right-panel-hidden #right-dock,
.right-panel-hidden #right-dock.open {
  right: -75px;
}
.header-hidden #main-header {
  top: -54px;
}
.header-hidden #main-container {
  margin-top: 0;
  height: 100%;
}
.footer-hidden #main-footer {
  bottom: -40px;
}
.toolbar-hidden #option-bar {
  position: relative;
  top: -60px;
  opacity: 0;
}
.toolbar-hidden .ruler {
  opacity: 0;
}
#option-bar {
  width: 100%;
  z-index: 5;
  padding: 2px 0;
  background: #e8e9ea;
  height: 60px;
  top: 0;
  border-bottom: 1px solid #b7b7b7;
  -webkit-transition: opacity .3s, top .3s;
  transition: opacity .3s, top .3s;
}
#option-bar .lucid-popover-menu {
  z-index: 99;
}
#option-bar .secondary-gray {
  background-color: #e5e5e5;
  padding: 10px;
}
#option-bar > ul {
  margin-left: 265px;
  margin-top: 10px;
  -webkit-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
}
#option-bar > ul > li {
  display: inline-block;
  border-radius: 4px;
  -webkit-transition: all .1s;
  transition: all .1s;
  vertical-align: top;
  min-width: 32px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-radius: 0;
}
#option-bar > ul > li.small {
  margin-right: -4px;
  border-radius: 4px 0 0 4px;
}
#option-bar > ul .line {
  display: inline-block;
  width: 1px;
  background: #ccc;
  height: 30px;
  margin: 0 5px 0 10px;
}
#full-screen-toggle {
  float: right;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 5px;
}
#full-screen-toggle img {
  width: 22px;
}
.page-drawer .lucid-pages-wrapper {
  margin-top: 0px;
}
.page-drawer.ng-hide .lucid-pages-wrapper {
  margin-top: -198px;
}
.page-drawer.ng-animate {
  -webkit-transition: 0.5s ease-in-out !important;
  transition: 0.5s ease-in-out !important;
}
.page-drawer.ng-animate .lucid-pages-wrapper {
  -webkit-transition: 0.5s ease-in-out !important;
  transition: 0.5s ease-in-out !important;
}
#page-list {
  overflow: hidden;
  position: relative;
  top: 54px;
}
#right-dock {
  position: absolute;
  top: 60px;
  right: 0;
  width: 70px;
  height: 100%;
  background: #E0E0E0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 7;
  -webkit-transition: right 0.3s ease-out, opacity 0.3s;
  transition: right 0.3s ease-out, opacity 0.3s;
  padding-top: 10px;
  border-left: 1px solid #d2d2d2;
}
#right-dock .icon-wrapper {
  text-transform: uppercase;
  color: #77818C;
  font-size: 10px;
  cursor: pointer;
  -webkit-transition: color ease-in-out 0.1s, background 0.1s, margin 0.5s, -webkit-transform 0.5s;
  transition: color ease-in-out 0.1s, background 0.1s, margin 0.5s, -webkit-transform 0.5s;
  transition: color ease-in-out 0.1s, background 0.1s, transform 0.5s, margin 0.5s;
  transition: color ease-in-out 0.1s, background 0.1s, transform 0.5s, margin 0.5s, -webkit-transform 0.5s;
  padding: 14px 0;
  position: relative;
  margin-left: -1px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  margin: 0;
}
#right-dock .icon-wrapper .orange {
  color: #EB7D30;
}
#right-dock .icon-wrapper:first-of-type {
  padding-top: 15px;
}
#right-dock .icon-wrapper:hover,
#right-dock .icon-wrapper.active {
  color: #3d4752;
}
#right-dock .icon-wrapper.active {
  background: #EBECED;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 0px 7px rgba(0, 0, 0, 0.15);
}
#right-dock .icon-wrapper.ng-animate .tooltip {
  -webkit-transition: opacity .5s .5s;
  transition: opacity .5s .5s;
}
#right-dock .icon-wrapper.ng-hide {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  margin: -32px 0;
}
#right-dock .icon-wrapper.ng-hide .tooltip {
  opacity: 0;
}
#right-dock .icon-wrapper .tooltip {
  background: #F78D1E;
  color: white;
  border-radius: 4px;
  box-shadow: 0 2px 15px rgba(247, 141, 30, 0.7);
  position: absolute;
  right: 75px;
  top: 10px;
  width: 150px;
  text-align: left;
  font-size: 14px;
  text-transform: none;
  padding: 10px;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
#right-dock .icon-wrapper .tooltip:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 8px solid #F78D1E;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  position: absolute;
  top: 9px;
  right: -8px;
}
#right-dock .icon-wrapper .tooltip.ng-animate {
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
#right-dock .icon-wrapper .tooltip.ng-hide {
  opacity: 0;
}
#right-dock .icon {
  width: 22px;
  height: 26px;
  position: relative;
  margin: auto;
}
#right-dock .right-panel {
  position: absolute;
  top: 0;
  right: -250px;
  width: 250px;
  height: 100%;
  background: #EBECED;
}
#right-dock .right-panel .container {
  height: calc(100% - 58px);
}
#right-dock .right-panel header {
  background: #596470;
  padding: 10px 15px;
  color: #fff;
  text-align: left;
  font-size: 14px;
  position: relative;
}
#right-dock .right-panel header img {
  width: 22px;
  position: absolute;
  right: 10px;
  top: 6px;
  cursor: pointer;
}
#right-dock .right-panel footer {
  position: absolute;
  bottom: 0;
}
#right-dock .right-panel img {
  width: 100%;
}
#right-dock.open {
  right: 250px;
}
#right-dock.open .right-panel .container {
  position: absolute;
  width: 100%;
}
.settings-drawer .settings-drawer-top {
  height: 40px;
  padding-top: 20px;
}
.settings-drawer .settings-drawer-top button {
  color: #fff;
  padding: 10px;
}
.settings-drawer .settings-drawer-top .lucid-icon-18 {
  vertical-align: top;
  margin-top: -4px;
  margin-right: 5px;
  width: 22px;
}
.group:after {
  content: "";
  display: table;
  clear: both;
}
