<button class="lucid-button lucid-blue" ng-click="importModal=true"> Show Modal</button>
<lucid-modal showmodal="importModal" width="590" height="460" title="Import Files" confirm="Import" cancel="Nevermind">
    <!-- Insert modal content here -->
    <lucid-finger-tabs>
        <lucid-finger-tab name="On your computer" selected>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/placholder-import-dialog.png">
        </lucid-finger-tab>
        <lucid-finger-tab name="Dropbox">
            Tab 2 again
        </lucid-finger-tab>
        <lucid-finger-tab name="Google Drive">
            Tab 3
        </lucid-finger-tab>
        <lucid-finger-tab name="Facebook">
            Tab 4
        </lucid-finger-tab>
        <lucid-finger-tab name="Flickr">
            Tab 5
        </lucid-finger-tab>
    </lucid-finger-tabs>
</lucid-modal>