<html ng-app="particleApp">

<head>
    <link rel="stylesheet" type="text/css" href="../components.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="../components-min.js"></script>
    <script src="js/app.js"></script>
</head>

<body>
    <div id="sidebar" class="reversed-text">
        <ul>
            <li style="background-color: #77818C;"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-close-white.svg" /></li>
            <li class="no-propagate">
                <a href="http://s.codepen.io/team/lucidsoftware/debug/944b732e7d71a1fb50537f7278783fee?"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-folder-orange.svg" class="icon" />Go to Documents</a>
            </li>
            <li>New document</li>
            <li>Save as...</li>
            <li>Copy document</li>
            <li>Download</li>
            <li>Print</li>
            <li>Quit</li>
        </ul>
    </div>
    <div id="wrapper">
        <div id="main-header">
            <div class="left"><a href="#" class="document-name reversed-text">Company Org Chart</a></div>
            <div class="center">
                <div class="page-count">{{$root.pages.length}}</div>
                <a href="#" class="page-name reversed-text" ng-click="showPages = !showPages">
                    <span class="dd-arrow">{{$root.currentPage.name}}</span>
                </a>
                <div class="lucid-buttcon master-page-compass lucid-animate" ng-click="showMasterPopover = !showMasterPopover" ng-show="$root.masterPageCount().length>0">
                    <img src="https://lucidsoftware.github.io/particle/components/0.0/icon/img/icon-master-2bluesteel-22px.svg" class="lucid-icon-22">
                    <lucid-popover-menu ng-show="showMasterPopover" width="200">
                        <div class="lucid-context-menu">
                            <ul>
                                <li ng-show="!$root.currentPage.master" ng-click="$root.currentPage.master = true">Convert to Master Layer</li>
                                <li ng-show="$root.currentPage.master" ng-click="$root.currentPage.master = false">Convert to Page</li>
                                <li class="lucid-context-more">Apply Master Layer
                                    <ul>
                                        <li ng-repeat="master in $root.masterPageCount()" ng-click="$parent.$parent.applyMaster(page);">
                                            {{master.name}}
                                        </li>
                                    </ul>
                                </li>
                                <li ng-show="masterapplied" ng-click="masterapplied = false">Remove Master Layer</li>
                            </ul>
                        </div>
                    </lucid-popover-menu>
                </div>
                <span class="master-page-text lucid-animate" ng-show="$root.currentPage.master">MASTER</span>
            </div>
            <div id="documents"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/docs-button2.png" /></div>
            <div class="right">
                <div class="help">?</div><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-bell-white.svg" class="bell" /><span class="line"></span>
                <a href="#" class="parent account"> <span class="dd-arrow reversed-text">janedoe@gmail.com</span>
                    <ul class="submenu">
                        <li class="settings-trigger">User Settings</li>
                        <li>Logout</li>
                    </ul>
                </a>
            </div>
        </div>
        <div id="present-header">
            <div class="left"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/lucidchart-logo.svg" class="logo present" /><a href="#" class="document-name present reversed-text exit-fullscreen">Back to Editor (ESC)</a></div>
            <div class="center">
                <a href="#" class="page-name reversed-text">
                    <div class="page-count">{{$root.pages.length}}</div><span class="dd-arrow">{{$root.currentPage.name}}</span></a>
            </div>
        </div>
        <div id="page-list">
            <div ng-show="showPages" class="page-drawer lucid-animate">
                <lucid-pages showpages="showPages"></lucid-pages>
            </div>
        </div>
        <div id="main-container">
            <div class="page-container">
                <div style="display: block;" class="page page-1">
                    <lucid-canvas></lucid-canvas>
                </div>
                <div class="page page-2"></div>
                <div class="page page-3"></div>
            </div>
            <lucid-shapes-manager id="left-bar"></lucid-shapes-manager>
            <div id="option-bar" class="group">
                <ul>
                    <li>
                        <lucid-themes></lucid-themes>
                    </li>
                    <span class="line"></span>
                    <li class="font-choices">
                        <lucid-select options="['Lucida Sans', 'Raleway', 'Source Sans Pro', 'Helvetica Neue']"></lucid-select>
                    </li>
                    <li>
                        <lucid-input-stepper step="1" width="50" number="12" unit="pt"></lucid-input-stepper>
                    </li><span class="line"></span>
                    <li class="small left lucid-buttcon toggle"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-text-bold-bluesteel.svg" class="lucid-buttcon-icon" /></li>
                    <li class="small middle lucid-buttcon toggle"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-text-italic-bluesteel.svg" class="lucid-buttcon-icon" /></li>
                    <li class="middle lucid-buttcon toggle"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-text-underline-bluesteel.svg" class="lucid-buttcon-icon" /></li>
                    <li class="middle">
                        <lucid-text-alignment></lucid-text-alignment>
                    </li>
                    <li>
                        <lucid-text-options></lucid-text-options>
                    </li><span class="line"></span>
                    <li class="left">
                        <lucid-color-picker selected="selectedBlock"></lucid-color-picker>
                    </li>
                    <li class="middle">
                        <lucid-saved-styles></lucid-saved-styles>
                    </li>
                    <li class="middle">
                        <lucid-border-options></lucid-border-options>
                    </li>
                    <li>
                        <lucid-shadow-options></lucid-shadow-options>
                    </li><span class="line"></span>
                    <li class="left">
                        <lucid-path-style></lucid-path-style>
                    </li>
                    <li class="middle">
                        <lucid-line-options></lucid-line-options>
                    </li>
                    <li class="right">
                        <lucid-input-stepper step="1" width="50" number="14" unit="pt"></lucid-input-stepper>
                    </li><span class="line"></span>
                    <li class="buttcon no-component toggle left"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-lock-bluesteel.svg" /></li>
                    <li class="buttcon no-component toggle middle"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-magnet-bluesteel.svg" /></li>
                    <li class="buttcon no-component middle"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-addcomment-bluesteel.svg" /></li>
                    <li class="buttcon no-component toggle"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-link-bluesteel.svg" /></li>
                    <li id="full-screen-toggle"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-fullscreen-bluesteel.svg" /></li>
                </ul>
            </div>
            <div id="right-dock" ng-controller="RightDockCtrl" ng-class="{ open: rightDock }">
                <div data-panel="#details" class="icon-wrapper" ng-class="{active: openTab == 'details'}" ng-click="setTab('details');">
                    <div class="icon share"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-details-bluesteel-22px.svg" class="full" /></div><span>Details</span>
                </div>
                <div data-panel="#share" class="icon-wrapper" ng-class="{active: openTab == 'share'}" ng-click="setTab('share');">
                    <div class="icon share"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-share-3.svg" class="full" /></div><span>Share</span>
                </div>
                <div data-panel="#interact" class="icon-wrapper" ng-class="{active: openTab == 'layers'}" ng-click="setTab('layers');">
                    <div class="icon share"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-layers-mode.svg" class="full" /></div><span>Layers</span>
                </div>
                <div data-panel="#comments" class="icon-wrapper" ng-class="{active: openTab == 'comments'}" ng-click="setTab('comments');">
                    <div class="icon share"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-comments-mode.svg" class="full" /></div><span>Comments</span>
                </div>
                <div data-panel="#present" class="icon-wrapper" ng-class="{active: openTab == 'present'}" ng-click="setTab('present');">
                    <div class="icon share"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-presentation-bluesteel.svg" class="full" /></div><span>Present</span>
                </div>
                <div data-panel="#history" class="icon-wrapper" ng-class="{active: openTab == 'history'}" ng-click="setTab('history');">
                    <div class="icon share"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-history-mode.svg" class="full" /></div><span>History</span>
                </div>
                <div class="right-panel">
                    <div id="details" class="container" ng-show="openTab === 'details'">
                        <header>Details<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-close-white.svg" class="close" ng-click="setTab('');"/></header><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/placeholder-details-v4.png" />
                    </div>
                    <div id="share" class="container" ng-controller="ShareCtrl" ng-show="openTab === 'share'">
                        <header>Share<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-close-white.svg" class="close" ng-click="setTab('');"/><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-close-white.svg" class="close" ng-click="setTab('');"/></header>
                        <section>
                            <div class="group">
                                <div class="add-button" ng-click="showPopup();"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-more-shapes-plus-grey.svg" />Add</div>
                                <div class="options">Options</div>
                                <div class="add-popup" ng-show="showing">
                                    <input type="text" placeholder="Add person, email, or group" ng-model="dummyData.name">
                                    <select ng-model="dummyData.role">
                                        <option>Editor</option>
                                        <option>Commenter</option>
                                        <option>Viewer</option>
                                    </select>
                                    <div id="push" ng-click="addPerson(dummyData);">Add</div>
                                </div>
                            </div>
                            <ul class="collaborators">
                                <li class="lucid-animate" ng-repeat="person in collaborators">
                                    <div class="image-container" ng-click="showPermissions = !showPermissions;"><img class="avatar" ng-src="{{ person.image }}" ng-if="person.image" /><img class="pencil" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-edit-pencil-white.svg" /></div>
                                    <span>{{ person.name }}</span>
                                    <img class="delete" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-closeXsmall-bluesteel.svg" ng-click="collaborators.splice($index, 1);" />
                                    <div class="permissions" ng-show="showPermissions">
                                        <ul>
                                            <li class="active">Editor</li>
                                            <li>Commenter</li>
                                            <li>Viewer</li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </section>
                    </div>
                    <div id="interact" class="container" ng-show="openTab === 'layers'">
                        <header>Layers<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-close-white.svg" class="close" ng-click="setTab('');"/></header><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/placeholder-layers-v4.png" />
                    </div>
                    <div id="comments" class="container" ng-show="openTab === 'comments'">
                        <header>Comments<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-close-white.svg" class="close" ng-click="setTab('');"/></header><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/placeholder-comments-v4.png" />
                    </div>
                    <div id="present" class="container" ng-show="openTab === 'present'">
                        <header>Present<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-close-white.svg" class="close" ng-click="setTab('');"/></header><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/placeholder-present-v4.png" />
                        <footer id="present-trigger"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/placeholder-present-2-v4.png" /></footer>
                    </div>
                    <div id="history" class="container" ng-show="openTab === 'history'">
                        <header>History<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-close-white.svg" class="close" ng-click="setTab('');"/></header><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/placeholder-history-top-v4.png" />
                        <footer><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/placeholder-history-bottom-v4.png"></footer>
                    </div>
                </div>
            </div>
        </div>
        <div id="modal">
            <div class="shade">
                <div id="rename-modal" class="modal-container">
                    <header>
                        <h2>Rename page</h2>
                    </header>
                    <div class="content">
                        <h3>Enter a new page title:</h3>
                        <input type="text" value="test" />
                    </div>
                    <footer>
                        <button class="submit">Submit</button>
                        <button class="cancel">Cancel</button>
                    </footer>
                </div>
                <div id="settings-modal" class="modal-container fake-modal"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/placeholder-settings.png" />
                    <div class="cancel"></div>
                    <div class="close"></div>
                </div>
                <div id="shapes-modal" class="modal-container fake-modal"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/placeholder-shapespopover.png" />
                    <div class="cancel"></div>
                    <div class="close"></div>
                </div>
                <div id="help-modal" class="modal-container">
                    <header>
                        <h2>Help</h2>
                    </header>
                    <div class="content">
                        <h3>What can we help you find?</h3>
                        <input type="text" placeholder="Ex: &quot;Export my document&quot;" />
                    </div>
                    <footer>
                        <button class="submit">Submit</button>
                        <button class="cancel">Cancel</button>
                    </footer>
                </div>
                <div id="import-modal" class="modal-container fake-modal"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/placholder-import-dialog.png" />
                    <div class="cancel"></div>
                    <div class="close"></div>
                </div>
            </div>
        </div>
</body>

</html>
