<div class="advanced-shapes-wrapper" ng-show="$root.selectedType == 'table'">
    <ul class="advanced-shapes">
        <li class="advanced-settings-title">
            <span>Table Settings</span>
        </li>
        <li>
            <lucid-buttcon class="reversed-text lucid-icon fill-white" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-table-grid-22px.svg" label="grid"></lucid-buttcon>
        </li>
        <li class="reversed-text">
            <lucid-buttcon icon="http://particle.golucid.co/components/3.0/icon/icons/icon-table-grid-column-22px.svg" class="has-label reversed-text lucid-icon fill-white"></lucid-buttcon>
            <lucid-buttcon icon="http://particle.golucid.co/components/3.0/icon/icons/icon-table-grid-row-22px.svg" class="has-label reversed-text lucid-icon fill-white"></lucid-buttcon>
            <div class="input-label" style="margin-top:2px">
                <span>merge</span>
            </div>
        </li>
        <li>
            <lucid-toggle class="reversed-text" label="Banded"></lucid-toggle>
            <lucid-buttcon class="reversed-text" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-fill-solid-22px.svg" label="Color"></lucid-buttcon>
        </li>
        <li>
            <lucid-toggle class="reversed-text" label="Banded"></lucid-toggle>
            <lucid-buttcon class="reversed-text" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-fill-solid-22px.svg" label="Color"></lucid-buttcon>
        </li>
    </ul>
</div>