/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
body {
  height: 100vh;
  font-family: 'Source Sans Pro', sans-serif;
  color: #5a5a5a;
}
a {
  text-decoration: none;
  color: inherit;
}
.hljs-tag {
  font-family: monospace;
}
.hr {
  height: 1px;
  background: #d2d2d2;
  margin: 30px 0;
}
.component-well {
  background-color: #f0f0f0;
  padding: 1em 1.5em;
  border-radius: 8px;
  margin: 10px 0;
  position: relative;
  font-size: 16px;
}
.preview-code {
  display: block;
  min-height: 300px;
  width: 100%;
  color: #565f67;
  overflow-y: auto;
  border: none;
  box-shadow: none;
  line-height: 1.1;
  resize: none;
  font-style: normal;
  font-family: "Ubuntu Mono", "Andale Mono", "DejaVu Sans Mono", "Monaco", "Bitstream Vera Sans Mono", "Consolas", "Lucida Console", monospace;
  font-size: 14px;
}
h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
}
h2 {
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  letter-spacing: .25px;
}
p {
  font-size: 16px;
  line-height: 22px;
  margin: 24px 0;
}
p.large-body {
  font-size: 16px;
  line-height: 22px;
  margin: 12px 0;
}
p.small-body {
  font-size: 14px;
  line-height: 18px;
  margin: 12px 0;
}
.reversed-text {
  font-weight: 300;
  letter-spacing: .5px;
}
.reversed-header {
  font-weight: 600;
  letter-spacing: .5px;
}
#sidebar {
  background: #3D4752;
  width: 250px;
  position: fixed;
  left: 0;
  top: 64px;
  height: 100%;
  text-align: center;
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
}
#sidebar img {
  display: inline-block;
  margin: 28px auto 0;
  width: 215px;
}
#sidebar .sidebar-divider {
  height: 1px;
  background: #212C35;
  margin: 0 20px;
  width: 210px;
}
#sidebar > ul {
  text-align: left;
  max-height: 75%;
  margin-top: 20px;
  margin-bottom: 20px;
}
#sidebar > ul > li.list-header {
  color: #95A8BA;
  font-weight: bold;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-left: 50px;
  line-height: 40px;
  vertical-align: top;
  position: relative;
}
#sidebar > ul > li.list-header .lucid-icon-22 {
  position: absolute;
  top: 7px;
  left: 20px;
}
#sidebar > ul > li.list-header .lucid-icon-22 svg path {
  fill: #95A8BA;
}
#sidebar > ul > li.list-header .lucid-icon-22.production {
  top: 9px;
}
#sidebar > ul > li > a,
#sidebar > ul > li .prototype-links {
  -webkit-font-smoothing: auto;
  font-size: 16px;
  color: #fff;
  line-height: 40px;
  text-indent: 20px;
  display: block;
  -webkit-transition: background .1s;
  transition: background .1s;
  border: 0 solid transparent;
  position: relative;
}
#sidebar > ul > li > a:hover,
#sidebar > ul > li .prototype-links:hover {
  background: #46525E;
}
#sidebar > ul > li > a.active,
#sidebar > ul > li .prototype-links.active {
  background: #212C35;
  border-left: 4px solid #29AAE1;
  text-indent: 16px;
}
#sidebar > ul > li > a.active:hover,
#sidebar > ul > li .prototype-links.active:hover {
  background: #212C35;
}
#sidebar > ul > li .prototype-links ng-include {
  height: 22px;
}
#sidebar > ul > li .prototype-links svg {
  vertical-align: middle;
}
#sidebar > ul > li .prototype-links svg path {
  fill: #77818C;
  -webkit-transition: 0.25s ease-in-out all;
  transition: 0.25s ease-in-out all;
}
#sidebar > ul > li .prototype-links span a,
#sidebar > ul > li .prototype-links > a {
  text-indent: 0;
  vertical-align: middle;
}
#sidebar > ul > li .prototype-links > a {
  padding: 15px 0;
  opacity: 0;
  position: absolute;
  top: -2px;
  right: 0px;
  padding: 0 15px;
}
#sidebar > ul > li .prototype-links > a:hover svg path {
  fill: rgba(255, 255, 255, 0.8);
}
#sidebar > ul > li .prototype-links a.view-prototype {
  padding: 10px 0;
}
#sidebar > ul > li .prototype-links:hover > a {
  opacity: 1;
}
#content {
  margin-left: 250px;
  -webkit-transition: 0.5s ease-in-out margin;
  transition: 0.5s ease-in-out margin;
  position: relative;
}
::-webkit-scrollbar {
  display: none;
}
.icon-list-container {
  margin: 30px 0;
  background: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  -webkit-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.icon-list-container.fill-white {
  background: #3D4752;
}
.icon-list-container.fill-white .particle-icon-wrapper h5 {
  font-weight: 300;
  color: #fff;
}
.particle-icon-wrapper {
  text-align: center;
  float: left;
  width: 100px;
  min-height: 84px;
  vertical-align: top;
  margin: 10px;
  opacity: 1;
}
.particle-icon-wrapper h5 {
  font-size: 12px;
  margin: 5px 0;
  height: 48px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100px;
  line-height: 1.2;
  color: #77818C;
}
.particle-icon-wrapper.ng-leave-active,
.particle-icon-wrapper.ng-enter {
  margin-left: -50px;
  margin-right: -50px;
  opacity: 0;
}
.particle-icon-wrapper.ng-enter-active {
  margin: 10px;
  opacity: 1;
}
.particle-icon-wrapper.ng-animate {
  -webkit-transition: 0.35s ease-in-out all;
  transition: 0.35s ease-in-out all;
}
.particle-icon-wrapper .lucid-buttcon {
  position: static;
}
.particle-icon-wrapper .lucid-popover-menu {
  top: 40px;
  z-index: 105;
}
.icon-search {
  position: relative;
  width: 200px;
  margin: 0 auto 24px auto;
}
.icon-search img {
  width: 18px;
  position: absolute;
  top: 4px;
  right: 6px;
}
.icon-search input {
  border-radius: 4px;
  border: 1px solid #d2d2d2;
  height: 26px;
  font-size: 14px;
  font-family: 'Source Sans Pro', sans-serif;
  text-indent: 8px;
  width: 100%;
  padding-right: 24px;
}
.particon {
  width: 22px;
  height: 22px;
  background-position: center center;
  background-repeat: no-repeat;
  display: inline-block;
}
.particon.particon-angular {
  background-image: url('../img/angular.svg');
  background-size: 18px 20px;
}
.particon.particon-code {
  background-image: url('../img/code.svg');
  background-size: 20px 16px;
}
.code-preview {
  border: 1px solid #77818C;
  margin-bottom: 60px;
  background: #FFF;
}
.code-preview.production-preview {
  position: relative;
  z-index: 1;
}
.code-preview > header {
  background: #3D4752;
  height: 60px;
  color: white;
  padding: 0 20px;
  overflow: hidden;
}
.code-preview h2 {
  line-height: 60px;
  display: inline-block;
}
.code-preview .control {
  display: inline-block;
  float: right;
  width: 40px;
  text-align: center;
  margin: 8px 0 0 24px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}
.code-preview .control span {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
  margin-top: 5px;
}
.code-preview .control:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #77818C;
  display: block;
  position: absolute;
  bottom: -24px;
  left: 8px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.code-preview .control:after.active {
  bottom: -14px;
}
.code-preview .control.active:after {
  bottom: -14px;
}
.code-preview .drawer-wrapper {
  overflow: hidden;
  position: relative;
  background: #f0f0f0;
}
.code-preview .drawer {
  position: relative;
  border-bottom: 1px solid #CCC;
}
.code-preview .drawer.slide-toggle {
  -webkit-transition: 0.3s ease-in-out all;
  transition: 0.3s ease-in-out all;
}
.code-preview .drawer .drawer-header {
  background: #77818C;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  color: white;
}
.code-preview .drawer .drawer-header span {
  margin-right: 24px;
  display: inline-block;
  height: 40px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}
.code-preview .drawer .drawer-header span.active {
  border-bottom: 4px solid #29AAE1;
}
.code-preview .drawer .inputs-content {
  padding: 10px;
}
.code-preview .drawer .inputs-content .lucid-table {
  line-height: 25px;
  width: 100%;
}
.code-preview .drawer .inputs-content .lucid-table thead > tr > th {
  font-weight: bold;
  vertical-align: bottom;
  border-bottom: solid 1px #3D4752;
}
.code-preview .drawer .inputs-content .lucid-table th,
.code-preview .drawer .inputs-content .lucid-table td {
  line-height: 28px;
  padding: 0 10px;
  text-align: left;
}
.code-preview .drawer .inputs-content .lucid-table .lucid-code-name {
  background: rgba(0, 0, 0, 0.1);
  padding: 0 3px;
}
.code-preview .drawer .scroll-area {
  opacity: 1;
  top: 40px;
  right: 0;
  left: 0;
}
.code-preview .drawer .scroll-area * {
  -webkit-touch-callout: initial;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
.code-preview .component-description {
  text-align: left;
  padding: 0 20px;
}
.code-preview .component-preview {
  padding: 60px 0;
  text-align: center;
  position: relative;
}
.code-preview .component-preview .component-preview-wrapper {
  display: inline-block;
}
.code-preview .component-preview.production-preview {
  padding: 60px 20px;
  text-align: inherit;
}
.code-preview .spacer {
  height: 20px;
}
.hljs-comment,
.diff .hljs-header {
  font-family: monospace;
  font-style: normal;
}
[hljs] .hljs {
  padding: 1em;
}
[hljs] * {
  font-size: 13px;
  font-family: monospace;
  -webkit-font-smoothing: auto;
}
.codepen-iframe {
  margin-bottom: 60px;
}
.snippet-starter {
  text-decoration: underline;
  color: #2FB3E5;
}
#sidebar #logo {
  position: relative;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  overflow: hidden;
}
#sidebar #logo svg {
  overflow: visible;
}
.particle-group {
  position: absolute;
  left: 20px;
  top: 28px;
}
.particle-group .particle {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  opacity: 0;
}
.particle-group .particle.duplicate {
  -webkit-transition: all .25s linear;
  transition: all .25s linear;
  opacity: 1;
}
.particle-group .particle.branch-1 {
  opacity: 1;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.particle-group.explode-particle .particle.particle-1 {
  -webkit-animation: particle-1 7s infinite linear;
          animation: particle-1 7s infinite linear;
  opacity: 1;
}
.particle-group.explode-particle .particle.particle-1.duplicate {
  -webkit-transform: translate(88px, -188px);
          transform: translate(88px, -188px);
  -webkit-animation: none;
          animation: none;
}
.particle-group.explode-particle .particle.particle-1.reverse {
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
}
.particle-group.explode-particle .particle.particle-2 {
  -webkit-animation: particle-2 10s infinite linear;
          animation: particle-2 10s infinite linear;
  opacity: 1;
}
.particle-group.explode-particle .particle.particle-2.duplicate {
  -webkit-transform: translate(-18px, 47px);
          transform: translate(-18px, 47px);
  -webkit-animation: none;
          animation: none;
}
.particle-group.explode-particle .particle.particle-2.reverse {
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
}
.particle-group.explode-particle .particle.particle-3 {
  -webkit-animation: particle-3 9s infinite linear;
          animation: particle-3 9s infinite linear;
  opacity: 1;
}
.particle-group.explode-particle .particle.particle-3.duplicate {
  -webkit-transform: translate(18px, 50px);
          transform: translate(18px, 50px);
  -webkit-animation: none;
          animation: none;
}
.particle-group.explode-particle .particle.particle-3.reverse {
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
}
.particle-group.explode-particle .particle.particle-4 {
  -webkit-animation: particle-4 9s infinite linear;
          animation: particle-4 9s infinite linear;
  opacity: 1;
}
.particle-group.explode-particle .particle.particle-4.duplicate {
  -webkit-transform: translate(225px, 10px);
          transform: translate(225px, 10px);
  -webkit-animation: none;
          animation: none;
}
.particle-group.explode-particle .particle.particle-4.reverse {
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
}
.particle-group.explode-particle .particle.particle-5 {
  -webkit-animation: particle-5 8s infinite linear;
          animation: particle-5 8s infinite linear;
  opacity: 1;
}
.particle-group.explode-particle .particle.particle-5.duplicate {
  -webkit-transform: translate(50px, 70px);
          transform: translate(50px, 70px);
  -webkit-animation: none;
          animation: none;
}
.particle-group.explode-particle .particle.particle-5.reverse {
  -webkit-animation-direction: reverse;
          animation-direction: reverse;
}
.particle-group.explode-particle .particle.branch-1 {
  opacity: 0;
  -webkit-transform: translate(30px, 30px);
          transform: translate(30px, 30px);
}
@-webkit-keyframes particle-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  15% {
    -webkit-transform: translate(118px, -28px);
            transform: translate(118px, -28px);
  }
  55% {
    -webkit-transform: translate(188px, 49px);
            transform: translate(188px, 49px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes particle-1 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  15% {
    -webkit-transform: translate(118px, -28px);
            transform: translate(118px, -28px);
  }
  55% {
    -webkit-transform: translate(188px, 49px);
            transform: translate(188px, 49px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes particle-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5% {
    -webkit-transform: translate(-23px, -21px);
            transform: translate(-23px, -21px);
  }
  7% {
    -webkit-transform: translate(-15px, -35px);
            transform: translate(-15px, -35px);
  }
  45% {
    -webkit-transform: translate(150px, 42px);
            transform: translate(150px, 42px);
  }
  60% {
    -webkit-transform: translate(222px, 16px);
            transform: translate(222px, 16px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes particle-2 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5% {
    -webkit-transform: translate(-23px, -21px);
            transform: translate(-23px, -21px);
  }
  7% {
    -webkit-transform: translate(-15px, -35px);
            transform: translate(-15px, -35px);
  }
  45% {
    -webkit-transform: translate(150px, 42px);
            transform: translate(150px, 42px);
  }
  60% {
    -webkit-transform: translate(222px, 16px);
            transform: translate(222px, 16px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes particle-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5% {
    -webkit-transform: translate(-24px, 25px);
            transform: translate(-24px, 25px);
  }
  8% {
    -webkit-transform: translate(-13px, 34px);
            transform: translate(-13px, 34px);
  }
  65% {
    -webkit-transform: translate(224px, 10px);
            transform: translate(224px, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes particle-3 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  5% {
    -webkit-transform: translate(-24px, 25px);
            transform: translate(-24px, 25px);
  }
  8% {
    -webkit-transform: translate(-13px, 34px);
            transform: translate(-13px, 34px);
  }
  65% {
    -webkit-transform: translate(224px, 10px);
            transform: translate(224px, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes particle-4 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  8% {
    -webkit-transform: translate(13px, 35px);
            transform: translate(13px, 35px);
  }
  45% {
    -webkit-transform: translate(215px, 10px);
            transform: translate(215px, 10px);
  }
  85% {
    -webkit-transform: translate(13px, -40px);
            transform: translate(13px, -40px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes particle-4 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  8% {
    -webkit-transform: translate(13px, 35px);
            transform: translate(13px, 35px);
  }
  45% {
    -webkit-transform: translate(215px, 10px);
            transform: translate(215px, 10px);
  }
  85% {
    -webkit-transform: translate(13px, -40px);
            transform: translate(13px, -40px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes particle-5 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  15% {
    -webkit-transform: translate(118px, 35px);
            transform: translate(118px, 35px);
  }
  35% {
    -webkit-transform: translate(210px, -10px);
            transform: translate(210px, -10px);
  }
  70% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  80% {
    -webkit-transform: translate(-37px, -28px);
            transform: translate(-37px, -28px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes particle-5 {
  0% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  15% {
    -webkit-transform: translate(118px, 35px);
            transform: translate(118px, 35px);
  }
  35% {
    -webkit-transform: translate(210px, -10px);
            transform: translate(210px, -10px);
  }
  70% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  80% {
    -webkit-transform: translate(-37px, -28px);
            transform: translate(-37px, -28px);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
.view {
  -webkit-transition: 0s ease-in-out;
  transition: 0s ease-in-out;
  padding-top: 64px;
}
.view.ng-animate {
  position: absolute;
  width: 100%;
}
.view.ng-enter {
  opacity: .5;
}
.view.ng-enter-active {
  opacity: 1;
}
.view.ng-leave {
  opacity: 1;
}
.view.ng-leave-active {
  opacity: 0;
}
.wrapper {
  max-width: 1000px;
  padding: 50px;
}
.lucid-color-block {
  width: 70px;
  height: 70px;
  position: relative;
  display: table;
  cursor: pointer;
  position: absolute;
  top: -1px;
  left: -1px;
  overflow: hidden;
}
.color-view {
  margin-bottom: 40px;
  width: 50%;
  float: left;
}
@media (max-width: 946px) {
  .color-view {
    width: 100%;
  }
}
.color-view > h2 {
  margin-bottom: 10px;
}
.color-view .particle-icon-wrapper {
  width: 280px;
  margin: 10px 20px 10px 0;
  height: 70px;
  position: relative;
  min-height: 0;
  display: block;
}
.color-view .particle-icon-wrapper .text-wrapper {
  position: absolute;
  width: 200px;
  top: 0;
  right: 0px;
  cursor: pointer;
  height: 100%;
}
.color-view .particle-icon-wrapper .text-wrapper h6 {
  display: block;
  width: 100%;
  text-align: left;
  font-weight: 600;
  font-size: 16px;
  margin-top: 5px;
}
.color-view .particle-icon-wrapper .text-wrapper h6 > span {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: #828282;
}
.color-view .copied-text {
  text-align: center;
  color: #fff;
  font-weight: 300;
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  line-height: 20px;
  font-size: 14px;
  padding-top: 5px;
  -webkit-transition: 0.25s ease-in-out all;
  transition: 0.25s ease-in-out all;
}
.color-view .copied-text.light {
  color: #333;
  font-weight: 400;
}
.color-view .copied-text.ng-enter {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.color-view .copied-text.ng-enter-active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}
.color-view .copied-text.ng-leave-active {
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.lucid-particle-morph-logo svg {
  width: 24px;
  height: 24px;
  -webkit-animation: Logo 8s infinite ease-in-out;
          animation: Logo 8s infinite ease-in-out;
}
.lucid-particle-morph-logo #wn-goo {
  opacity: 1;
  -webkit-animation: wnGoo 8s infinite ease-in-out;
          animation: wnGoo 8s infinite ease-in-out;
}
.lucid-particle-morph-logo #ne-goo {
  opacity: 0;
  -webkit-animation: neGoo 8s infinite ease-in-out;
          animation: neGoo 8s infinite ease-in-out;
}
.lucid-particle-morph-logo #ws-goo {
  opacity: 1;
  -webkit-animation: wsGoo 8s infinite ease-in-out;
          animation: wsGoo 8s infinite ease-in-out;
}
.lucid-particle-morph-logo #nw-circle {
  opacity: 0;
  -webkit-animation: nwCircle 8s infinite ease-in-out;
          animation: nwCircle 8s infinite ease-in-out;
}
.lucid-particle-morph-logo #ne-circle {
  opacity: 1;
  -webkit-animation: neCircle 8s infinite ease-in-out;
          animation: neCircle 8s infinite ease-in-out;
}
.lucid-particle-morph-logo #w-circle {
  opacity: 1;
  -webkit-animation: wCircle 8s infinite ease-in-out;
          animation: wCircle 8s infinite ease-in-out;
}
.lucid-particle-morph-logo #sw-circle {
  opacity: 0;
  -webkit-animation: swCircle 8s infinite ease-in-out;
          animation: swCircle 8s infinite ease-in-out;
}
.lucid-particle-morph-logo #se-circle {
  opacity: 1;
  -webkit-animation: seCircle 8s infinite ease-in-out;
          animation: seCircle 8s infinite ease-in-out;
}
@-webkit-keyframes Logo {
  0% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  17% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  33% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  67% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  83% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}
@keyframes Logo {
  0% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  17% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
  33% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  67% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  83% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
  }
}
@-webkit-keyframes nwCircle {
  0% {
    opacity: 0;
    fill: #F78D1E;
  }
  17% {
    opacity: 0;
    -webkit-transform: translate(20px, 15px) scale(0.5);
            transform: translate(20px, 15px) scale(0.5);
    fill: #F78D1E;
  }
  33% {
    opacity: 1;
    fill: #97C748;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    fill: #97C748;
  }
  67% {
    opacity: 1;
    fill: #1BA9E3;
  }
  83% {
    opacity: 1;
    fill: #1BA9E3;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(20px, 15px) scale(0.5);
            transform: translate(20px, 15px) scale(0.5);
    fill: #F78D1E;
  }
}
@keyframes nwCircle {
  0% {
    opacity: 0;
    fill: #F78D1E;
  }
  17% {
    opacity: 0;
    -webkit-transform: translate(20px, 15px) scale(0.5);
            transform: translate(20px, 15px) scale(0.5);
    fill: #F78D1E;
  }
  33% {
    opacity: 1;
    fill: #97C748;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    fill: #97C748;
  }
  67% {
    opacity: 1;
    fill: #1BA9E3;
  }
  83% {
    opacity: 1;
    fill: #1BA9E3;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(20px, 15px) scale(0.5);
            transform: translate(20px, 15px) scale(0.5);
    fill: #F78D1E;
  }
}
@-webkit-keyframes swCircle {
  0% {
    opacity: 0;
    fill: #F78D1E;
  }
  17% {
    opacity: 0;
    fill: #F78D1E;
    -webkit-transform: translate(40px, -10px) scale(0.5);
            transform: translate(40px, -10px) scale(0.5);
  }
  33% {
    opacity: 1;
    fill: #97C748;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    fill: #97C748;
  }
  67% {
    opacity: 1;
    fill: #1BA9E3;
  }
  83% {
    opacity: 1;
    fill: #1BA9E3;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    fill: #F78D1E;
    -webkit-transform: translate(40px, -10px) scale(0.5);
            transform: translate(40px, -10px) scale(0.5);
  }
}
@keyframes swCircle {
  0% {
    opacity: 0;
    fill: #F78D1E;
  }
  17% {
    opacity: 0;
    fill: #F78D1E;
    -webkit-transform: translate(40px, -10px) scale(0.5);
            transform: translate(40px, -10px) scale(0.5);
  }
  33% {
    opacity: 1;
    fill: #97C748;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  50% {
    opacity: 1;
    fill: #97C748;
  }
  67% {
    opacity: 1;
    fill: #1BA9E3;
  }
  83% {
    opacity: 1;
    fill: #1BA9E3;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    fill: #F78D1E;
    -webkit-transform: translate(40px, -10px) scale(0.5);
            transform: translate(40px, -10px) scale(0.5);
  }
}
@-webkit-keyframes neCircle {
  0% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  17% {
    opacity: 1;
    fill: #F78D1E;
  }
  33% {
    opacity: 1;
    fill: #97C748;
  }
  50% {
    opacity: 1;
    fill: #97C748;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  67% {
    opacity: 0;
    fill: #1BA9E3;
    -webkit-transform: translate(5px, 65px) scale(0.5);
            transform: translate(5px, 65px) scale(0.5);
  }
  83% {
    opacity: 0;
    fill: #1BA9E3;
    -webkit-transform: translate(5px, 65px) scale(0.5);
            transform: translate(5px, 65px) scale(0.5);
  }
  100% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@keyframes neCircle {
  0% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  17% {
    opacity: 1;
    fill: #F78D1E;
  }
  33% {
    opacity: 1;
    fill: #97C748;
  }
  50% {
    opacity: 1;
    fill: #97C748;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  67% {
    opacity: 0;
    fill: #1BA9E3;
    -webkit-transform: translate(5px, 65px) scale(0.5);
            transform: translate(5px, 65px) scale(0.5);
  }
  83% {
    opacity: 0;
    fill: #1BA9E3;
    -webkit-transform: translate(5px, 65px) scale(0.5);
            transform: translate(5px, 65px) scale(0.5);
  }
  100% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}
@-webkit-keyframes seCircle {
  0% {
    opacity: 1;
    fill: #F78D1E;
  }
  17% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  33% {
    opacity: 0;
    fill: #97C748;
    -webkit-transform: translate(40px, 25px) scale(0.5);
            transform: translate(40px, 25px) scale(0.5);
  }
  50% {
    opacity: 0;
    fill: #97C748;
    -webkit-transform: translate(40px, 25px) scale(0.5);
            transform: translate(40px, 25px) scale(0.5);
  }
  67% {
    opacity: 1;
    fill: #1BA9E3;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  83% {
    opacity: 1;
    fill: #1BA9E3;
  }
  100% {
    opacity: 1;
    fill: #F78D1E;
  }
}
@keyframes seCircle {
  0% {
    opacity: 1;
    fill: #F78D1E;
  }
  17% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  33% {
    opacity: 0;
    fill: #97C748;
    -webkit-transform: translate(40px, 25px) scale(0.5);
            transform: translate(40px, 25px) scale(0.5);
  }
  50% {
    opacity: 0;
    fill: #97C748;
    -webkit-transform: translate(40px, 25px) scale(0.5);
            transform: translate(40px, 25px) scale(0.5);
  }
  67% {
    opacity: 1;
    fill: #1BA9E3;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  83% {
    opacity: 1;
    fill: #1BA9E3;
  }
  100% {
    opacity: 1;
    fill: #F78D1E;
  }
}
@-webkit-keyframes wCircle {
  0% {
    fill: #F78D1E;
  }
  17% {
    fill: #F78D1E;
  }
  20% {
    fill: #97C748;
  }
  50% {
    fill: #97C748;
  }
  67% {
    fill: #1BA9E3;
  }
  83% {
    fill: #1BA9E3;
  }
  100% {
    fill: #F78D1E;
  }
}
@keyframes wCircle {
  0% {
    fill: #F78D1E;
  }
  17% {
    fill: #F78D1E;
  }
  20% {
    fill: #97C748;
  }
  50% {
    fill: #97C748;
  }
  67% {
    fill: #1BA9E3;
  }
  83% {
    fill: #1BA9E3;
  }
  100% {
    fill: #F78D1E;
  }
}
@-webkit-keyframes wnGoo {
  0% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
  17% {
    opacity: 1;
    fill: #F78D1E;
  }
  33% {
    opacity: 1;
    fill: #97C748;
  }
  50% {
    opacity: 1;
    fill: #97C748;
    -webkit-transform: translate(0, 0) scale(1) rotate(0);
            transform: translate(0, 0) scale(1) rotate(0);
  }
  67% {
    opacity: 1;
    fill: #1BA9E3;
    -webkit-transform: translate(-20px, -5px) scale(0.01) rotate(20deg);
            transform: translate(-20px, -5px) scale(0.01) rotate(20deg);
  }
  83% {
    opacity: 1;
    fill: #1BA9E3;
    -webkit-transform: translate(-20px, -10px) scale(0.01);
            transform: translate(-20px, -10px) scale(0.01);
  }
  100% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
}
@keyframes wnGoo {
  0% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
  17% {
    opacity: 1;
    fill: #F78D1E;
  }
  33% {
    opacity: 1;
    fill: #97C748;
  }
  50% {
    opacity: 1;
    fill: #97C748;
    -webkit-transform: translate(0, 0) scale(1) rotate(0);
            transform: translate(0, 0) scale(1) rotate(0);
  }
  67% {
    opacity: 1;
    fill: #1BA9E3;
    -webkit-transform: translate(-20px, -5px) scale(0.01) rotate(20deg);
            transform: translate(-20px, -5px) scale(0.01) rotate(20deg);
  }
  83% {
    opacity: 1;
    fill: #1BA9E3;
    -webkit-transform: translate(-20px, -10px) scale(0.01);
            transform: translate(-20px, -10px) scale(0.01);
  }
  100% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
    -webkit-transform-origin: bottom right;
            transform-origin: bottom right;
  }
}
@-webkit-keyframes wsGoo {
  0% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  17% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
  33% {
    opacity: 1;
    fill: #97C748;
    -webkit-transform: translate(10px, -5px) scale(0.01);
            transform: translate(10px, -5px) scale(0.01);
  }
  50% {
    opacity: 1;
    fill: #97C748;
    -webkit-transform: translate(10px, -5px) scale(0.01);
            transform: translate(10px, -5px) scale(0.01);
  }
  67% {
    opacity: 1;
    fill: #1BA9E3;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
  83% {
    opacity: 1;
    fill: #1BA9E3;
  }
  100% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
}
@keyframes wsGoo {
  0% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
  17% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
  33% {
    opacity: 1;
    fill: #97C748;
    -webkit-transform: translate(10px, -5px) scale(0.01);
            transform: translate(10px, -5px) scale(0.01);
  }
  50% {
    opacity: 1;
    fill: #97C748;
    -webkit-transform: translate(10px, -5px) scale(0.01);
            transform: translate(10px, -5px) scale(0.01);
  }
  67% {
    opacity: 1;
    fill: #1BA9E3;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
  83% {
    opacity: 1;
    fill: #1BA9E3;
  }
  100% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform-origin: bottom left;
            transform-origin: bottom left;
  }
}
@-webkit-keyframes neGoo {
  0% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform: translate(50px, 85px) scale(0.01);
            transform: translate(50px, 85px) scale(0.01);
  }
  17% {
    fill: #F78D1E;
    -webkit-transform: translate(20px, 55px) scale(0.01);
            transform: translate(20px, 55px) scale(0.01);
  }
  33% {
    fill: #97C748;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
  50% {
    fill: #97C748;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
  67% {
    fill: #1BA9E3;
    -webkit-transform: translate(50px, 85px) scale(0.01);
            transform: translate(50px, 85px) scale(0.01);
  }
  83% {
    fill: #1BA9E3;
  }
  100% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform: translate(50px, 85px) scale(0.01);
            transform: translate(50px, 85px) scale(0.01);
  }
}
@keyframes neGoo {
  0% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform: translate(50px, 85px) scale(0.01);
            transform: translate(50px, 85px) scale(0.01);
  }
  17% {
    fill: #F78D1E;
    -webkit-transform: translate(20px, 55px) scale(0.01);
            transform: translate(20px, 55px) scale(0.01);
  }
  33% {
    fill: #97C748;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
  50% {
    fill: #97C748;
    -webkit-transform: translate(0, 0) scale(1);
            transform: translate(0, 0) scale(1);
  }
  67% {
    fill: #1BA9E3;
    -webkit-transform: translate(50px, 85px) scale(0.01);
            transform: translate(50px, 85px) scale(0.01);
  }
  83% {
    fill: #1BA9E3;
  }
  100% {
    opacity: 1;
    fill: #F78D1E;
    -webkit-transform: translate(50px, 85px) scale(0.01);
            transform: translate(50px, 85px) scale(0.01);
  }
}
.landing-page #content {
  margin-left: 0px;
}
.landing-page #sidebar {
  left: -250px;
}
.landing-page .wrapper {
  max-width: 100%;
}
.landing-page .wrapper .view {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.landing-page .view {
  -webkit-transition: 0s ease-in-out;
  transition: 0s ease-in-out;
  padding-top: 64px;
}
.landing-page .view.ng-animate {
  position: absolute;
  width: 100%;
}
.landing-page .view.ng-enter {
  opacity: .5;
}
.landing-page .view.ng-enter-active {
  opacity: 1;
}
.landing-page .view.ng-leave {
  opacity: 1;
}
.landing-page .view.ng-leave-active {
  opacity: 0;
}
.overview-section {
  padding: 60px 20px;
  font-size: 0;
}
.overview-section.section-1 {
  text-align: center;
  background: #3D4751;
}
.overview-section.section-1 h1 {
  color: #FFF;
}
.overview-section.section-1 .lucid-button {
  display: block;
  width: 200px;
  padding: 10px;
  font-size: 17px;
  margin: 50px auto 0;
}
.overview-section.section-2 {
  max-width: 980px;
  margin: 0 auto;
}
.overview-section.section-3 {
  background: #EEEEEE;
}
.overview-section svg {
  max-width: 100%;
}
.overview-section h1 {
  margin-bottom: 50px;
  font-size: 44px;
  text-align: center;
  width: 100%;
  line-height: 50px;
}
.overview-section h2 {
  font-size: 24px;
  font-weight: 600;
  margin: 15px 0;
}
.overview-section .design-quote {
  text-align: center;
  font-size: 22px;
  line-height: 1.3em;
  margin-top: -40px;
  font-style: italic;
}
.overview-section .design-quote > span {
  font-size: 18px;
}
.overview-section .col-50 {
  font-size: 0;
  width: 50%;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}
.overview-section .col-50.align-left {
  padding-left: 30px;
  text-align: left;
}
.overview-section .col-50.align-right {
  padding-right: 30px;
  text-align: right;
}
.overview-section .col-50.float-right {
  float: right;
}
@media (max-width: 680px) {
  .overview-section .col-50 {
    width: 100%;
  }
  .overview-section .col-50.float-right {
    float: none;
  }
  .overview-section .col-50.align-left {
    text-align: center;
    padding: 0;
  }
  .overview-section .col-50.align-right {
    text-align: center;
    padding: 0;
  }
}
.overview-section .benefits-block {
  position: relative;
  padding: 15px;
  padding-left: 40px;
  color: #777;
  max-width: 400px;
  margin: 0 auto;
}
.overview-section .benefits-block h3 {
  font-size: 20px;
  font-weight: 600;
}
.overview-section .benefits-block .benefits-block-icon {
  position: absolute;
  top: 8px;
  left: 0;
}
.overview-section .benefits-block .benefits-block-icon svg {
  width: 30px;
  height: 30px;
}
.overview-section .benefits-block .benefits-block-icon svg path {
  fill: #777;
}
.overview-section .benefits-block .benefits-block-text {
  text-align: left;
}
.overview-section .benefits-block .benefits-block-text p {
  margin: 10px 0;
  color: #555;
}
.overview-section .particle-large-icon {
  display: inline-block;
  margin: 0 90px;
}
.overview-section .particle-large-icon > svg {
  max-width: 110px;
}
.overview-section .particle-large-icon > svg path,
.overview-section .particle-large-icon > svg ellipse {
  stroke: #333;
}
.overview-section .lucid-designer,
.overview-section .lucid-developer {
  max-width: 300px;
  display: inline-block;
  text-align: center;
}
.overview-section .full-width-wrapper {
  position: relative;
}
.overview-section .full-width-wrapper:after {
  content: '<div></div>';
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  border: 2px solid #29AAE1;
  position: absolute;
  left: 50%;
  margin-left: -10px;
  top: 33px;
}
@media (max-width: 680px) {
  .overview-section .full-width-wrapper:after {
    display: none;
  }
}
.overview-section .timeline-text-container {
  position: relative;
  background: #FFF;
  max-width: 300px;
  padding: 20px;
  display: inline-block;
  border-radius: 4px;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}
.overview-section .timeline-text-container h3 {
  color: #29AAE1;
  font-size: 18px;
  margin: 0 0 10px;
}
.overview-section .timeline-text-container p {
  margin: 0;
}
.overview-section .timeline-text-container:after {
  content: '';
  border-top: 12px solid transparent;
  border-bottom: 12px solid transparent;
  border-left: 10px solid #FFF;
  position: absolute;
  top: 10px;
  right: -10px;
}
@media (max-width: 680px) {
  .overview-section .timeline-text-container:after {
    display: none;
  }
}
.overview-section .align-left .timeline-text-container:after {
  border-left: 10px solid transparent;
  border-right: 10px solid #FFF;
  right: inherit;
  left: -20px;
}
.overview-section .particle-timeline {
  position: relative;
}
.overview-section .particle-timeline:before {
  content: '';
  border: 4px solid #29AAE1;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -4px;
  top: 40px;
}
.overview-section .particle-morph-container {
  background: #FFF;
  padding: 15px;
  width: 60px;
  height: 60px;
  margin: -2px auto;
  border-radius: 50%;
  border: 3px solid #29AAE1;
}
#top-navigation {
  background: #29AAE1;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: 64px;
  text-align: center;
  -webkit-transition: 0.5s ease-in-out all;
  transition: 0.5s ease-in-out all;
  z-index: 10;
}
#top-navigation #logo svg {
  position: absolute;
  left: 21px;
  height: 22px;
  top: 21px;
}
#top-navigation > ul {
  text-align: right;
  font-size: 0;
}
#top-navigation > ul > li {
  display: inline-block;
}
#top-navigation > ul > li > a {
  -webkit-font-smoothing: auto;
  font-size: 18px;
  color: #fff;
  line-height: 64px;
  padding: 0 30px;
  display: block;
  -webkit-transition: background .2s;
  transition: background .2s;
  border: 0 solid transparent;
}
#top-navigation > ul > li > a:hover {
  background: rgba(0, 0, 0, 0.1);
}
#top-navigation > ul > li > a.active {
  background: rgba(61, 71, 82, 0.3);
}
#top-navigation > ul > li > a.active:hover {
  background: rgba(61, 71, 82, 0.35);
}
