<lucid-button icon="http://lucidsoftware.github.io/particle/components/0.0/icon/img/html-white.svg" color="blue">Button Text</lucid-button>
<lucid-button icon="http://lucidsoftware.github.io/particle/components/0.0/icon/img/angular-white.svg" color="red">Red Button</lucid-button>
<lucid-button color="green">Green</lucid-button>
<br>
<br>
<button class="lucid-button lucid-blue">Button Text</button>
<button class="lucid-button lucid-red">Button Text</button>
<button class="lucid-button lucid-green">Button Text</button>
<button class="lucid-button lucid-yellow">Button</button>
<button class="lucid-button lucid-cancel">Button</button>