<!-- Angular -->
<script src="https://lucidsoftware.github.io/particle/lib/angular/angular.min.js" type="text/javascript"></script>
<script src="https://lucidsoftware.github.io/particle/lib/angular/angular-animate.min.js" type="text/javascript"></script>
<!-- Lucid Components -->
<script src="https://lucidsoftware.github.io/particle/components/2.0/components-min.js" type="text/javascript"></script>
<link href="https://lucidsoftware.github.io/particle/components/2.0/components.css" type="text/css" rel="stylesheet" />