<html ng-app="particleApp">

<head>
    <meta charset="UTF-8">
    <!-- Angular -->
    <script src="http://particle.golucid.co/lib/angular/angular.min.js" type="text/javascript"></script>
    <script src="http://particle.golucid.co/lib/angular/angular-animate.min.js" type="text/javascript"></script>
    <script src="http://particle.golucid.co/lib/angular/angular-route.min.js" type="text/javascript"></script>
    <!-- Lucid Components -->
    <script src="http://particle.golucid.co/components/3.0/components-min.js" type="text/javascript"></script>
    <link href="http://particle.golucid.co/components/3.0/components.css" type="text/css" rel="stylesheet" />
    <!-- Other Libs -->
    <script src="http://particle.golucid.co/lib/Sortable.min.js" type="text/javascript"></script>
    <script src="http://particle.golucid.co/lib/ng-sortable.js" type="text/javascript"></script>
    <script src="http://particle.golucid.co/lib/svg-morpheus.js" type="text/javascript"></script>
    <script src="http://particle.golucid.co/lib/ngDraggable.js" type="text/javascript"></script>
    <script src="http://particle.golucid.co/lib/angular-drag-and-drop-lists.min.js" type="text/javascript"></script>
    <!-- Prototype Specific -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="app-min.js"></script>
    <script src="components/pages/pages-data.js"></script>
    <script src="components/shape-manager/shapes-data.js"></script>
</head>

<body ng-init="showMegamenu=false" ng-click="showMegamenu=false" ng-controller="mainCtrl" ng-class="{'left-panel-hidden': hideLeftPanel, 'right-panel-hidden': hideRightPanel, 'header-hidden': hideHeader, 'footer-hidden': hideFooter, 'toolbar-hidden': hideToolbar}" press-m="$root.toggleShapesManager();">
    <div class="body-wrapper" ng-class="{'hide-body': !showBody}" >
        <div id="sidebar" class="reversed-text">
            <ul>
                <li><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-close-white.svg" /></li>
                <li>
                    <a href="http://s.codepen.io/team/lucidsoftware/debug/944b732e7d71a1fb50537f7278783fee?"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-folder-orange.svg" class="icon" />Go to Documents</a>
                </li>
                <li>New documentc</li>
                <li>Duplicate</li>
                <li>Download</li>
                <li ng-click="$root.showImportModal = true">Import</li>
                <li ng-click="$root.showShareModal = true">Share</li>
                <li>Print</li>
            </ul>
        </div>
        <div id="wrapper" ng-class="{'with-mega-menu' : showMegamenu}">
            <!-- MAIN HEADER PAGES WRAPPER -->
            <div class="main-header-pages-wrapper" click-outside="pages.show = false">
                <ng-include src="'components/header/header.html'"></ng-include>
                <ng-include src="'components/pages/pages.html'"></ng-include>
            </div>
            <!-- END PAGES AND MAIN HEADER WRAPPER -->
            <div id="main-container">
                <!-- CANVAS -->
                <ng-include src="'components/canvas/canvas.html'"></ng-include>
                <!-- END CANVAS -->
                <!-- LEFT BAR SHAPE MANAGER-->
                <ng-include src="'components/shape-manager/shape-manager.html'"></ng-include>
                <!-- BEGIN TOP TOOLBAR -->
                <ng-include src="'components/optionbar/optionbar.html'"></ng-include>
                <!-- RIGHT DOCK -->
                <ng-include src="'components/right-dock/right-dock.html'"></ng-include>
                <!-- END RIGHT DOCK -->
                <div class="toggle-canvas-mode" ng-show="hideToolbar" ng-click="canvasMode()">
                    <img src="http://particle.golucid.co/components/3.0/icon/icons/icon-screen-mode-22px.svg">
                </div>
                <!-- CANVAS FOOTER -->
                <ng-include src="'components/footer/footer.html'"></ng-include>
                <!-- ADVANCED SHAPES -->
                <ng-include src="'components/advanced-shapes/advanced-shapes.html'"></ng-include>
            </div>
        </div>
    </div>
    <!-- ONBOARDING TIPS -->
    <ng-include src="'components/onboarding-tips/onboarding-tips.html'"></ng-include>
    <!-- LOADING TIPS -->
    <!-- <ng-include src="'components/loading-tips/loading-tips.html'"></ng-include> -->
    <!-- MODALS -->
    <ng-include src="'components/modals/modals.html'"></ng-include>
</body>

</html>