<div class="wrapper">
    <h1>Prototyping in Codepen</h1>
    <div class="hr"></div>
    <h2>Step 1</h2>
    <p>Click on Settings, and paste the following code into the "Stuff for &lt;head&gt;" area, and click Save.</p>
    <div hljs language="HTML" include="'templates/code/step-1.html'"></div>
    <p></p>
    <h2>Step 2</h2>
    <p>Paste the following code inside the HTML area.</p>
    <div hljs language="HTML" include="'templates/code/step-2.html'"></div>
    <p></p>
    <h2>Step 3</h2>
    <p>Add the following code to the JS area and then code away!</p>
    <div hljs language="HTML" include="'templates/code/step-3.html'"></div>
</div>