<section class="overview-section section-1">
    <h1>Designers and Engineers Unite</h1>
    <ng-include src="'img/particle-designer-developer.svg'" class="particle-designer-developer"></ng-include>
    <a href="#/codepen" class="lucid-button lucid-blue">Learn More!</a>
</section>
<section class="overview-section section-2">
    <h1>Designing with Code</h1>
    <div class="col-50">
        <div class="benefits-block">
            <div class="benefits-block-icon">
                <ng-include src="'http://particle.golucid.co/components/2.0/icon/icons/icon-finger-22px.svg'"></ng-include>
            </div>
            <div class="benefits-block-text">
                <h3>Interactive Prototypes</h3>
                <p>More real than static mocks with a fraction of the cost of production-ready code. With Lucid Particle, designers can focus on user interactions, workflows, and experiences without the overhead of a full engineering process.</p>
            </div>
        </div>
        <div class="benefits-block">
            <div class="benefits-block-icon">
                <ng-include src="'http://particle.golucid.co/components/2.0/icon/icons/icon-computer-desktop-22px.svg'"></ng-include>
            </div>
            <div class="benefits-block-text">
                <h3>Improve User Testing</h3>
                <p>Easily send a link of the latest prototype to users. They can interact with your awesome design ideas on desktop or mobile, without any special downloads.</p>
            </div>
        </div>
        <div class="benefits-block">
            <div class="benefits-block-icon">
                <ng-include src="'http://particle.golucid.co/components/2.0/icon/icons/icon-angular-22px.svg'"></ng-include>
            </div>
            <div class="benefits-block-text">
                <h3>Reusable components</h3>
                <p>Components that are used in design prototypes are the same ones used in our real products. Keeping components up-to-date is easy for both designers and engineers, helping to reinforce consistency.</p>
            </div>
        </div>
    </div>
    <div class="col-50 float-right">
        <div class="benefits-block">
            <div class="benefits-block-icon">
                <ng-include src="'http://particle.golucid.co/components/2.0/icon/icons/icon-youre-a-wizard-harry-22px.svg'"></ng-include>
            </div>
            <div class="benefits-block-text">
                <h3>Become a Design Wizard</h3>
                <p>Motion, animation, and interactivity can’t be articulated with static mocks. More thoughtful characteristics of the experience can be explored and delivered when using code.</p>
            </div>
        </div>
        <div class="benefits-block">
            <div class="benefits-block-icon">
                <ng-include src="'http://particle.golucid.co/components/2.0/icon/icons/icon-html-22px.svg'"></ng-include>
            </div>
            <div class="benefits-block-text">
                <h3>Speed up Development</h3>
                <p>Specifying the experience with code helps kickstart the engineering process. Engineers can hit the ground running with reusable HTML and CSS patterns.</p>
            </div>
        </div>
        <div class="benefits-block">
            <div class="benefits-block-icon">
                <ng-include src="'http://particle.golucid.co/components/2.0/icon/icons/icon-html5-22px.svg'"></ng-include>
            </div>
            <div class="benefits-block-text">
                <h3>Living Design Guide</h3>
                <p>Both engineers and designers can reference the online interactive style guide. Anyone in the organization can access and understand the product design guidelines.</p>
            </div>
        </div>
    </div>
</section>
<section class="overview-section section-3">
    <h1>Software Engineering Process</h1>
    <div class="timeline-top">
        <div class="col-50 align-right">
            <div class="lucid-designer">
                <ng-include src="'img/particle-designer.svg'" class="particle-large-icon"></ng-include>
                <h2>Designers</h2>
            </div>
        </div>
        <div class="col-50 align-left">
            <div class="lucid-developer">
                <ng-include src="'img/particle-developer.svg'" class="particle-large-icon"></ng-include>
                <h2>Engineers</h2>
            </div>
        </div>
    </div>
    <div class="particle-timeline">
        <div class="full-width-wrapper">
            <div class="col-50 align-right">
                <div class="timeline-text-container">
                    <h3>WHITEBOARD & SKETCH</h3>
                    <p>Designers sketch, mockup, and design new concepts referencing our existing style guide inside particle.</p>
                </div>
            </div>
            <div class="col-50 align-left">
                <div class="timeline-text-container">
                    <h3>WHITEBOARD & SKETCH</h3>
                    <p>Engineers participate early in brainstorming sessions and provide valuable feedback, ideas, and insight.</p>
                </div>
            </div>
        </div>
        <div class="full-width-wrapper">
            <div class="col-50 align-right">
                <div class="timeline-text-container">
                    <h3>PROTOTYPE</h3>
                    <p>Designers build interactive prototypes using particle components. Designers code what is necessary to get valuable feedback. Often images are used within a prototype to fake it.</p>
                </div>
            </div>
            <div class="col-50 align-left"></div>
        </div>
        <div class="full-width-wrapper">
            <div class="col-50 align-right">
                <div class="timeline-text-container">
                    <h3>USER TESTING</h3>
                    <p>New designs are given to users, and tested thoroughly. Through directed discovery designers identify new problems & opportunities.</p>
                </div>
            </div>
            <div class="col-50 align-left"></div>
        </div>
        <div class="full-width-wrapper">
            <div class="col-50 align-right">
                <div class="timeline-text-container">
                    <h3>REFINE PROTOTYPE</h3>
                    <p>Designers finalize design decisions based on feedback from users, product managers, and engineers.</p>
                </div>
            </div>
            <div class="col-50 align-left">
                <div class="timeline-text-container">
                    <h3>VALIDATE PROTOTYPE</h3>
                    <p>Engineers clarify anything missing in the prototype, compare to existing product, and offer feedback.</p>
                </div>
            </div>
        </div>
        <div class="full-width-wrapper">
            <div class="col-50 align-right"></div>
            <div class="col-50 align-left">
                <div class="timeline-text-container">
                    <h3>REFERENCE PROTOTYPE</h3>
                    <p>Once the design has stablized, engineers are given an interactive prototype of the latest design.</p>
                </div>
            </div>
        </div>
        <div class="full-width-wrapper">
            <div class="col-50 align-right">
                <div class="timeline-text-container">
                    <h3>VERIFY PRODUCTION CODE</h3>
                    <p>Designers are involved during production and part of the code review. Verifying that production is in line with the prototype and current design guidelines.</p>
                </div>
            </div>
            <div class="col-50 align-left">
                <div class="timeline-text-container">
                    <h3>BUILD PRODUCTION</h3>
                    <p>Reusing HTML and CSS where it makes sense, engineers build a scalable, production-ready version of the prototype.</p>
                </div>
            </div>
        </div>
        <div class="full-width-wrapper">
            <div class="col-50 align-right"></div>
            <div class="col-50 align-left">
                <div class="timeline-text-container">
                    <h3>UPDATE STYLE GUIDE</h3>
                    <p>Newly built components are added to particle design to be reused in the future.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="particle-morph-container">
        <ng-include src="'img/lucid-logos.svg'" class="lucid-particle-morph-logo"></ng-include>
    </div>
</section>