<div class="wrapper">
    <h1>Angular for Designers</h1>
    <div class="hr"></div>
    <p>We've put together a lot of code snippets to help designers use angularjs to make interactive prototypes. These are all done using angularjs and ng-animate. These examples help teach a basic understanding of how to build quick prototypes of an interactive interface.</p>
    <p>The "Starter File" at the beginning of each example gives you the HTML and CSS you need to build the example. Follow the examples in order, and add the code to the starter file. Inside each codepen there are comments that draw your attention to code we are changing.</p>
    <p>If you want to include lucid particle components, please see <a href="#/codepen" class="snippet-starter">Starting in Codepen</a> to add the right dependencies.</p>
    <div class="icon-search ng-scope">
        <input ng-model="searchResults" placeholder="Search Snippets">
        <img src="http://particle.golucid.co/components/2.0/icon/icons/icon-search-18px.svg">
    </div>
    <div ng-repeat="snippet in snippets | filter: searchResults">
        <h2>{{snippet.title}}</h2>
        <p>{{snippet.description}}</p>
        <p ng-if="snippet.starterfile">Starter File: <a target="_blank" class="snippet-starter" href="{{snippet.starterfile}}">{{snippet.starterfile}}</a></p>
        <iframe class="codepen-iframe" ng-if="snippet.codepen" height='350' scrolling='no' ng-src='{{getIframeSrc(snippet.codepen)}}' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>
        </iframe>
    </div>
</div>