<lucid-buttcon icon="https://lucidsoftware.github.io/particle/components/0.0/icon/img/angular-dark.svg"></lucid-buttcon>

<lucid-buttcon icon="https://lucidsoftware.github.io/particle/components/0.0/icon/img/angular-dark.svg" label="Solid"></lucid-buttcon>
<lucid-buttcon icon="https://lucidsoftware.github.io/particle/components/0.0/icon/img/angular-dark.svg" label="Solid" class="active"></lucid-buttcon>

<lucid-buttcon icon="https://lucidsoftware.github.io/particle/components/1.1/icon/img/crop-14px.svg" label="Crop" class="condensed"></lucid-buttcon>