<html ng-app="particleApp">
<head>
    <meta charset="UTF-8">
    <!-- Angular -->
    <script src="https://lucidsoftware.github.io/particle/lib/angular/angular.min.js" type="text/javascript"></script>
    <script src="https://lucidsoftware.github.io/particle/lib/angular/angular-animate.min.js" type="text/javascript"></script>
    <script src="https://lucidsoftware.github.io/particle/lib/angular/angular-route.min.js" type="text/javascript"></script>
    <!-- Lucid Components -->
    <script src="https://lucidsoftware.github.io/particle/components/3.0/components-min.js" type="text/javascript"></script>
    <link href="https://lucidsoftware.github.io/particle/components/3.0/components.css" type="text/css" rel="stylesheet" />
    <!-- Other Libs -->
    <script src="https://lucidsoftware.github.io/particle/lib/Sortable.min.js" type="text/javascript"></script>
    <script src="https://lucidsoftware.github.io/particle/lib/ng-sortable.js" type="text/javascript"></script>
    <script src="https://lucidsoftware.github.io/particle/lib/svg-morpheus.js" type="text/javascript"></script>
    <script src="https://lucidsoftware.github.io/particle/lib/ngDraggable.js" type="text/javascript"></script>
    <script src="https://lucidsoftware.github.io/particle/lib/angular-drag-and-drop-lists.min.js" type="text/javascript"></script>

    <!-- Prototype Specific -->
    <link rel="stylesheet" type="text/css" href="style.css">
    <script src="app.js"></script>
    <script src="../press-data.js"></script>
    <script>
      document.write('<base href="' + document.location + '" />');
    </script>
</head>
<body ng-controller="mainCtrl" class="{{loadingClass}} {{loadedClass}}" ng-class="{'left-panel-open': $root.panelOpenLoading}" ng-init="loading();">
  <div id="wrapper">
    <div class="main-header-pages-wrapper">
      <div id="main-header" ng-click="loadingClass = 'loading'">
      <div class="left">
<!-- start file menu -->
        <nav class="file-menu">
          <ul>
            <li ng-click="nav.display = !nav.display" ng-mouseenter="nav.show='file'">
              <span>FILE</span>
              <ul ng-show="nav.show == 'file' && nav.display">
                <li>New</li>
                <li>Rename</li>
                <li>Save</li>
                <li>Make Copy...</li>
                <li>Close</li>
                <li class="divider"></li>
                <li>Page Setup...</li>
                <li>Preview</li>
                <li>Analytics</li>
                <li>Revision History</li>
                <li>InDesign Import</li>
                <li class="divider"></li>
                <li>Download As...</li>
                <li>Share...</li>
                <li>Export to Google Drive...</li>
                <li>Print</li>
              </ul>
            </li>
            <li ng-click="nav.display = !nav.display" ng-mouseenter="nav.show='edit'">
              <span> Edit</span>
              <ul ng-show="nav.show == 'edit' && nav.display">
                <li>Undo</li>
                <li>Redo</li>
                <li class="divider"></li>
                <li>Cut</li>
                <li>Copy</li>
                <li>Paste</li>
                <li>Paste Plain Text</li>
                <li>Copy Formatting</li>
                <li>Paste Formatting</li>
                <li class="divider"></li>
                <li>Select All</li>
                <li>Deselect</li>
                <li class="divider"></li>
                <li>Spell Check</li>
                <li>Change Language</li>
                <li>Find and Replace...</li>
              </ul>
            </li>
            <li ng-click="nav.display = !nav.display" ng-mouseenter="nav.show='view'">
              <span> View</span>
              <ul ng-show="nav.show == 'view' && nav.display">
                <li>Preview</li>
                <li>Zoom In</li>
                <li>Zoom Out</li>
                <li>Zoom to Width</li>
                <li>Zoom to Page</li>
                <li>Reset Zoom</li>
                <li class="divider"></li>
                <li>Grid</li>
                <li>Snap to Grid</li>
                <li>Guides</li>
                <li class="divider"></li>
                <li>Show Guides</li>
                <li>Snap to Guides</li>
                <li>Clear Guides</li>
                <li class="divider"></li>
                <li>Margins</li>
                <li ng-class="{'checked': layers.view}" ng-click="layers.view = !layers.view">Layers</li>
                <li class="divider"></li>
                <li>Show Comments</li>
                <li class="divider"></li>
                <li>Page Thumbnails</li>
                <li>Context Pane</li>
                <li>Rulers</li>
              </ul>
            </li>
            <li ng-click="nav.display = !nav.display" ng-mouseenter="nav.show='insert'">
              <span> Insert</span>
              <ul ng-show="nav.show == 'insert' && nav.display">
                <li>Text Box</li>
                <li>Image</li>
                <li>Video</li>
                <li>Scrolling Area</li>
                <li>Overlay</li>
                <li>Comment</li>
                <li>Import Text from Drive</li>
                <li class="divider"></li>
                <li>Creator Name</li>
                <li>Document Name</li>
                <li>Date & Time</li>
                <li>Last Modified</li>
                <li>Page Number</li>
                <li>Page Count</li>
                <li class="divider"></li>
                <li>Fill with Placeholder Text</li>
                <li>Special Character</li>
                <li>List</li>
              </ul>
            </li>
          </ul>
        </nav>
<!-- end file menu -->
      </div>
      <div class="center">
      </div>
      <div id="documents">
        <a href="../press-docs/index.html">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-logo-megamenu.png" />
        </a>
      </div>
      <div class="right">
        <lucid-button class="lucid-blue" icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-preview-eye.svg">Preview</lucid-button>
        <lucid-button class="lucid-blue" icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-download.svg">Download</lucid-button>
        <lucid-button class="lucid-blue" icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-share.svg">Share</lucid-button>
        <lucid-buttcon-popover class="help popover-list" icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/help-gray-22px.svg" width="200" showpopover="help.show">
        <div style="padding:10px 10px 0">
          <input style="width: 100%;" type="text" class="lucid-input" placeholder="How do I...?">
        </div>
        <div class="lucid-select-wrapper">
            <ul class="lucid-select-dropdown" ng-click="help.show = false">
                <li class="lucid-select-option">Help Center</li>
                <li class="lucid-select-option">Keyboard shortcuts</li>
                <li class="lucid-select-option">Report a problem</li>
            </ul>
        </div>
        </lucid-buttcon-popover>
        <div class="bell" ng-init="showAlert=true">
          <div class="bubble lucid-animate" ng-show="showAlert">1</div>
          <lucid-buttcon-popover class="help popover-list" ng-click="showAlert=false" showpopover="bell.show" icon="https://lucidsoftware.github.io/particle/components/2.0/icon/icons/icon-bell-22px.svg" width="311">
              <header>Notifications<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-gear-white.svg"></header>
            <div class="notifications"><img ng-click="addOnsModal.show=true" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/add-ons-notification.png"/></div>
          </lucid-buttcon-popover>
        </div>
        

          <lucid-buttcon-popover class="account-settings popover-list" showpopover="account.show" icon="https://lucidsoftware.github.io/particle/components/2.0/icon/icons/icon-person-large-22px.svg" width="135">
              <div class="lucid-select-wrapper">
                  <ul class="lucid-select-dropdown" ng-click="account.show = false;">
                      <li class="lucid-select-option">
                          Account Settings
                      </li>
                      <li class="lucid-select-option">
                          User Preferences
                      </li>
                      <li class="lucid-select-option">
                          Log Out
                      </li>
                  </ul>
              </div>
          </lucid-buttcon-popover>
      </div>
    </div>
    </div>
    <div id="main-container">
      <div class="document-container" ng-click="$root.selectedBlock.type = 'document'; deselectBlock();"></div>
      <div class="page-container" ng-click="$root.selectedBlock.type = 'page'">
        <div id="page-loading" ng-show="$root.loadingClass == 'loading' && $root.loadedClass !== 'loaded'">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/spinner-press-1.gif">
        </div>
      <!-- START CANVAS -->
      <div id="lucid-canvas" 
        ng-drop="true" 
        ng-drop-success="dropToCanvas($data,$event)" 
        ng-click="deselectBlock();"
        style="width: {{page.width}}px; height: {{page.height}}px"
        ng-repeat="page in $root.pages"

        ng-controller="canvasCtrl">
        <div class="lucid-canvas-layer" ng-click="editThisBlock(defaultBlock);"></div>

        <svg xmlns="http://www.w3.org/2000/svg" width="900" height="690" viewBox="0 0 900 690">
            <marker id="triangle" viewBox="0 0 10 10" refX="0" refY="5" markerUnits="strokeWidth" markerWidth="4" fill="{{$root.currentPage.linecolor}}" markerHeight="3" orient="auto">
                <path d="M 0 0 L 10 5 L 0 10 z" />
            </marker>
            <polyline ng-click="clickLine(); $root.selectedType = 'line'" ng-repeat="line in $root.currentPage.lines" xmlns="http://www.w3.org/2000/svg" ng-attr-points="{{line.points}}" ng-attr-marker-end="{{line.endarrow && 'url(#triangle)' || '' }}" fill="transparent" stroke="{{$root.currentPage.linecolor}}" stroke-width="{{line.width}}" />
        </svg>

        <ul dnd-list="page.blocks"
            dnd-allowed-types="['custom']"
            dnd-horizontal-list="true"
            dnd-external-sources="true"
            ng-if="page.blocks.length"            

            dnd-drop="dropToCanvas(item, event)"
            dnd-inserted="logEvent('Element was inserted at position ' + index, event)"> 

            <!-- START CANVAS BLOCK/SHAPE -->
            <li 
            dnd-draggable="block"
            dnd-type="'canvas'"
            dnd-effect-allowed="moveCopy"
            dnd-dragstart="logEvent('Started to drag an item', event); $root.draggingshape=true;"
            dnd-moved="logEvent('Item moved', event)"
            dnd-copied="logEvent('Item copied', event)"
            dnd-canceled="logEvent('Drag operation canceled', event)"
            dnd-dragend="logEvent('Drag operation ended', event); $root.draggingshape=false;"

            ng-repeat="block in page.blocks track by $index"
            ng-if="block.metrics"
            ng-drag="true" 
            ng-drag-data="block" 
            ng-drag-success="onDragSuccess($data,$event)" 
            ng-center-anchor="true" 
            ng-click="$root.selectedBlock = block; $event.stopPropagation(); $root.selectedType = 'block'"
            class="lucid-chart-block lucid-animate" 
            ng-class="{'manage-shapes': $root.manageshapes, 'shrink-block' : $root.selectedBlock == block && $root.mouseInLeftPanel}"
            style="background-color:{{block.swatch.fill}}; border: {{block.borderwidth}}px {{block.borderstyle}} {{block.swatch.border}}; width:{{block.metrics.width}}px; height:{{block.metrics.height}}px; text-align:{{block.text.horizontalalignment}}; left:{{block.metrics.x}}px; top:{{block.metrics.y}}px; padding:{{block.padding}}px; border-radius:{{block.radius}}px; box-shadow:{{block.shadow.x}}px {{block.shadow.y}}px {{block.shadow.blur}}px {{block.shadow.color}}; z-index:{{block.metrics.z}}; border-style:solid; background-image: url({{block.backgroundImage}}); background-size: {{block.metrics.width}}px {{block.metrics.height}}px; background-repeat: no-repeat; background-position: center;">
              <div class="lucid-outer-block-table" ng-if="block.type !== 'table'">
                  <div class="lucid-inner-block" style="vertical-align:{{block.text.verticalalignment}}; color:{{block.swatch.text}}; font-family:{{block.text.font}}; font-size:{{block.text.size}}px; font-weight:{{block.text.weight}}; letter-spacing:{{block.text.letterspacing}}">
                    <span ng-hide="edittext" ng-dblclick="edittext=false" ng-enter="edittext=false">{{block.text.text}}</span>
                    <input type="text" ng-model="block.text.text" ng-show="edittext">
                  </div>
              </div>
              <div class="simple-table-wrapper lucid-chart-block" 
                   ng-if="block.type == 'table'">
                <table>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                </table>
              </div>

              <div class="lucid-selected-block" ng-show="$root.selectedBlock == block && !$root.mouseInLeftPanel">
                  <div class="lucid-corner-drag lucid-top-left" ng-hide="$root.draggingshape"></div>
                  <div class="lucid-corner-drag lucid-top-center" ng-hide="$root.draggingshape"></div>
                  <div class="lucid-corner-drag lucid-top-right" ng-hide="$root.draggingshape"></div>
                  <div class="lucid-corner-drag lucid-center-right" ng-hide="$root.draggingshape"></div>
                  <div class="lucid-corner-drag lucid-bottom-right" ng-hide="$root.draggingshape"></div>
                  <div class="lucid-corner-drag lucid-bottom-center" ng-hide="$root.draggingshape"></div>
                  <div class="lucid-corner-drag lucid-bottom-left" ng-hide="$root.draggingshape"></div>
                  <div class="lucid-corner-drag lucid-center-left" ng-hide="$root.draggingshape"></div>
              </div>
              <img class="lucid-block-comment lucid-animate" ng-hide="!block.comment || $root.selectedBlock == block && $root.draggingshape" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-comment-yellow.svg" ng-click="$root.setTab('comments');">
            </li>
            <!-- END CANVAS BLOCK/SHAPE -->
            
        </ul>
        <!-- START CANVAS SLIDES / PRESENT FRAMES -->
      </div>
      <!-- END CANVAS -->
      </div>
      <!-- START LEFT BAR -->
      <div id="left-bar" class="lucid-shapes-panel-wrapper" ng-controller="leftPanelCtrl">
        <!-- START ICONS WRAPPER -->
        <div class="icons-wrapper">
          <div class="icon-wrapper more-caret" ng-class="{active: openTab == 'templates'}" ng-click="$root.setTab('templates');">
            <div class="icon share"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-page.svg" class="full" /></div><span class="input-label">Page</span>
          </div>
          <div class="icon-wrapper more-caret" ng-class="{active: openTab == 'text'}" ng-click="$root.setTab('text')">
            <div class="icon share"><img src="https://lucidsoftware.github.io/particle/components/2.0/icon/icons/icon-text-22px.svg" class="full" /></div><span class="input-label">Text</span>
          </div>
          <div class="icon-wrapper more-caret" ng-class="{active: openTab == 'layers'}" ng-click="$root.setTab('layers');">
            <div class="icon share"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-icon-shapes.svg" class="full" /></div><span class="input-label">Shapes</span>
          </div>
          <div class="icon-wrapper" ng-class="{active: openTab == 'comments'}" ng-click="$root.setTab('comments');">
            <div class="icon share"><img src="https://lucidsoftware.github.io/particle/components/2.0/icon/icons/icon-image-22px.svg" class="full" /></div><span class="input-label">Images</span>
          </div>
          <div class="icon-wrapper lucid-animate" ng-class="{active: openTab == 'table'}" ng-click="$root.setTab('table'); showTooltipPresent=false">
            <div class="icon share"><img src="https://lucidsoftware.github.io/particle/components/2.0/icon/icons/icon-table-grid-22px.svg" class="full" /></div><span class="input-label">Table</span>
          </div>
          <div class="icon-wrapper lucid-animate" ng-class="{active: openTab == 'video'}" ng-click="$root.setTab('video');">
            <div class="icon share"><img src="https://lucidsoftware.github.io/particle/components/2.0/icon/icons/icon-present-22px.svg" class="full" /></div><span class="input-label">Video</span>
          </div>
          <div class="icon-wrapper lucid-animate more-caret" ng-class="{active: openTab == 'buttons'}" ng-click="$root.setTab('buttons');">
            <div class="icon share"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-icon-button.svg" class="full" /></div><span class="input-label">Buttons</span>
          </div>
          <div class="icon-wrapper lucid-animate" ng-class="{active: openTab == 'scroll-area'}" ng-click="$root.setTab('scroll-area');">
            <div class="icon share"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-icon-scroll-area.svg" class="full" /></div><span class="input-label">Scroll Area</span>
          </div>
        </div>
        <!-- END ICONS WRAPPER -->
        <!-- START PAGES PANEL CONTENT -->
        <div id="pages-panel" class="left-panel-slide">
          <div class="lucid-pages" ng-controller="PagesCtrl">
            <div class="lucid-pages-wrapper">
              <div class="add-new-page lucid-animate" draggable="false">
                    <div class="page-placeholder"></div>
                </div>
                <div class="current-page"></div>
                <ul ng-sortable="{group: 'pages',handle: '.page-thumb-wrapper', animation: 150}">
                    <li ng-repeat="page in $root.pages track by page.id" class="lucid-animate">

                        <div>
                          <div class="lucid-page"
                              lucid-context-menu
                              data-target="page-context-{{ page.id }}">
                              <div class="center-image" 
                              ng-click="changePage(page)"
                              ng-dblclick="$root.currentPage = page;">
                                  <div class="center-image-container">
                                      <div class="image-container">
                                          <div class="page-thumb-wrapper">
                                              <img class="page-thumb" ng-src="{{page.thumb}}" ng-if="page.thumb">
                                              <div class="blank-page" ng-if="!page.thumb"></div>
                                              <div class="master-page lucid-animate" ng-show="page.master">
                                                  <span>MASTER PAGE</span>
                                              </div> 
                                              <div class="master-page lucid-animate" ng-show="page.masterapplied">
                                                  <span>MASTER APPLIED</span>
                                              </div>   
                                          </div>
                                          <div class="page-x" ng-click="$parent.deletePage(page, $index)"></div>
                                      </div>
                                  </div>
                              </div>
<!--                               <span class="page-thumb-name">
                                <h4><edit-in-place edit="page.edit" ng-model="page.name"></edit-in-place></h4>
                              </span> -->
                              <!-- Right Click Context Menu -->
                              <div id="page-context-{{ page.id }}" class="lucid-context-menu ng-hide">
                                  <ul>
                                      <li ng-click="editName(page)">Rename</li>
                                      <li ng-click="$parent.duplicatePage(page, $index)">Duplicate</li>
                                      <li ng-click="$parent.deletePage(page, $index)">Delete</li>
                                      <li class="context-divider"></li>
                                      <li ng-show="!page.master" ng-click="page.master = true">Convert to Master Page</li>
                                      <li ng-show="page.master" ng-click="page.master = false">Convert to Page</li>
                                      <li ng-show="page.master" ng-click="applyMasterAll()">Apply Master to All</li>
                                      <li class="lucid-context-more" ng-show="$root.masterPageCount().length>0 && !page.master">Apply Master Page
                                          <ul>
                                              <li ng-repeat="master in $root.masterPageCount()" ng-click="$parent.$parent.applyMaster(page);">
                                                  {{master.name}}
                                              </li>
                                          </ul>
                                      </li>
                                      <li ng-show="masterapplied" ng-click="masterapplied = false">Remove Master Page</li>

                                  </ul>
                              </div>
                          </div>
                      </div>
                    </li>
                </ul>
                <div class="add-new-page lucid-animate" draggable="false">
                    <div class="plus-container" ng-click="addPage()">
                      <ng-include class="plus-icon" src="'https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-plus-large.svg'"></ng-include>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <!-- END PAGES PANEL CONTENT -->
      <!-- START TEXT PANEL CONTENT -->
        <div class="left-panel-slide" ng-show="leftPanelOpen">
          <div ng-show="openTab == 'text'" class="panel-content">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-flyout.png">
          </div>
          <div ng-show="openTab == 'templates'" ng-controller="templateCtrl" class="panel-content">
            <header>{{$root.currentTemplates.groupname}}
              <ng-include ng-click="$root.templateManager = !$root.templateManager" class="panel-gear" ng-class="{'active': $root.templateManager}" src="'https://lucidsoftware.github.io/particle/components/2.0/icon/icons/icon-gear-22px.svg'"></ng-include>
            </header>
            <div class="lucid-search-container">
                <input type="input" placeholder="Search {{$root.currentTemplates.groupname}}s" ng-model="searchGroup">
                <ng-include class="lucid-search-icon" src="'https://lucidsoftware.github.io/particle/components/2.0/icon/icons/icon-search-18px.svg'"></ng-include>
            </div>
            <ul class="template-list">
              <li ng-repeat="template in $root.currentTemplates.templates | filter:searchGroup">
                <img ng-src="{{template.url}}">
              </li>
            </ul>
            <!-- START TEMPLATE MANAGER -->
            <div id="template-manager" ng-show="$root.templateManager">
              <div class="lucid-shape-manager-top-bar">
                <div class="top-bar-inner" ng-show="$root.templateManager">
                  <lucid-button icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-add-white-18px.svg" class="lucid-new-library lucid-blue" ng-click="newCustomGroup()">Custom Template</lucid-button>
                      <!-- start -->
                      <div class="lucid-select-wrapper lucid-new-library" click-outside="showdropdown = false">
                        <lucid-button class="lucid-new-library import-to-manager" ng-click="showdropdown = !showdropdown">Import</lucid-button>
                        <div class="lucid-select-dropdown no-checkmarks" ng-show="showdropdown">
                            <div>
                                <ul ng-click="showdropdown = false; $root.showImportModal = 'true'">
                                <li class="lucid-select-option">
                                    inDesign
                                </li>   
                                <li class="lucid-select-option">
                                    PageMaster
                                </li>  
                                <li class="lucid-select-option">
                                    PDF
                                </li>     
                              </ul>
                            </div>
                        </div>
                      </div>
                      <!-- import modal is close to end of document -->
                      <!-- End -->
                    <div class="lucid-search-container">
                        <input type="text" placeholder="Search Shapes" ng-model="searchTemplates">
                        <img class="lucid-search-icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-search-white.svg">
                    </div>
                    <ng-include class="close-template-manager" ng-click="$root.templateManager = false" src="'https://lucidsoftware.github.io/particle/components/2.0/icon/icons/icon-x-22px.svg'"></ng-include>
                </div>
              </div>
              <ul>

                <li class="templates-category" ng-repeat="category in pressTemplates | filter: searchTemplates">
                  <div class="lucid-shapes-manager-divider">
                              <div class="divider-inner">
                                  <div class="divider-title">
                                     {{category.category}}
                                  </div>
                                  <div class="divider-line"></div>
                              </div>
                          </div>
                  <ul>
                    <li class="templates-group" ng-repeat="group in category.groups | filter: searchTemplates" ng-click="changeTemplates(group);">
                      <h3>{{group.groupname}}</h3>
                      <div class="image-wrap">
                        <img ng-src="{{group.templates[0].url}}">
                      </div>
                      <span>{{group.size.width}} x {{group.size.height}} {{group.unit}}</span>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <!-- END TEMPLATE MANAGER -->
          </div>
      </div>
      <!-- END TEXT PANEL CONTENT -->

      </div>
<!-- END LEFT BAR -->

<!-- RIGHT DOCK -->
      <div id="right-dock" ng-controller="RightDockCtrl" ng-class="{ open: rightDock, 'manage-shapes': $root.manageshapes }">
        <!-- start document right panel -->
        <div class="right-panel-wrapper" ng-show="$root.selectedBlock.type == 'document'">
            <lucid-top-tabs>
                <lucid-top-tab name="Document" selected>

                  <lucid-collapse-bar title="Size & Orientation">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-document-size-orientation.png">
                  </lucid-collapse-bar>

                  <lucid-collapse-bar title="Header & Footer">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-document-header-footer.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Margin & Bleed">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-document-margin-bleed.png">
                  </lucid-collapse-bar>

                </lucid-top-tab>
                <lucid-top-tab name="Theme">
                    Tab 2
                </lucid-top-tab>
            </lucid-top-tabs>
        </div>
        <!-- end document right panel -->
        <!-- start page right panel -->
        <div class="right-panel-wrapper" ng-show="$root.selectedBlock.type == 'page'">
            <lucid-top-tabs>
                <lucid-top-tab name="Page" selected>
                  <lucid-collapse-bar title="Page">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-page-page.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Margin"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-page-margin.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
                <lucid-top-tab name="Theme">
                    Tab 2
                </lucid-top-tab>
            </lucid-top-tabs>
        </div>
        <!-- end page right panel -->
        <!-- start text right panel -->
        <div class="right-panel-wrapper" ng-show="$root.selectedBlock.type == 'text'">
            <lucid-top-tabs>
                <lucid-top-tab name="Text" selected>
                  <lucid-collapse-bar title="Font">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-font.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Spacing"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-spacing.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Columns">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-columns.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Tabs & Indents"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-tabs-indents.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Horizontal Rules">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-horizontal-rules.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Warp"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-warp.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Link"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-link.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
                <lucid-top-tab name="Style">
                  <lucid-collapse-bar title="Fill">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-style-fill.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Border"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-style-border.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Shadow">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-style-shadow.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
                <lucid-top-tab name="Layout">
                  <lucid-collapse-bar title="Position & Size">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-position.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Arrange"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-arrange.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Text Wrapping">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-text-wrapping.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
            </lucid-top-tabs>
        </div>
        <!-- end text right panel -->
        <!-- start video right panel -->
        <div class="right-panel-wrapper" ng-show="$root.selectedBlock.type == 'video'">
            <lucid-top-tabs>
                <lucid-top-tab name="Video" selected>
                  <lucid-collapse-bar title="YouTube URL">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-youtube.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Shadow"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-style-shadow.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
                <lucid-top-tab name="Layout">
                  <lucid-collapse-bar title="Position & Size">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-position.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Arrange"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-arrange.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Text Wrapping">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-text-wrapping.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
            </lucid-top-tabs>
        </div>
        <!-- end video right panel -->
        <!-- start button right panel -->
        <div class="right-panel-wrapper" ng-show="$root.selectedBlock.type == 'button'">
            <lucid-top-tabs>
                <lucid-top-tab name="Button" selected>
                  <lucid-collapse-bar title="Link"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-link.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Color"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-color.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Shadow">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-style-shadow.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
                <lucid-top-tab name="Text">
                  <lucid-collapse-bar title="Font">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-font.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Spacing"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-spacing.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Columns">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-columns.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Tabs & Indents"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-tabs-indents.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Horizontal Rules">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-horizontal-rules.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Warp"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-warp.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
                <lucid-top-tab name="Layout">
                  <lucid-collapse-bar title="Position & Size">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-position.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Arrange"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-arrange.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Text Wrapping">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-text-wrapping.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
            </lucid-top-tabs>
        </div>
        <!-- end button right panel -->
        <!-- start shape right panel -->
        <div class="right-panel-wrapper" ng-show="$root.selectedBlock.type == 'shape'">
            <lucid-top-tabs>
                <lucid-top-tab name="Shape" selected>
                  <lucid-collapse-bar title="Fill">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-style-fill.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Sides"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-shape-sides.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Border"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-style-border.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Shadow"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-style-shadow.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Link"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-link.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
                <lucid-top-tab name="Layout">
                  <lucid-collapse-bar title="Position & Size">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-position.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Arrange"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-arrange.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Text Wrapping">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-text-wrapping.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
            </lucid-top-tabs>
        </div>
        <!-- end shape right panel -->
        <!-- start table right panel -->
        <div class="right-panel-wrapper" ng-show="$root.selectedBlock.type == 'table'">
            <lucid-top-tabs>
                <lucid-top-tab name="Table" selected>
                  <lucid-collapse-bar title="Table Properties">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-table-properties.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Fill"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-table-fill.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Border"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-style-border.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Shadow"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-style-shadow.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
                <lucid-top-tab name="Layout">
                  <lucid-collapse-bar title="Position & Size">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-position.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Arrange"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-arrange.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Text Wrapping">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-text-wrapping.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
            </lucid-top-tabs>
        </div>
        <!-- end table right panel -->
        <!-- start scrollarea right panel -->
        <div class="right-panel-wrapper" ng-show="$root.selectedBlock.type == 'scrollarea'">
            <lucid-top-tabs>
                <lucid-top-tab name="Scroll Area" selected>
                  <lucid-collapse-bar title="Fill">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-style-fill.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Border"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-style-border.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Shadow"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-style-shadow.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Margin"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-scrollarea-margin.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
                <lucid-top-tab name="Layout">
                  <lucid-collapse-bar title="Position & Size">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-position.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Arrange"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-arrange.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Text Wrapping">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-text-wrapping.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
            </lucid-top-tabs>
        </div>
        <!-- end scrollarea right panel -->
        <!-- start image right panel -->
        <div class="right-panel-wrapper" ng-show="$root.selectedBlock.type == 'image'">
            <lucid-top-tabs>
                <lucid-top-tab name="Image" selected>
                  <lucid-collapse-bar title="Image">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-image.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Border"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-style-border.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Shadow">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-style-shadow.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Slideshow"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-slideshow.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Link"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-text-link.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
                <lucid-top-tab name="Layout">
                  <lucid-collapse-bar title="Position & Size">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-position.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Arrange"> 
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-arrange.png">
                  </lucid-collapse-bar>
                  <lucid-collapse-bar title="Text Wrapping">
                    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/press-placeholder-layout-text-wrapping.png">
                  </lucid-collapse-bar>
                </lucid-top-tab>
            </lucid-top-tabs>
        </div>
        <!-- end image right panel -->
        <!-- start layers -->
        <lucid-more-drawer ng-show="layers.view" class="layers-drawer" more="LAYERS" less="LAYERS" height="284" tophandle="true">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/placeholder-layers-v4.png">
        </lucid-more-drawer>
        <!-- end layers -->
      </div>
      <!-- END RIGHT DOCK -->
    </div>
  </div>
  </div>
  <lucid-modal showmodal="$root.showShareModal" width="810" height="645" title="Share" class="share-modal">
    <!-- Insert modal content here -->
    <lucid-finger-tabs>
      <lucid-finger-tab name="Collaborate" icon=" https://lucidsoftware.github.io/particle/components/0.0/icon/img/share-dark.svg" selected>
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/share-placeholder-collaborate.png">
      </lucid-finger-tab>
      <lucid-finger-tab name="Publish" icon=" https://lucidsoftware.github.io/particle/components/0.0/icon/img/link-dark.svg">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/share-placeholder-publish.png">
      </lucid-finger-tab>
      <lucid-finger-tab name="Facebook" icon="https://lucidsoftware.github.io/particle/components/0.0/icon/img/share-dark.svg">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/share-placeholder-social.png">
      </lucid-finger-tab>
      <lucid-finger-tab name="Embed" icon=" https://lucidsoftware.github.io/particle/components/0.0/icon/img/html-dark.svg">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/share-placeholder-embed.png">
      </lucid-finger-tab>
    </lucid-finger-tabs>
  </lucid-modal>
  <!-- END WRAPPER -->
</body>

</html>