<div class="component-header">
    <a class="component-logo customizable press" href="#"><span>Lucidpress</span></a>
    <div class="user-info"><span><a href="#">Documents</a></span>
        <div class="tab dem inspectlet-sensitive nav-menu" id="navbar-tab"><a class="inverse" href="#">cory@lucidchart.com</a>
            <div class="dropdown"></div>
        </div>
    </div>
    <ul class="main-menu">
        <li id="navlinks_documents" class="active"><a href="#">Documents</a></li>
        <li id="navlinks_team" style="display: block;"><a href="#">Team</a></li>
        <li class="nav-menu" id="navlinks_help"><a href="#">Help<div class="dropdown"></div></a></li>
    </ul>
</div>