<div class="file-tree-component inspectlet-sensitive">
    <div class="content-wrapper" style="bottom: 81px;">
        <div class="file-tree-container">
            <div class="file-tree">
                <ul>
                    <li class="folder selected expanded" id="filetree_home"><a class="selected" href="#">My Documents</a></li>
                    <ul class="sub-tree" style="max-height: 0px;"></ul>
                    <div class="tree-hr"></div>
                    <li class="folder no-child expanded" id="filetree_recent"><a href="#">Recent Documents</a></li>
                    <li class="folder no-child expanded" id="filetree_shared"><a href="#">Shared with Me (3)</a></li>
                    <li class="folder no-child expanded" id="filetree_trash"><a href="#">Trash</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="doclist-storage">
        <div class="progress-deep">
            <div class="progress-bar progress-bar-green" title="Documents - 0%" style="width: 3.485194%;"></div>
            <div class="progress-bar progress-bar-blue" title="Images - 1%" style="width: 2.594129%;"></div>
            <div class="progress-bar progress-bar-purple" title="Published documents - 0%" style="width: 1.024882%;"></div>
        </div>
        <div class="doclist-storage-description center">6% of 2000 GB used</div>
    </div>
    <div class="grow"></div>
    <div class="integration-buttons">
        <div><span>Related</span><span class="close-button">Close</span></div>
        <a id="cross_product_ad" href="#" target="_self"><img src="files/chart.png"></a>
        <a class="star-ad" id="star-rating-ad" href="#"><img src="files/press-stars.png"><span class="stars" id="star-rating-stars"><input id="star1" type="radio" name="rating" value="1"><i></i><input id="star2" type="radio" name="rating" value="2"><i></i><input id="star3" type="radio" name="rating" value="3"><i></i><input id="star4" type="radio" name="rating" value="4"><i></i><input id="star5" type="radio" name="rating" value="5"><i></i></span></a>
        <a id="indesign-import-coming-soon" href="#"><img src="files/indesign-beta.png"></a>
    </div>
</div>