<lucid-button class="lucid-blue" icon="components/0.0/icon/img/html-white.svg">Button Text</lucid-button>
<lucid-button class="lucid-red" icon="components/0.0/icon/img/angular-white.svg" >Red Button</lucid-button>
<lucid-button class="lucid-green">Green</lucid-button>
<br>
<br>
<button class="lucid-button lucid-blue">Button Text</button>
<button class="lucid-button lucid-red">Button Text</button>
<button class="lucid-button lucid-green">Button Text</button>
<button class="lucid-button lucid-cancel">Button</button>