<ion-modal-view class="shape-manager">
    <ion-header-bar class="bar bar-header bar-stable">
        <div class="buttons buttons-left header-item" ng-show="!search.show">
            <button class="button button-clear button-primary" ng-click="close()"><i class="icon material-icons">close</i></button>
        </div>
        <h1 class="title" ng-show="!search.show">Manage Shapes</h1>
        <div class="buttons buttons-right" ng-show="!search.show">
            <span class="right-buttons">
                <button class="button button-clear button-primary" ng-click="search.show = true"><i class="icon material-icons">search</i></button>
            </span>
        </div>
        <div class="buttons buttons-left header-item" ng-show="search.show">
            <button class="button button-clear button-primary" ng-click="$root.filter = ''; search.show = false; "><i class="material-icons">arrow_back</i></button>
        </div>
        <input class="header-search" select-on-load ng-model="$root.filter" placeholder="Search" ng-if="search.show">
    </ion-header-bar>
    <ion-content>
        <ion-list>
            <div ng-repeat="parentGroup in parentGroups | filter: $root.filter">
                <ion-item class="item-icon-left item-icon-right" ng-class="{'rotate-icon': parentGroup.openInManager, 'pinned-group': lucidGroupPinned(parentGroup) > 0}" ng-click="parentGroup.openInManager = !parentGroup.openInManager">
                    <i class="icon ion-android-arrow-dropright"></i> {{parentGroup.groupname}}
                    <i class="icon material-icons remove-flash" ng-click="$event.stopPropagation(); $parent.toggleGroupPin(parentGroup)" ng-if="lucidGroupPinned(parentGroup) === 1">check_circle</i>
                    <i class="icon material-icons remove-flash" ng-click="$event.stopPropagation(); $parent.toggleGroupPin(parentGroup)" ng-if="lucidGroupPinned(parentGroup) === 0">radio_button_unchecked</i>
                    <i class="icon material-icons remove-flash" ng-click="$event.stopPropagation(); $parent.toggleGroupPin(parentGroup)" ng-if="lucidGroupPinned(parentGroup) > 0 && lucidGroupPinned(parentGroup) < 1">remove_circle_outline</i>
                </ion-item>
                <div class="slide-toggle" ng-show="parentGroup.openInManager">
                    <div ng-repeat="shapegroup in shapeGroups | filter: $root.filter" ng-if="shapegroup.lucidgroup === parentGroup.groupname">
                        <ion-item class="item-icon-right" ng-class="{'pinned-group': shapegroup.pinned}" ng-click="shapegroup.pinned = !shapegroup.pinned">
                            {{shapegroup.groupname}}
                            <i class="icon material-icons" ng-if="shapegroup.pinned">check_circle</i>
                            <i class="icon material-icons" ng-if="!shapegroup.pinned">radio_button_unchecked</i>
                        </ion-item>
                    </div>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-modal-view>