<div id="option-bar" class="group">
          <ul>
            <li 
              class="small left" 
              ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'line'}"
              tooltips 
              tooltip-side="bottom"
              tooltip-template="Undo">
              <lucid-buttcon icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-undo-22px.svg"></lucid-buttcon>
            </li>
            <li 
              class="small left" 
              ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'line'}"
              tooltips 
              tooltip-side="bottom"
              tooltip-template="Redo">
              <lucid-buttcon icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-redo-22px.svg"></lucid-buttcon>
            </li>
            <li ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'line'}">
              <lucid-select class="condensed joint-left" options="['Lucida Sans', 'Raleway', 'Source Sans Pro', 'Helvetica Neue']" width="140"></lucid-select>
            </li>
            <li ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'line'}">
              <lucid-input-stepper class="condensed joint-right" step="1" width="50" number="selectedBlock.text.size" unit="pt" style="margin-right: 5px;"></lucid-input-stepper>
            </li>
            <li 
              class="small left" 
              ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'line'}"
              tooltips 
              tooltip-side="bottom"
              tooltip-template="Bold">
              <lucid-buttcon ng-click="bold=!bold" active="bold" icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-text-bold-22px.svg"></lucid-buttcon>
            </li>
            <li 
              class="small middle" 
              ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'line'}"
              tooltips 
              tooltip-side="bottom"
              tooltip-template="Italic">
              <lucid-buttcon ng-click="italic=!italic" active="italic" icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-text-italic-22px.svg"></lucid-buttcon>
            </li>
            <li 
              class="middle" 
              ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'line'}"
              tooltips 
              tooltip-side="bottom"
              tooltip-template="Underline">
              <lucid-buttcon ng-click="underline=!underline" active="underline" icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-text-underline-22px.svg"></lucid-buttcon>
            </li>
            <!-- BEGIN TEXT ALIGNMENT -->
            <li 
              class="middle" 
              ng-controller="textAlignmentCtrl" 
              ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'line'}"
              tooltips 
              tooltip-side="bottom"
              tooltip-template="Alignment">
              <lucid-buttcon-popover 
                icon="https://lucidsoftware.github.io/particle/components/1.0/icon/img/morph-text-alignment.svg" 
                width="96"
                showpopover="textAlignment.show">
                  <div class="lucid-wrapper-overflow-hidden">
                          <ul ng-click="textAlignment.show=false">
                            <li class="lucid-buttcon" ng-repeat="align in alignment" ng-class="{active: align.verticalalignment == selected.text.verticalalignment && align.horizontalalignment == selected.text.horizontalalignment}" ng-click="$parent.selected.text.verticalalignment = align.verticalalignment; $parent.selected.text.horizontalalignment = align.horizontalalignment; changeAlignment(align.verticalalignment, align.horizontalalignment);"><img class="lucid-button-icon" ng-src="{{align.icon}}"></li>
                        </ul>
                      </div>
              </lucid-buttcon-popover>
            </li>
            <!-- END TEXT ALIGNMENT -->
            <!-- BEGIN TEXT OPTIONS -->
            <li 
              class="middle toggle" 
              ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'line'}"
              tooltips 
              tooltip-side="bottom"
              tooltip-hide-trigger="click mouseleave"
              tooltip-template="Text Options">
              <lucid-buttcon-popover icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-text-options-22px.svg" width="322">
                <div style="padding:10px"><img src="assets/placeholder-text-options.png" /></div>
                <div class="secondary-gray"><img class="gray-bottom" src="assets/placeholder-text-options-bottom.png" /></div>
              </lucid-buttcon-popover>
            </li>
            <!-- END TEXT OPTIONS -->
            <span class="line"></span>
            <!-- START COLOR PICKER -->
            <li 
              class="left" 
              ng-class="{'inactive': $root.selectedType == 'nothing'}"
              tooltips 
              tooltip-side="bottom"
              tooltip-template="Color">
              <lucid-color-picker selected="selectedBlock"></lucid-color-picker>
            </li>
            <!-- END COLOR PICKER -->
            <span class="line"></span>


            <!-- BEGIN SHAPE OPTIONS -->
            <li 
              ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'line'}"
              tooltips 
              tooltip-side="bottom"
              tooltip-template="Shape Options">
              <lucid-buttcon-popover icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-shape-options-22px.svg" width="245">
                  <div><img src="assets/placeholder-shape-options.png">
                  </div>
                  <lucid-more-drawer height="108">
                    <img style="width: 217px;" src="assets/placeholder-shadow-options.png" />
                  </lucid-more-drawer>
              </lucid-buttcon-popover>
            </li>
            <!-- END SHADOW OPTIONS -->


            <!-- BEGIN POSITION OPTIONS -->
            <li 
              ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'line'}"
              tooltips 
              tooltip-side="bottom"
              tooltip-template="Shape Metrics">
              <lucid-buttcon-popover icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-position-22px.svg" width="260">
                <div><img src="assets/placeholder-shape-metrics.png" /></div>
              </lucid-buttcon-popover>
            </li> 
            <!-- END POSITION OPTIONS -->
            <span class="line"></span>

            <!-- BEGIN LINE OPTIONS -->
            <li 
              ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'block'}"
              tooltips 
              tooltip-side="bottom"
              tooltip-template="Line Options">
              <lucid-buttcon-popover icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-linepath-90-22px.svg" width="288">
                <div><img src="assets/placeholder-line-options.png" /></div>
              </lucid-buttcon-popover>
            </li> 
            <!-- END LINE OPTIONS -->

            <li 
              ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'block'}">
              <img src="assets/placeholder-line-style.svg">
            </li>

            <li 
              ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'block'}"
              tooltips 
              tooltip-side="bottom"
              tooltip-template="Swap Line Ending">
              <lucid-buttcon icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-swap-22px.svg"></lucid-buttcon>
            </li>
            <span class="line"></span>
            <!-- BEGIN MISC. OPTIONS -->
            <li 
              class="small left" 
              ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'line'}"
              tooltips 
              tooltip-side="bottom"
              tooltip-template="Actions">
              <lucid-buttcon-popover icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-lightning-22px.svg" width="217">
                <ul ng-init="link.type = 'None'" class="hotspot-options">
                      <li>
                          <lucid-buttcon icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-x-22px.svg" alignment="center" label="None" active="link.type == 'None'" ng-click="link.type='None'"></lucid-buttcon>
                      </li>
                      <li>
                          <lucid-buttcon icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-page-outline-22px.svg" alignment="center" label="Page" active= "link.type == 'Page'"ng-click="link.type='Page'"></lucid-buttcon>
                      </li>
                      <li>
                          <lucid-buttcon icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-layers-22px.svg" alignment="center" label="Layers" active="link.type == 'Layers'" ng-click="link.type='Layers'"></lucid-buttcon>
                      </li>
                      <li>
                          <lucid-buttcon icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-link-22px.svg" alignment="center" label="Link" active="link.type == 'Link'" ng-click="link.type='Link'"></lucid-buttcon>
                      </li>
                      <li>
                          <lucid-buttcon icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-envelope-22px.svg" alignment="center" label="Email" active="link.type == 'email'" ng-click="link.type='email'"></lucid-buttcon>
                      </li>
                  </ul>
                  <div class="hotlink-tab-content" ng-if="link.type !='None'">
                      
                      <div ng-if="link.type == 'Page'">
                        <lucid-select width="188" class="condensed" label="Link to Page" options="['Page 1', 'Page 2', 'Page 3', 'Page Four']"></lucid-select>
                      </div>
                      <div ng-if="link.type == 'Layers'" class="hotspot-layers">
                        <div>
                          <span>Show:</span><lucid-select width="133" class="condensed" options="['Layer 1', 'Layer 2', 'Layer 3', 'Layer 4']"></lucid-select>
                        </div>
                        <div>
                          <span>Hide:</span><lucid-select width="133" class="condensed" options="['Layer 1', 'Layer 2', 'Layer 3', 'Layer 4']"></lucid-select>
                        </div>
                        <div>
                          <span>Toggle:</span><lucid-select width="133" class="condensed" options="['Layer 1', 'Layer 2', 'Layer 3', 'Layer 4']"></lucid-select>
                        </div>
                      </div>
                      <div ng-if="link.type == 'Link'">
                        <lucid-input placeholder="http://" width="188" label="Website URL" class="condensed"></lucid-input>
                      </div>
                      <div ng-if="link.type == 'email'">
                        <lucid-input placeholder="david@lucidchart.com" width="190" label="Email" class="condensed"></lucid-input>
                      </div>
                  </div>
              </lucid-buttcon-popover>
            </li>
            <li 
              ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'block' || $root.selectedType == 'line'}"
              tooltips 
              tooltip-side="bottom"
              tooltip-template="Magnetize">
              <lucid-buttcon ng-click="magnetize=!magnetize" active="magnetize" icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-magnet-22px.svg"></lucid-buttcon>
            </li>
            <li 
              ng-class="{'inactive': $root.selectedType == 'nothing'}""
              tooltips 
              tooltip-side="bottom"
              tooltip-template="Lock">
              <lucid-buttcon ng-click="locked=!locked" active="locked" icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-lock-locked-22px.svg"></lucid-buttcon>
            </li>
            <li 
              ng-class="{'inactive': $root.selectedType == 'nothing'}""
              tooltips 
              tooltip-side="bottom"
              tooltip-template="Shape Data">
              <lucid-buttcon-popover icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-shape-data-22px.svg" width="368">
                <div><img src="assets/placeholder-shape-data.png" /></div>
              </lucid-buttcon-popover>
            </li>
            <span class="line"></span>
            <li 
              ng-class="{'inactive': $root.selectedType == 'nothing' || $root.selectedType == 'block' || $root.selectedType == 'line'}""
              tooltips 
              tooltip-side="bottom"
              tooltip-template="Advanced Options">
              <lucid-buttcon active="$root.selectedType == 'table'" icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-wrench-22px.svg"></lucid-buttcon>
            </li>

            <!-- END MISC. OPTIONS -->
          </ul>
          <div style="display: flex; align-items: center;">
            <lucid-buttcon icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-present-22px.svg"></lucid-buttcon>
            <lucid-buttcon id="full-screen-toggle" icon="https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-screen-mode-22px.svg" ng-click="canvasMode()"/></lucid-buttcon>
          </div>
   
    <div class="hover-handle" ng-mouseenter="enterOptionBar()" ng-mouseleave="cancelHover()" ng-if="canvasmode == 2"></div>
        </div>