
  <!-- START TEMPLATE MANAGER -->
 <lucid-modal showmodal="templateModal" ng-init="templateModal = true" width="800" height="400" title="Select Document Type" confirm="Import" cancel="Nevermind">
 	<div style="height:800px;">
	    <lucid-finger-tabs>
	        <lucid-finger-tab name="Search">
	            Tab 1
	        </lucid-finger-tab>
	        <lucid-finger-tab name="All" selected>
	                   <div ng-repeat="template in templates" class="image__cell is-collapsed" ng-class="{'is-expanded': expanded == true}" click-outside="expanded=false;">
                          <div class="image--basic">
                            <a href="#expand-jump-1" ng-click="expanded = !expanded" style="display: inline-block; position: relative; background: #e6e6e6; padding: 3px; height: 89px; width: 89px;">
                              <div class="title" style="text-align: center; padding: 5px 5px;">{{template.name}}</div>
                              <div style="height: 40px; width: 50px; margin: 0px auto; background:url({{template.preview}});  background-repeat: no-repeat; background-size:contain; background-position: center center;"></div>
                               <div class="recommended" ng-if="template.recommended == 'true'">Recommended</div>
                            </a>
                            <div class="arrow--up"></div>
                             
                          </div>
                         
                          <div class="image--expand">
                            <a href="#close-jump-1" class="expand__close" ng-click="expanded=false;"></a>
                              <div class="exampleSection" style="width:50%; display: inline-block; padding: 15px; float: left;">
                                <div class="mainPreview" ng-mouseenter="showLink = true;" ng-mouseleave="showLink = false" ng-init="mainImage = template.example1" style="background:url({{mainImage}}); background-repeat: no-repeat; min-height: 150px; width: 100%; background-size: contain; background-position: center center; background-color: white;display: inline-block; position: relative"></div>
                                <div class="smallPreviewWrapper" style="display: block;">
                                  <div class="smallPreview" ng-mouseenter="mainImage = template.example1" ng-mouseleave="mainImage = template.example1" style="background:url({{template.example1}}); background-repeat: no-repeat; min-height: 50px; width: 20%; margin: 10px 5px 0px 5px; background-size: contain; background-position: center center; background-color: white; display: inline-block;"></div>
                                   <div class="smallPreview" ng-mouseenter="mainImage = template.example2" ng-mouseleave="mainImage = template.example1" style="background:url({{template.example2}}); background-repeat: no-repeat; min-height: 50px; width: 20%;  margin: 10px 5px 0px 5px; background-size: contain; background-position: center center; background-color: white; display: inline-block;"></div>
                                   <div class="smallPreview" ng-mouseenter="mainImage = template.example3" ng-mouseleave="mainImage = template.example1" style="background:url({{template.example3}}); background-repeat: no-repeat; min-height: 50px; width: 20%;  margin: 10px 5px 0px 5px; background-size: contain; background-position: center center; background-color: white; display: inline-block;"></div>
                                   <div class="smallPreview" ng-mouseenter="mainImage = template.example4" ng-mouseleave="mainImage = template.example1" style="background:url({{template.example4}}); background-repeat: no-repeat; min-height: 50px; width: 20%; margin: 10px 5px 0px 5px; background-size: contain; background-position: center center; background-color: white; display: inline-block;"></div>
                                </div>
                              </div>
                              <div class="information" style="display: inline-block; width: 35%; padding: 15px 8px; ">
                                <div style="padding-bottom: 10px; font-size: 16px;">{{template.name}}</div>
                                <div style="padding-bottom: 10px; font-size: 12px; line-height: 15px;">{{template.details}}<a href="https://www.lucidchart.com/pages/process-mapping" target="_blank" style="text-align: center; color: rgb(41,170,225)"> Learn More</a></div>
                                <div ng-click="$root.showtemplatemanager = false; loadDiagram(template);" class="component-btn component-btn-steel-blue create-button light-hover" id="new-folder-button">New {{template.name}}</div>

                              </div>

                              </div>
                          </div>
	        </lucid-finger-tab>
	        <lucid-finger-tab name="Popular">
	            Tab 3
	        </lucid-finger-tab>
	        <lucid-finger-tab name="Recent">
	            Tab 3
	        </lucid-finger-tab>
	         <lucid-finger-tab name="IT / Engineering" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-person-22px.svg">
	            Tab 3
	        </lucid-finger-tab>
	         <lucid-finger-tab name="Business" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-person-22px.svg">
	            Tab 3
	        </lucid-finger-tab>
	         <lucid-finger-tab name="Education" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-person-22px.svg">
	            Tab 3
	        </lucid-finger-tab>
	         <lucid-finger-tab name="IT" icon="http://particle.golucid.co/components/3.0/icon/icons/icon-person-22px.svg">
	            Tab 3
	        </lucid-finger-tab>
	    </lucid-finger-tabs>
	</div>
</lucid-modal>