<div class="lucid-shapes-panel-wrapper" selected=selectedBlock>
    <div class="lucid-shapes-panel" ng-class="{ 'lucid-managing-shapes': $root.manageshapes }">
        <div class="lucid-pinned-shapes-panel">
            <header class="lucid-shapes-header">
                <span ng-click="clickShapes();">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-gear-bluesteel.svg" class="lucid-icon-22 lucid-shapes-gear">
                <span class="lucid-more-shapes">Shapes</span>
                </span>

<!-- start import to canvas -->
                <lucid-buttcon-popover ng-hide="$root.manageshapes" icon="http://particle.golucid.co/components/0.0/icon/img/import-shape-dark.svg" width="165" class="import-dropdown lucid-animate" showpopover="importToCanvas">
                    <div class="lucid-select-wrapper">
                        <div class="lucid-select-dropdown">
                            <ul>
                                <li class="lucid-select-option">
                                    <input type="file" class="hidden-file-upload">
                                    <img class="lucid-icon-22" src="http://particle.golucid.co/components/0.0/icon/img/icon-computer-bluesteel-22px.svg">
                                    Computer
                                </li>
                                <li class="lucid-select-option" ng-click="openWindow('https://www.dropbox.com/chooser')">
                                    <img class="lucid-icon-22" src="http://particle.golucid.co/components/0.0/icon/img/icon-dropbox-bluesteel-22px.svg">
                                    Dropbox
                                </li>
                                <li class="lucid-select-option" ng-click="openWindow('https://accounts.google.com/login?hl=en')">
                                    <img class="lucid-icon-22" src="http://particle.golucid.co/components/0.0/icon/img/icon-googledrive-bluesteel-22px.svg">
                                    Google Drive
                                </li>
                                <li class="lucid-select-option" ng-click="openWindow('https://m.facebook.com/')">
                                    <img class="lucid-icon-22" src="http://particle.golucid.co/components/0.0/icon/img/icon-facebook-bluesteel-22px.svg">
                                    Facebook
                                </li>
                                <li class="lucid-select-option" ng-click="openWindow('https://login.yahoo.com/config/login?.src=flickrsignin')">
                                    <img class="lucid-icon-22" src="http://particle.golucid.co/components/0.0/icon/img/icon-flickr-bluesteel-22px.svg">
                                    Flickr
                                </li>
                            </ul>
                        </div>
                    </div>
                </lucid-buttcon-popover>

<!-- end import to canvas -->
                <img src="http://particle.golucid.co/components/0.0/icon/img/search-dark.svg" ng-hide="$root.manageshapes" class="lucid-icon-22 lucid-shapes-search lucid-animate" ng-click="searchshapes = !searchshapes">
            </header>
            <div class="search-shapes lucid-animate" ng-show="searchshapes">
                <div class="search-shapes-input lucid-animate" ng-show="searchshapes">
                    <input type="text" placeholder="Search shapes and images...">
                    <span class="more-shapes">More</span>
                </div>
                <div class="search-groups-wrapper">
                    <lucid-shape-group name="Lucidchart Shapes" shapes="[{name:'block', fill:'#fff', stroke:'#888', height:'22', width:'22', strokewidth:'2', radius:'2', text:'#777'},{name:'container', fill:'#fff', stroke:'#888', height:'22', width:'22', strokewidth:'2', radius:'2', text:'#777'},{name:'star', fill:'#fff', stroke:'#888', height:'22', width:'22', strokewidth:'2', radius:'2', text:'#777'},{name:'polygon', fill:'#fff', stroke:'#888', height:'22', width:'22', strokewidth:'2', radius:'2', text:'#777'}, {name:'container', fill:'#fff', stroke:'#888', height:'22', width:'22', strokewidth:'2', radius:'2', text:'#777'},{name:'star', fill:'#fff', stroke:'#888', height:'22', width:'22', strokewidth:'2', radius:'2', text:'#777'},{name:'polygon', fill:'#fff', stroke:'#888', height:'22', width:'22', strokewidth:'2', radius:'2', text:'#777'}]"></lucid-shape-group>
                    <lucid-collapse-bar title="Google">
                        <ul class="placeholder-elements">
                            <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                        </ul>
                    </lucid-collapse-bar>
                    <lucid-collapse-bar title="Iconfinder">
                    <ul class="placeholder-elements">
                            <li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                        </ul>
                    </lucid-collapse-bar>
                </div>
            </div>
            <div id="left-panel-shapes" class="lucid-shapes-scroll lucid-animate" ng-hide="searchshapes">
                <div id="left-panel-shapes-scroll" class="lucid-scroll-inner-wrap">
                    <ul dnd-list="shapegroups"
                        dnd-allowed-types="['containerType']"
                        dnd-external-sources="true"
                        dnd-dragover="dragoverCallback(event, index, external, type)"
                        dnd-drop="pinGroup(item); dropCallback(event, index, item, external, type, 'containerType')"
                        class="lucid-group-drop-area">
                        <li ng-repeat="shapegroup in shapegroups | filter:{pinned:'true'} | orderBy:'pinnedOrder'"
                            dnd-draggable="shapegroup"
                            dnd-type="'containerType'"
                            dnd-effect-allowed="move"
                            dnd-moved="pinnedgroups.splice($index, 1)"
                            class="lucid-shape-group-wrapper left-panel repeat-animation lucid-animate">

                        	<lucid-shape-group shapes="shapegroup.shapes" name="{{shapegroup.groupname}}" custom="{{shapegroup.custom}}"></lucid-shape-group>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div ng-drag-clone="" class="ng-binding" draggable="false">
                <div ng-bind-html="clonedData.svg | sanitize"></div>
            </div> -->
            <lucid-import-options ng-show="!$root.manageshapes"></lucid-import-options>
            <div class="overflow-message lucid-animate" ng-show="overflowMessage">"{{overflowMessageTitle}}" Pinned</div>
        </div>
        <div class="lucid-shape-manager lucid-manage-shapes lucid-animate" ng-show="$root.manageshapes">
            <div class="lucid-shape-manager-top-bar">
                <div class="top-bar-inner" ng-show="$root.manageshapes">
                    <lucid-button 
                        icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-add-white-18px.svg"  
                        class="lucid-new-library lucid-blue" 
                        ng-click="newCustomGroup()">Custom Group</lucid-button>
                    <div class="lucid-search-container">
                        <input type="search" placeholder="Search Shapes" ng-model="searchShapes">
                        <img class="lucid-search-icon" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-search-white.svg">
                    </div>
                    <img ng-click="$root.manageshapes=false" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-close-white.svg" class="lucid-close-icon">
                </div>
            </div>

            <div class="lucid-shapes-scroll lucid-animate" ng-show="$root.manageshapes">
                <div class="lucid-scroll-inner-wrap">
                    <div class="lucid-shapes-manager-divider">
                        <div class="divider-inner">
                            <div class="divider-title">
                                CUSTOM SHAPE GROUPS
                            </div>
                            <div class="divider-line"></div>
                        </div>
                    </div>
                    <ul dnd-list="shapegroups"
                        dnd-allowed-types="['containerType']"
                        dnd-external-sources="true"
                        dnd-dragover="dragoverCallback(event, index, external, type)"
                        dnd-drop="dropCallback(event, index, item, external, type, 'containerType')"
                        class="lucid-shapegroup-columns"
                        scroll-position="scroll">
                        <li ng-repeat="shapegroup in shapegroups | filter:searchShapes"
                            dnd-draggable="shapegroup"
                            dnd-type="'containerType'"
                            dnd-effect-allowed="move"
                            dnd-moved="shapegroups.splice($index, 1)"
                            class="lucid-shape-group-wrapper lucid-animate"
                            ng-class-odd="'odd'"
                            ng-class-even="'even'"
                            ng-if="shapegroup.custom">

                            <lucid-shape-group-manage shapes="shapegroup.shapes" name="{{shapegroup.groupname}}" custom="{{shapegroup.custom}}"></lucid-shape-group>

                        </li>
                    </ul>
                    <div class="lucid-shapes-manager-divider">
                        <div class="divider-inner">
                            <div class="divider-title">
                                LUCIDCHART SHAPE GROUPS
                            </div>
                            <div class="divider-line"></div>
                        </div>
                    </div>

                    <ul dnd-list = "shapegroups"
                        dnd-external-sources="true"
                        dnd-allowed-types="['containerType']"
                        dnd-dragover="dragoverCallback(event, index, external, type)"
                        dnd-drop="unPinGroup(item); dropCallback(event, index, item, external, type, 'containerType')"
                        class="lucid-shapegroup-columns">
                        <li ng-repeat="shapegroup in shapegroups | filter:searchShapes | orderBy:'groupname' | limitTo:5 track by shapegroup.id"
                            dnd-draggable="shapegroup"
                            dnd-type="'containerType'"
                            dnd-effect-allowed="copy"
                            dnd-moved="shapegroups.splice($index, 1)"
                            class="lucid-shape-group-wrapper"
                            ng-class-odd="'odd'"
                            ng-class-even="'even'">

                            <lucid-shape-group-manage shapes="shapegroup.shapes" name="{{shapegroup.groupname}}" custom="{{shapegroup.custom}}"></lucid-shape-group>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>