<ion-view view-title="{{folderName}}">
    <ion-content>
        <ion-list>
            <div class="item-divider padding" ng-if="filteredFolders.length>0">Folders</div>
            <div class="row" ng-show="filteredFolders.length>0">
                <div class="col-50" ng-repeat="folder in filteredFolders = (folders | filter: {insideFolder:folderID, group:filter} | filter: $root.search)">
                    <ion-item class="item-stable item-icon-left item-icon-right" ui-sref="app.folder({folderID:'{{folder.id}}'})">
                        <i class="icon light" ng-if="!folder.shared"><icon-svg src="img/icons/folder-solid.svg"></icon-svg></i>
                        <i class="icon light" ng-if="folder.shared"><icon-svg src="img/icons/folder-shared-solid.svg"></icon-svg></i>{{folder.name}}
                        <i class="icon light" ng-click="$event.stopPropagation(); showFolderOptions(folder)"><icon-svg src="img/icons/more.svg"></icon-svg></i>
                    </ion-item>
                </div>
            </div>
            <div class="item-divider padding" ng-if="FilteredDocuments.length>0">Files</div>
            <div class="row" ng-show="FilteredDocuments.length>0">
                <div class="col-50" ng-repeat="document in FilteredDocuments = (documents | filter: {insideFolder:folderID, group:filter} | filter: $root.search)" ng-click="openDocument(document.id)">
                    <div class="doc-thumb-image" style="background-image: url({{document.thumb}})"></div>
                    <ion-item class="item-stable item-icon-right" ng-class="{'item-icon-left': document.shared}">
                        <i class="icon light" ng-if="document.shared"><icon-svg src="img/icons/folder-shared-solid.svg"></icon-svg></i></i>
                        {{document.name}}
                        <i class="icon light" ng-click="$event.stopPropagation(); showFileOptions(document)"><icon-svg src="img/icons/more.svg"></icon-svg></i></i>
                    </ion-item>
                </div>
            </div>
        </ion-list>
    </ion-content>
    <ion-footer-bar align-title="left" class="bar-stable">
        <!-- <div class="remaining-docs">{{10-documents.length}} Remaining documents</div> -->
    </ion-footer-bar>
</ion-view>