<div class="lucid-fab-wrap" ng-controller="fabCtrl">
    <ul class="mini-fabs">
        <li class="three" ng-show="openFab">
            <label>New Folder</label>
            <button class="lucid-fab mini">
                <i class="material-icons">create_new_folder</i>
            </button>
        </li>
        <li class="two" ng-show="openFab">
            <label>Import</label>
            <button class="lucid-fab mini">
                <i class="material-icons">file_upload</i>
            </button>
        </li>
        <li class="one" ng-show="openFab">
            <label>Choose Template</label>
            <button class="lucid-fab mini">
                <i class="lucid-icon"><ng-include src="'https://lucidsoftware.github.io/particle/components/3.0/icon/icons/icon-compass-22px.svg'"></ng-include></i>
            </button>
        </li>
        <li class="zero" ng-show="openFab">
            <label>Create Blank Flowchart</label>
        </li>
    </ul>

    <button class="lucid-fab" ng-click="clickFab()" ng-click-outside="openFab = false" ng-class="{'scale-fab': scaleFab}">
        <i class="icon material-icons" ng-show="!openFab">add</i>
        <i class="icon material-icons pencil" ng-show="openFab">edit</i>
    </button>
    <div class="action-sheet-backdrop" ng-show="openFab" ng-class="{'active': openFab}" ng-click="openFab = false"></div>
</div>