<lucid-buttcon-popover icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-position-bluesteel.svg" width="306">
    <div style="padding:15px 15px 10px 15px;">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/position-options.png">
    </div>
    <lucid-more-drawer height="108" showdrawer="'true'" class="hide-drawer-handle">
        <div style="padding: 5px 13px 0">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/position-options-more.png">
        </div>
    </lucid-more-drawer>
    </lucid-popover-menu>
</lucid-buttcon-popover>