<div style="height:300px;">
    <lucid-finger-tabs>
        <lucid-finger-tab name="First Tabby" icon="http://particle.golucid.co/components/0.0/icon/img/html-dark.svg" selected>
            Tab 1
        </lucid-finger-tab>
        <lucid-finger-tab name="Second Tab">
            Tab 2
        </lucid-finger-tab>
        <lucid-finger-tab name="Third Tab">
            Tab 3
        </lucid-finger-tab>
        <lucid-finger-tab icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/t-157/icon-color-bluesteel.svg" name="Fourth Tab">
            Tab 4
        </lucid-finger-tab>
    </lucid-finger-tabs>
</div>